
.innerBox {
    max-width: 100%;
    min-width: 100%;
}
#wrapper {
    margin-right: 1%;
    max-width: 100%;
    min-width: 980px;
    padding-top: 50px;
}
.va_b {
    vertical-align: bottom;
}
#container {
    box-sizing: border-box;
    padding-left: 0;
    position: relative;
}
.side-title {
    color: #bbb;
    font-size: 11px;
    font-weight: 600;
    line-height: 40px;
    padding: 0 12px;
}
.side-links {
    font-size: 11px;
}
.side-links > li p {
    color: #bbb;
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
}
.side-links > li ul a {
    padding-left: 22px;
}
.side-links > li a {
    color: #fff;
    display: block;
    line-height: 14px;
    padding: 13px 0 13px 12px;
    position: relative;
}
.side-links > li a::after {
    clear: both;
    content: "";
    display: block;
}
.side-links > li a.selected {
    background: #22313d none repeat scroll 0 0;
    border-left: 4px solid #44d095;
    padding-left: 8px;
}
.side-links > li a:hover {
    opacity: 0.7;
}
.side-links .icon_green {
    float: right;
    margin: 0.5px 13px 0.5px 8px;
}
.icon_msg {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_msg.png") no-repeat scroll center 0;
    display: inline-block;
    height: 13px;
    margin-right: 10px;
    vertical-align: middle;
    width: 14px;
}
.side-links .icon_green {
    display: inline-block;
    float: none;
}
.side-links .icon_message_new {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_msg_new.png") no-repeat scroll 0 0 / 13px 12px;
    display: block;
    float: right;
    height: 12px;
    margin: 0.5px 11px 0.5px 0;
    width: 13px;
}
#column-communication-sub {
    background-color: #212931;
    box-sizing: border-box;
    height: 100%;
    left: 160px;
    padding-top: 50px;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: 1;
}
#column-communication-sub-content {
    box-sizing: border-box;
    padding: 35px 0 50px;
}
#column-communication-sub-content > p {
    margin: 0 10px 10px;
}
#column-communication-main {
    padding-left: 400px;
}
.btn-default {
    background: #bbb none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    min-width: 120px;
    padding: 0 30px;
    text-align: center;
}
.btn-default:hover {
    background: #a2a2a2 none repeat scroll 0 0;
}
.btn-primary {
    background-color: #44d095;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    min-width: 120px;
    padding: 0 30px;
    text-align: center;
}
.btn-primary:hover {
    background: #2db47b none repeat scroll 0 0;
}
.communication-headline {
    margin: 0 10px 25px;
}
.communication-headline::after {
    clear: both;
    content: "";
    display: block;
}
.communication-headline h2 {
    display: inline;
}
.communication-headline + p {
    font-weight: bold;
    margin: 0 10px;
}
.communication-headline .icon_message_new {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_msg_new.png") no-repeat scroll 0 0;
    display: block;
    float: right;
    height: 14px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 18px;
}
.communication-headline .icon_search {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_search.png") no-repeat scroll 0 0;
    display: block;
    float: right;
    height: 15px;
    margin-left: 14px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 15px;
}
.form-folder-add {
    background-color: #212931;
    border: 1px solid #35414e;
    margin: 0 10px 25px;
}
.form-folder-add::after {
    clear: both;
    content: "";
    display: block;
}
.form-folder-add input[type="text"] {
    background: transparent none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff;
    float: left;
    height: 25px;
    padding: 5px;
    width: 163px;
}
.form-folder-add input[type="text"]:-moz-placeholder {
    color: #3a4755;
    opacity: 1;
}
.form-folder-add input[type="text"]::-moz-placeholder {
    color: #3a4755;
    opacity: 1;
}
.form-folder-add button {
    background-color: #35414e;
    color: #fff;
    height: 25px;
    width: 55px;
}
.folder-group + .folder-group {
    margin-top: 40px;
}
.folder-item {
    color: #fff;
}
.folder-item.open .folder-head, .folder-item.open .folder-head02 {
    background-color: #111b25;
    background-image: url("/img/common/arrow_close.png");
}
.folder-item.open .in-folder-list {
    display: block;
}
.folder-head {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_open.png") no-repeat scroll 207px center;
    border-bottom: 1px solid #262f38;
    border-top: 1px solid #262f38;
    cursor: pointer;
    height: 28px;
    position: relative;
}
.folder-head p {
    letter-spacing: 1.4px;
    line-height: 28px;
    padding-left: 15px;
}
.folder-head p.folder-name {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_folder.png") no-repeat scroll 11px 7px;
    padding-left: 30px;
}
.folder-head .icon_green {
    display: inline-block;
}
.folder-head .btn_gear {
    right: 3px;
}
.folder-head02 {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_open.png") no-repeat scroll 224px center;
    border-bottom: 1px solid #262f38;
    cursor: pointer;
    height: 28px;
    position: relative;
}
.folder-head02 .folder-name {
    letter-spacing: 1.4px;
    line-height: 28px;
    padding-left: 10px;
}
.folder-head02 .icon_green {
    display: inline-block;
}
.in-folder-list {
    display: none;
}
.in-folder-list > li {
    border-bottom: 1px solid #262f38;
    cursor: pointer;
    display: block;
    padding: 15px 10px;
    position: relative;
}
.in-folder-list > li::after {
    clear: both;
    content: "";
    display: block;
}
.in-folder-list > li:first-child {
    border-top: medium none;
}
.in-folder-list > li:hover {
    background: #212931 none repeat scroll 0 0;
}
.in-folder-list > li.selected {
    background: #111b25 none repeat scroll 0 0;
}
.in-folder-list > li .icon_circle {
    float: left;
    height: 40px;
    width: 40px;
}
.in-folder-list .in-folder-reply {
    line-height: 20px;
    position: absolute;
    right: 5px;
    top: 20px;
}
.in-folder-list .in-folder-reply .icon_circle {
    height: 20px;
    margin-left: 2px;
    width: 20px;
}
.in-folder-list .label-question {
    display: block;
    position: absolute;
    right: 5px;
    top: 20px;
}
.in-folder-cap {
    line-height: 20px;
    margin-left: 48px;
    position: relative;
}
.in-folder-cap p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 105px;
}
.in-folder-cap .btn_gear {
    margin: 0;
}
.in-folder-name {
    font-weight: bold;
}
.in-folder-time {
    height: 11px;
    line-height: 1em;
    overflow: hidden;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 3px;
    width: 50px;
}
.in-folder-setting-popup {
    background-color: #fff;
    border: 1px solid #bbb;
    box-sizing: border-box;
    color: #333;
    display: none;
    left: 40px;
    padding: 10px 0;
    position: absolute;
    top: 36px;
    width: 150px;
    z-index: 10;
}
.in-folder-setting-popup::after, .in-folder-setting-popup::before {
    border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 122px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.in-folder-setting-popup::after {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff;
    border-width: 8px;
    margin-left: -8px;
}
.in-folder-setting-popup::before {
    border-color: rgba(187, 187, 187, 0) rgba(187, 187, 187, 0) #bbb;
    border-width: 9px;
    margin-left: -9px;
}
.in-folder-setting-popup li {
    padding: 3px 12px;
}
.in-folder-setting-popup li:hover {
    background: #ededed none repeat scroll 0 0;
}
.in-folder-setting-popup p {
    color: #bbb;
    padding: 3px 12px;
}
.in-folder-setting-popup p + ul li::before {
    content: "- ";
}
.bookmark-item {
    color: #fff;
    margin-bottom: 5px;
}
.bookmark-item.open .bookmark-head {
    background-image: url("/img/common/arrow_close.png");
}
.bookmark-item.open .bookmark-links {
    display: block;
}
.bookmark-item .bookmark-head {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_open.png") no-repeat scroll 43px center;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    position: relative;
}
.bookmark-item .bookmark-head:hover {
    opacity: 0.7;
}
.bookmark-item .bookmark-links {
    display: none;
}
.bookmark-item .bookmark-links a {
    color: #fff;
    display: inline-block;
    margin: 0 0 10px 10px;
    text-decoration: underline;
}
.bookmark-item .bookmark-links a:hover {
    opacity: 0.7;
}
.communication-title {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    min-height: 130px;
    padding: 35px 30px 0;
}
.communication-title_container p {
    font-size: 14px;
}
.communication-title_container .communication-title-sub img {
    margin-right: 16px;
}
.communication-title_container h1 {
    border-bottom: 1px solid #e5e8eb;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding: 8px 0;
}
.communication-title_container h1.none-title {
    color: #ddd;
}
.communication-title_container h1 input[type="text"] {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
}
.communication-title_container h1 input[type="text"]:-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
.communication-title_container h1 input[type="text"]::-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
.communication-title .entry_user {
    border: 1px solid #ffffff;
    color: #ddd;
    line-height: 30px;
}
.communication-title .entry_user .icon_circle, .communication-title .entry_user p {
    float: left;
    line-height: 30px;
    margin-right: 9px;
}
.communication-title .entry_user .select2-search__field {
    height: 28px;
}
.communication-title .entry_user .select2-search__field:-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
.communication-title .entry_user .select2-search__field::-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
.communication-title .search-box {
    padding: 7px 0;
}
.communication-title .search-box .search-input {
    font-size: 16px;
    line-height: 40px;
    width: 480px;
}
.communication-title .search-box .search-input:-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
.communication-title .search-box .search-input::-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
.communication-title .search-box .btn-search {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_search.png") no-repeat scroll center center / 12px auto;
    border: medium none;
    display: block;
    height: 40px;
    width: 40px;
}
.post-bookmark {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_bookmark.png") no-repeat scroll center center;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 16px;
}
.post-goback {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_back.png") no-repeat scroll center center / 12px auto;
    display: inline-block;
    height: 16px;
    position: relative;
    text-indent: 100%;
    white-space: nowrap;
    width: 16px;
}
.post-goback span {
    background: #eee none repeat scroll 0 0;
    display: none;
    font-size: 10px;
    left: -30px;
    padding: 2px;
    position: absolute;
    text-align: center;
    top: 15px;
}
.post-goback:hover span {
    display: block;
}
.post-goback:hover {
    background-image: url("/img/common/icon_back-selected.png");
}
.post-bookmark:hover, .post-bookmark.selected {
    background-image: url("/img/common/icon_bookmark-selected.png");
}
.post-medal {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_medal.png") no-repeat scroll center center;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 16px;
}
.communication-post-area {
    margin: 10px auto;
    width: 100%;
}
.communication-post-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    margin-left: 10px;
    padding: 25px 25px 5px;
}
.communication-post-box + .communication-post-box {
    margin-top: 10px;
}
.communication-post-box.close .communication-post-block {
    display: none;
}
.communication-post-block {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.communication-post-block:last-child {
    border-bottom: medium none;
    margin-bottom: 0;
}
.communication-post-form {
    font-size: 12px;
}
.communication-post-form h2 {
    border-bottom: 1px solid #e5e8eb;
    font-size: 14px;
    padding-bottom: 10px;
}
.communication-post-form table {
    margin-bottom: 20px;
}
.communication-post-form th, .communication-post-form td {
    padding: 4px 0;
}
.communication-post-form th {
    padding-right: 20px;
    text-align: right;
    width: 160px;
}
.communication-post-form td {
    width: 360px;
}
.communication-post-form td .select-input-box {
    line-height: 35px;
}
.communication-post-form input[type="text"], .communication-post-form select {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    height: 35px;
    padding: 8px 10px;
    width: 100%;
}
.communication-post-form select {
    background: #fff url("../../img/setting/arrow_select.png") no-repeat scroll right 10px center;
    border: 1px solid #e5e8eb;
    border-radius: 0;
    box-sizing: border-box;
    padding: 8px 10px;
    width: 100%;
}
.communication-post-form select.select_short {
    width: 130px;
}
.communication-post-form .select-input-box {
    border: 1px solid #e5e8eb;
    height: 35px;
    line-height: 35px;
}
.communication-post-form .select-input-box + input {
    margin-top: 9px;
}
.communication-post-form .select2-selection__choice {
    margin-top: 4px;
}
.communication-post-form .horizontal1 {
    margin-right: 4px;
    width: 140px !important;
}
.communication-post-form .horizontal2 {
    margin-right: 4px;
    width: 91px !important;
}
.communication-post-form .horizontal3 {
    width: 110px !important;
}
.communication-post-toggle {
    color: #bbb;
    cursor: pointer;
    padding: 5px 0 0;
    text-align: center;
}
.communication-post-toggle span {
    font-size: 13px;
    line-height: 24px;
}
.communication-post-toggle span::after {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select.png") no-repeat scroll center center;
    content: "";
    display: inline-block;
    height: 24px;
    vertical-align: bottom;
    width: 24px;
}
.communication-post-toggle.open span::after {
    background-image: url("/img/common/arrow_select_open.png");
}
.communication-post-info {
    margin-bottom: 10px;
}
.communication-post-info .icon_circle {
    float: left;
}
.communication-post-info .txt_author {
    line-height: 30px;
    margin-left: 10px;
}
.communication-post-meta {
    float: right;
}
.communication-post-meta .post-time {
    line-height: 16px;
    text-align: right;
    width: 62px;
}
.communication-post-meta .post-time, .communication-post-meta .post-bookmark, .communication-post-meta .post-setting, .communication-post-meta .post-to-quote, .communication-post-meta .post-goback {
    float: left;
    margin-right: 6px;
}
.communication-post-content {
    color: #333;
    font-size: 13px;
    line-height: 23px;
    padding: 0 0 20px 40px;
}
.communication-post-content .quote_source_user {
    display: block;
    margin: 20px 0 10px;
}
.communication-post-content .quote_source_user .icon_circle {
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
}
.communication-post-content .quote_source_user span {
    display: inline-block;
    line-height: 18px;
    margin-left: 8px;
}
.communication-post-content blockquote {
    border-left: 4px solid #bbb;
    margin: 5px 0;
    padding-left: 18px;
}
.communication-post-reply {
    margin: 10px 0 18px;
}
.communication-post-reply .reply-to {
    background-color: #44d095;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 17px;
    line-height: 17px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}
.communication-post-reply .icon_circle {
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
}
.communication-post-reply .reply-name {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}
.communication-post-reply .reply-name span {
    font-size: 11px;
    font-weight: normal;
}
.quote_connection .connection-content {
    padding: 12px 0 0 10px;
}
.quote_connection .connection-content::after {
    clear: both;
    content: "";
    display: block;
}
.quote_connection .connection-content:last-child {
    padding-bottom: 12px;
}
.quote_connection .icon_circle {
    float: left;
    height: 80px;
    width: 80px;
}
.quote_connection .connection-meta {
    line-height: 14px;
    margin-left: 100px;
}
.quote_connection .connection-name {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}
.quote_connection .connection-company {
    font-size: 11px;
    margin-bottom: 5px;
}
.quote_connection .connection-company span {
    display: block;
    font-weight: bold;
}
.quote_connection .connection-admission {
    font-size: 11px;
}
.quote_connection .connection-admission span {
    color: #bbb;
    display: block;
    font-size: 8px;
}
.icon_circle_arrow_right {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_circle_arrow_right.png") no-repeat scroll center center;
    display: inline-block;
    height: 16px;
    width: 16px;
}
.icon_download {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_download.png") no-repeat scroll center center;
    display: inline-block;
    height: 16px;
    width: 16px;
}
.quote_myfile .myfile-content {
    border-bottom: 1px solid #e5e8eb;
    border-top: 1px solid #e5e8eb;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    padding: 15px 0;
    position: relative;
}
.quote_myfile .myfile-content + .myfile-content {
    border-top: medium none;
}
.quote_myfile .myfile-content.select {
    background: #edfbfc none repeat scroll 0 0;
}
.quote_myfile .myfile-content span {
    color: #bbb;
    display: block;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
}
.quote_myfile .myfile-content .myfile-btns {
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
}
.quote_myfile .myfile-content .myfile-btns .icon_circle_arrow_right, .quote_myfile .myfile-content .myfile-btns .icon_download {
    margin-left: 12px;
}
.communication-next-date {
    color: #bbb;
    font-size: 12px;
    padding: 8px;
    text-align: center;
}
.communication-new-post {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #e5e8eb #e5e8eb -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    box-sizing: border-box;
    position: relative;
}
.new-post-textarea {
    padding: 14px 12px;
}
.new-post-textarea textarea {
    box-sizing: border-box;
    font-size: 13px;
    line-height: 23px;
    min-height: 90px;
    width: 100%;
}
.btn_post_large {
    background: rgba(0, 0, 0, 0) url("/img/communication/btn_post_large.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 12px;
    opacity: 0.5;
    position: absolute;
    right: 7px;
    top: 7px;
    transition: opacity 0.2s ease 0s;
    width: 12px;
}
.btn_post_large:hover {
    opacity: 1;
}
.communication-post-control-box {
    margin-left: 10px;
}
.communication-post-control-box .control-box-inner {
    border-top: 1px solid #e5e8eb;
    float: left;
    width: 80%;
}
.communication-post-control-box .icons {
    float: left;
    padding: 5px 0 4px 25px;
}
.communication-post-control-box .icons > a {
    margin-right: 8px;
}
.communication-post-control-box .input_checkbox + label {
    display: block;
    float: right;
    line-height: 34px;
    margin-right: 14px;
    padding: 0 0 0 25px;
}
.communication-post-control-box .btn_post_send {
    background-color: #44d095;
    box-sizing: border-box;
    color: #fff;
    float: right;
    height: 36px;
    text-align: center;
    width: 20%;
}
.icon_to {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_to.png") no-repeat scroll center center;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 26px;
}
.icon_clip {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_clip.png") no-repeat scroll center center;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 22px;
}
.icon_contact {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_contact.png") no-repeat scroll center center;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 22px;
}
.icon_team {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_team.png") no-repeat scroll center center;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 22px;
}
#lean_overlay {
    background: #dae0e1 none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.modal_box {
    background: #fff none repeat scroll 0 0;
    display: none;
    margin: 0 auto;
    padding: 50px;
    width: 500px;
}
.modal_box > h2 {
    font-size: 14px;
    margin: 0 0 30px;
    text-align: center;
}
.modal-btn-box {
    margin-top: 16px;
    text-align: center;
}
.modal-head #search-form {
    display: block;
    margin: 10px 0 0;
    padding: 0;
    width: 240px;
}
.modal-tab {
    margin-bottom: 8px;
}
.modal-tab li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #bbb;
    border-color: #e5e8eb #e5e8eb #e5e8eb -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    width: 105px;
}
.modal-tab li:first-child {
    border-left-width: 1px;
}
.modal-tab li:hover {
    background-color: #22313d;
}
.modal-tab li.selected {
    background-color: #22313d;
    position: relative;
}
.modal-tab li.selected::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #22313d rgba(34, 49, 61, 0) rgba(34, 49, 61, 0);
    border-image: none;
    border-style: solid;
    border-width: 6px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -6px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}
.modal-tab.type02 {
    display: table;
    width: 100%;
}
.modal-tab.type02 li {
    display: table-cell;
    float: none;
    min-width: 46px;
    width: auto;
}
.modal-tab-content > ul {
    display: none;
}
.modal-tab-content > ul.selected {
    display: block;
}
.to-list .to-content.select, .myfile-list .myfile-content.select {
    background: #edfbfc none repeat scroll 0 0;
}
.modal-search-box {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_search_contact.png") no-repeat scroll 5px center !important;
    border-bottom: 1px solid #ddd !important;
    margin: 0 30px 24px;
}
.modal-search-box .select2-container {
    padding-left: 21px;
}
.modal-search-box .select2-selection__rendered {
    padding-left: 21px;
}
.modal-search-box .select2-search__field {
    box-sizing: border-box;
    line-height: 30px;
    width: 100%;
}
.modal-search-result {
    font-size: 13px;
    font-weight: bold;
    line-height: 31px;
}
.modal-search-result dt {
    display: inline-block;
}
.modal-search-result dd {
    display: inline-block;
    text-align: right;
    width: 50px;
}
.modal-message-list {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    height: 318px;
    overflow-y: scroll;
}
.modal-message-list li {
    border-bottom: 1px solid #e5e8eb;
}
.modal-message-list li::after {
    clear: both;
    content: "";
    display: block;
}
.modal-message-list li:hover {
    background-color: #eee !important;
}
.modal-message-list li:last-child {
    border-bottom: medium none;
}
.modal-message-list li.no-result {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    padding: 26px !important;
    text-align: center;
}
.modal-message-list li > a {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_circle_arrow_right.png") no-repeat scroll 0 center;
    color: #bbb;
    display: block;
    float: right;
    font-size: 12px;
    padding-left: 18px;
}
.modal-message-list.folder li {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_folder.png") no-repeat scroll 15px center;
    font-size: 11px;
    line-height: 44px;
    padding: 0 21px 0 35px;
}
.modal-message-list.thread li {
    font-size: 11px;
    line-height: 44px;
    padding: 0 21px 0 10px;
}
.modal-message-list.thread .icon_circle {
    float: left;
    height: 23px;
    margin: 11px 14px 0 0;
    width: 23px;
}
.modal-message-list.keyword li {
    font-size: 11px;
    padding: 16px 50px 0 13px;
}
.modal-message-list.keyword .modal-message-list-head {
    line-height: 44px;
}
.modal-message-list.keyword .modal-message-list-head .icon_circle {
    float: left;
    height: 29px;
    margin: 7px 14px 0 0;
    width: 29px;
}
.modal-message-list.tag .icon_circle {
    float: left;
    height: 40px;
    margin: 14px 14px 0 0;
    width: 40px;
}
.modal-message-list.tag li {
    line-height: 70px;
    padding: 10px 13px;
}
.modal-message-list.tag li > div span {
    color: #bbb;
    display: block;
    font-size: 8px;
    font-weight: 600;
    line-height: 14px;
}
.modal-message-list.tag li > a {
    line-height: 70px;
}
.modal-message-list.tag .label {
    margin-left: 10px;
}
.modal-message-list.tag .multi {
    line-height: 16px;
}
.modal-message-list.tag .multi .icon_circle {
    display: inline-block;
    float: none;
    height: 20px;
    margin: 8px 2px 0 0;
    width: 20px;
}
.to-list {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    max-height: 368px;
    overflow-y: scroll;
}
.to-list .to-content {
    padding: 12px 20px 10px;
}
.to-list .to-content::after {
    clear: both;
    content: "";
    display: block;
}
.to-list .to-content:last-child {
    padding-bottom: 12px;
}
.to-list .to-content:hover {
    background: #eee none repeat scroll 0 0;
}
.to-list .icon_circle {
    float: left;
    height: 40px;
    margin-right: 20px;
    width: 40px;
}
.to-list .to-name {
    color: #444;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}
.to-list .to-name .fw_b {
    font-size: 80%;
    font-weight: normal;
    margin-left: 10px;
}
.myfile-list {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    max-height: 368px;
    overflow-y: scroll;
}
.myfile-list .myfile-content {
    font-size: 14px;
    font-weight: bold;
    position: relative;
}
.myfile-list .myfile-content:hover {
    background: #eee none repeat scroll 0 0;
}
.myfile-list .myfile-content > div {
    border-bottom: 1px solid #e5e8eb;
    margin: 0 10px;
    padding: 15px 0;
}
.myfile-list .myfile-content:last-child > div {
    border-bottom: medium none;
}
.myfile-list .myfile-content span {
    color: #bbb;
    display: block;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
}
.connection-list {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    max-height: 368px;
    overflow-y: scroll;
}
.connection-list .connection-content {
    padding: 12px 0 0 10px;
}
.connection-list .connection-content::after {
    clear: both;
    content: "";
    display: block;
}
.connection-list .connection-content:last-child {
    padding-bottom: 12px;
}
.connection-list .connection-content:hover {
    background: #eee none repeat scroll 0 0;
}
.connection-list .icon_circle {
    float: left;
    height: 80px;
    width: 80px;
}
.connection-list .connection-name {
    border-bottom: 1px solid #e5e8eb;
    color: #444;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 5px;
}
.connection-list .connection-icon-group {
    color: #bbb;
    display: block;
    float: right;
    font-size: 11px;
}
.connection-list .connection-icon-group span {
    display: inline-block;
    font-weight: normal;
    margin-right: 12px;
    padding-left: 17px;
}
.connection-list .connection-icon-group .connection-icon1 {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_medal.png") no-repeat scroll 0 center;
}
.connection-list .connection-icon-group .connection-icon2 {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_exp.png") no-repeat scroll 0 center;
}
.connection-list .connection-icon-group .connection-icon3 {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_team2.png") no-repeat scroll 0 center;
}
.connection-list .connection-meta {
    font-size: 12px;
    letter-spacing: 0.7px;
    line-height: 20px;
    margin-left: 100px;
}
.connection-list .connection-meta-left {
    line-height: 22px;
    width: 200px;
}
.connection-list .connection-meta-hr {
    border-right: 1px solid #e5e8eb;
    border-width: 0 1px 0 0;
    content: "";
    display: block;
    height: 48px;
    margin: 10px;
    width: 0;
}
.connection-list .connection-meta-right {
    line-height: 14px;
}
.connection-list .connection-meta-right span {
    color: #bbb;
    font-size: 8px;
}
.connection-list .connection-meta-right p {
    margin-bottom: 5px;
}
.connection-list .connection-locale {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_locate.png") no-repeat scroll 0 center;
    color: #bbb;
    padding-left: 17px;
}
.port_user_li::after {
    clear: both;
    content: "";
    display: block;
}
.port_user_li p {
    font-size: 13px;
    line-height: 30px;
    margin-left: 40px;
}
.query-side-tab {
    background: #3a4755 none repeat scroll 0 0;
    margin-bottom: 20px;
}
.query-side-tab::after {
    clear: both;
    content: "";
    display: block;
}
.query-side-tab a {
    color: #bbb;
    display: block;
    float: left;
    font-size: 10px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 25%;
}
.query-side-tab a.selected {
    background: #101b26 none repeat scroll 0 0;
}
.query-side-tab.tab3 a {
    width: 80px;
}
.query-metadata {
    border-bottom: 1px solid #e5e8eb;
    padding: 14px 0;
}
.query-metadata::after {
    clear: both;
    content: "";
    display: block;
}
.query-metadata-box1 {
    border-right: 1px solid #e5e8eb;
    box-sizing: border-box;
    display: table-cell;
    width: 330px;
}
.query-metadata-box1 dt {
    color: #bbb;
    float: left;
    font-size: 11px;
    padding: 7px 0;
    width: 99px;
}
.query-metadata-box1 dt .small {
    font-size: 9px;
}
.query-metadata-box1 dd {
    font-size: 12px;
    padding: 7px 0;
}
.query-metadata-box1 dd span {
    color: #bbb;
    font-size: 11px;
}
.query-metadata-box2 {
    box-sizing: border-box;
    display: table-cell;
    padding-left: 20px;
    width: 190px;
}
.query-metadata-box2.p0 {
    padding: 0;
}
.query-metadata-box2 dt {
    color: #bbb;
    font-size: 8px;
}
.query-metadata-box2 dd {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 7px 0;
}
.query-metadata-box3 {
    border-left: 1px solid #e5e8eb;
    box-sizing: border-box;
    display: table-cell;
    padding-left: 20px;
    width: 330px;
}
.query-metadata-box3 dt {
    color: #bbb;
    font-size: 8px;
}
.query-metadata-box3 dd {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 7px 0;
}
.query-metadata-box3 dd > div {
    margin-bottom: 10px;
}
.query-metadata-box3 dd > div::after {
    clear: both;
    content: "";
    display: block;
}
.query-metadata-box3 dd > div:last-child {
    margin: 0;
}
.query-metadata-box3 .query-icon-group {
    display: block;
    float: right;
}
.query-metadata-box3 .query-icon-group .query-txt, .query-metadata-box3 .query-icon-group .query-icon1, .query-metadata-box3 .query-icon-group .query-icon2, .query-metadata-box3 .query-icon-group .query-icon3 {
    color: #bbb;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    margin-right: 8px;
}
.query-metadata-box3 .query-icon-group .query-txt {
    font-size: 8px;
}
.query-metadata-box3 .query-icon-group .query-txt span {
    color: #333;
    font-size: 11px;
}
.query-metadata-box3 .query-icon-group .query-icon1 {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_medal.png") no-repeat scroll 0 center;
    padding-left: 16px;
}
.query-metadata-box3 .query-icon-group .query-icon2 {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_exp.png") no-repeat scroll 0 center;
    padding-left: 16px;
}
.query-detail {
    border-bottom: 1px solid #e5e8eb;
}
.query-detail .query-detail-content {
    display: none;
}
.query-detail .query-detail-content .communication-new-post {
    border-bottom: 1px solid #e5e8eb;
}
.query-detail p {
    font-size: 13px;
    line-height: 21px;
    padding: 20px 0;
}
.query-detail .query-detail-meta {
    border-top: 1px solid #e5e8eb;
    padding-top: 20px;
}
.query-detail .query-detail-meta .post-setting {
    margin-left: 15px;
}
.query-detail .query-detail-meta .appending {
    background-color: #44d095;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 17px;
    line-height: 17px;
    margin-right: 5px;
    padding: 2px 5px;
    text-align: center;
}
.query-detail .btn-toggle {
    color: #bbb;
    cursor: pointer;
    margin: 8px 0;
    text-align: center;
}
.query-detail .btn-toggle span {
    font-size: 13px;
    line-height: 24px;
}
.query-detail .btn-toggle span::after {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select.png") no-repeat scroll center center;
    content: "";
    display: inline-block;
    height: 24px;
    vertical-align: bottom;
    width: 24px;
}
.query-detail.open .query-detail-content {
    display: block;
}
.query-detail.open .btn-toggle span::after {
    background-image: url("/img/common/arrow_select_open.png");
}
.query-post-info {
    border-bottom: 1px solid #e5e8eb;
    line-height: 11px;
    padding-bottom: 10px;
    position: relative;
}
.query-post-info .icon_circle {
    float: left;
    height: 40px;
    margin-right: 7px;
    width: 40px;
}
.query-post-info .txt_author {
    line-height: 30px;
    margin-left: 10px;
}
.query-post-info.is-no-archive::before, .query-post-info.is-archive::before {
    content: "";
    height: 40px;
    left: -25px;
    position: absolute;
    top: 0;
}
.query-post-info.is-no-archive::before {
    border-left: 6px solid #44d095;
}
.query-post-info.is-archive {
    color: #bbb !important;
}
.query-post-info.is-archive::before {
    border-left: 6px solid #bbb;
}
.query-post-meta {
    float: right;
    text-align: right;
}
.query-post-meta .post-time {
    line-height: 16px;
    text-align: right;
    width: 62px;
}
.query-post-meta .post-time, .query-post-meta .post-medal, .query-post-meta .post-bookmark, .query-post-meta .post-setting, .query-post-meta .post-to-quote {
    float: left;
    margin-right: 10px;
}
.post-archive {
    display: inline-block;
    line-height: 15px;
    margin-top: 9px;
}
.post-archive::before {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_archive.png") no-repeat scroll center center;
    content: "";
    display: inline-block;
    height: 13px;
    margin-right: 5px;
    vertical-align: bottom;
    width: 10px;
}
.query-post-content {
    color: #333;
    font-size: 13px;
    line-height: 23px;
    padding: 20px 0;
}
.query-post-content a {
    text-decoration: underline;
}
.pop_up {
    cursor: pointer;
    display: inline-block;
    padding-left: 7px;
    position: relative;
    vertical-align: bottom;
}
.pop_up .pop_message {
    background: #66d7db none repeat scroll 0 0;
    box-sizing: border-box;
    color: #fff;
    display: none;
    font-size: 12px;
    left: -120px;
    line-height: 22px;
    padding: 16px 20px;
    position: absolute;
    top: 26px;
    width: 160px;
    z-index: 2;
}
.pop_up .pop_message::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(102, 215, 219, 0) rgba(102, 215, 219, 0) #66d7db;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 84%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.pop_up:hover .pop_message {
    display: block;
}
#column-communication-sub-content .query-side-content li > p {
    margin: 0 10px 10px;
}
.latest .in-folder-list {
    color: #fff;
    display: block;
}
.new-post-textarea textarea {
    height: 100%;
}
.btn_post_large.select {
    background-image: url("/img/communication/btn_post_large_on.png");
    opacity: 1;
}
.communication-post-control-box .control-box-inner {
    box-sizing: border-box;
    height: 36px;
}
.query-side-content > li {
    display: none;
}
.query-side-content > li.selected {
    display: block;
}
.communication-title .entry_user button {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ffffff;
    color: #cccccc;
    font-size: 16px !important;
    padding: 7px 0;
}
footer {
    box-sizing: border-box;
    margin-left: 400px;
    margin-top: 20px;
    min-width: 500px;
}
.listen_message {
    margin-top: 10px;
    text-align: right;
}
.unread {
    background: #edf3f5 none repeat scroll 0 0;
}
.in-folder-list > li.unread_thread {
    background: #7498a2 none repeat scroll 0 0;
}
.archived {
    color: #44d095;
}
