
html {
    min-height: 100%;
    height: 100%;
    min-width: 960px;
    width: 100%;
}
body {
    background: #ecf1f2 none repeat scroll 0 0;
    color: #333;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    line-height: 1;
    margin: 0;
    min-height: 100%;
    min-width: 960px;
    padding: 0;
    width: 100%;
	height: 100%;
}
body.whead::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 135px;
    left: 0;
    min-width: 960px;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: -1;
}
#lean_overlay {
    background: #ecf1f2 none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
p {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}
dl, dt, dd {
    margin: 0;
}
select {
    border: medium none;
    padding: 0;
}
input[type="text"], input[type="submit"] {
    border: medium none;
    padding: 0;
}
button {
    border: medium none;
    padding: 0;
}
textarea {
    border: medium none;
    padding: 0;
}
input, select {
    font-size: 11px;
    line-height: 1.2em;
}
textarea {
    font-size: 13px;
    line-height: 1.2em;
    resize: none;
}
input:focus, textarea:focus {
    outline: medium none;
}
.input_radio {
    display: none;
}
.input_radio + label {
    cursor: pointer;
    display: inline-block;
    line-height: 15px;
    padding: 0 0 0 20px;
    position: relative;
}
.input_radio + label::before {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bbb;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 12px;
    left: 4px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 12px;
}
.input_radio + label::after {
    background-color: #44d095;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 7px;
    margin-top: -3px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all 0.2s ease 0s;
    width: 6px;
}
.input_radio:checked + label::after {
    opacity: 1;
}
.input_checkbox {
    display: none;
}
.input_checkbox + label {
    cursor: pointer;
    display: inline-block;
    line-height: 15px;
    padding: 0 0 10px 20px;
    position: relative;
}
.input_checkbox + label::before {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bbb;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 12px;
    left: 4px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 12px;
}
.input_checkbox + label::after {
    background-color: #44d095;
    content: "";
    height: 6px;
    left: 7px;
    margin-top: -3px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all 0.2s ease 0s;
    width: 6px;
}
.input_checkbox:checked + label::after {
    opacity: 1;
}
ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
a:hover img {
    opacity: 0.7;
}
p {
    margin: 0;
}
.spacer-scrollY {
    overflow: hidden;
    width: 100%;
}
.spacer-scrollY > * {
    overflow-y: scroll !important;
    padding-right: 17px !important;
    width: calc(100% + 17px) !important;
}
.modal_win {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    height: 270px;
    margin: auto;
    padding: 79px;
    text-align: center;
    width: 620px;
}
.modal-edit-active .modal_win {
    padding: 60px 70px;
}
.modal_win p {
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 24px;
}
.modal_win p:first-child {
    font-weight: bold;
}
.modal_win p + p {
    margin-bottom: 32px;
}
.modal_win a {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 120px;
}
.modal_win .clear {
    margin: 0 auto;
    width: 245px;
}
.modal_win .clear a {
    float: left;
    margin: 0;
}
.modal_win .clear a:first-child {
    background: #44d095 none repeat scroll 0 0;
    margin-right: 5px;
}
.innerBox {
    min-width: 960px;
    width: 100%;
}
#wrapper {
    background-color: #ecf1f2;
    min-width: 960px;
    padding-top: 50px;
	min-height: calc(93% - 70px);
    width: 100%;
}
#container {
    box-sizing: border-box;
    padding-left: 170px;
}
.dside .page_topTitle {
    margin-bottom: 10px;
    padding-left: calc(50% - 135px);
}
.dside .page_topTitle .page_topTitle_container {
    width: 100%;
}
.dside #container {
    padding-left: 320px;
}
.dside #footer, .dside #foot-cp {
    padding-left: 330px;
    padding-right: 10px;
}
.hsearch .select2-container--open .select2-dropdown {
    margin-top: 14px;
}
.hsearch .page_topTitle {
    padding-bottom: 15px;
    width: 600px;
}
.hsearch .page_topTitle .page_topTitle_container {
    margin-bottom: 13px;
}
.hsearch .page_topTitle .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0;
}
.hsearch .page_topTitle .page_topSearch {
    height: 17px;
    padding-left: 27px;
    position: relative;
}
.hsearch .page_topTitle .page_topSearch select {
    display: block;
    width: 100%;
}
.hsearch .page_topTitle .page_topSearch .btn_search {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_search_contact.png") no-repeat scroll center center;
    cursor: pointer;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
}
.hsearch .page_topTitle .page_topSearch .btn_search input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.hsearch .page_topTitle .select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 11px;
    height: 17px;
    line-height: 17px;
}
.hsearch .page_topTitle .select2-container--default .select2-selection--multiple .select2-selection__choice span {
    height: 17px !important;
}
.hsearch .page_topTitle .select2-container .select2-selection--multiple {
    height: 17px;
    min-height: 17px;
}
.hsearch .page_topTitle .select2-search__field {
    font-size: 13px !important;
    height: 17px;
    line-height: 17px;
    padding: 0 !important;
    width: 100%;
}
aside {
    background: #333f49 none repeat scroll 0 0;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    height: 100%;
    left: 0;
    padding-top: 20px;
    position: fixed;
    top: 50px;
    width: 160px;
    z-index: 1;
}
aside .sub-aside {
    background: #212931 none repeat scroll 0 0;
    height: 100%;
    left: 160px;
    padding-top: 85px;
    position: absolute;
    top: 0;
    width: 160px;
}
aside .sub-aside .ttl_sub_side:first-child {
    margin-top: 0;
}
.ttl_side {
    background-position: 12px center;
    background-repeat: no-repeat;
    color: #bbb;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    margin: 7px 0;
    padding-left: 36px;
}
.ttl_sub_side {
    color: #5b6876;
    font-size: 11px;
    line-height: 1em;
    margin: 30px 0 10px;
    padding-left: 9px;
}
#column-main {
    float: left;
    padding: 9px 0 24px;
    width: 460px;
}
#column-sub {
    background: #fff none repeat scroll 0 0;
    float: right;
    width: 320px;
}
#column-main-single {
    margin: 0 auto;
    width: 620px;
}
.page_topTitle {
    background: #ecf1f2 none repeat scroll 0 0;
    margin-bottom: 40px;
    padding: 35px 0 45px 170px;
    position: relative;
}
.page_topTitle .page_topTitle_container {
    margin: 0 auto;
    width: 620px;
}
.page_topTitle p {
    font-size: 14px;
}
.page_topTitle p.btn_add {
    bottom: 57px;
    font-size: 12px;
    position: absolute;
    right: 10px;
}
.page_topTitle h1 {
    border-bottom: 1px solid #e5e8eb;
    font-size: 18px;
    line-height: 40px;
    margin: 0;
}
.tab li {
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    position: relative;
    text-align: center;
}
.clear::after {
    clear: both;
    content: " ";
    display: block;
}
.btn {
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
}
.btn_form {
    cursor: pointer;
    display: block;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    font-size: 11px;
    line-height: 1.2em;
    overflow: hidden;
}
.btn_form input[type="file"], .btn_form input[type="submit"] {
    display: none;
}
.btn_add {
    background: rgba(0, 0, 0, 0) url("../../img/setting/btn_circle_plus.png") no-repeat scroll 0 0;
    color: #bbb;
    cursor: pointer;
    font-size: 12px;
    line-height: 17px;
    padding: 0 0 0 25px;
}
.btn_full {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
}
.input_swich {
    display: none;
}
.input_swich + label, .input_swich + label::before, .input_swich + label::after {
    transition: all 0.3s ease 0s;
}
.input_swich + label {
    background-color: #b3b1b1;
    border: 1px solid #9a9898;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    position: relative;
    width: 50px;
}
.input_swich + label::before {
    content: "OFF";
    display: block;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 4px;
    top: 0;
}
.input_swich + label::after {
    background-color: #eee;
    border-radius: 2px;
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 19px;
}
.input_swich:checked + label {
    background-color: #44d095;
    border: 1px solid #3cbf88;
}
.input_swich:checked + label::before {
    content: "ON";
    left: 4px;
    right: auto;
}
.input_swich:checked + label::after {
    background-color: #f7f7f7;
    left: 29px;
}
.bg_green {
    background: #44d095 none repeat scroll 0 0;
    color: #fff;
}
.bg_gray {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
}
.bg_gray_light {
    background: #eee none repeat scroll 0 0;
}
.bg_dark {
    background: #22313d none repeat scroll 0 0;
    color: #fff;
}
.txt_8 {
    font-size: 8px;
}
.txt_10 {
    font-size: 10px;
}
.txt_11 {
    font-size: 11px;
}
.txt_12 {
    font-size: 12px;
}
.txt_13 {
    font-size: 13px;
}
.txt_14 {
    font-size: 14px;
}
.txt_18 {
    font-size: 18px;
}
.txt_range {
    height: 28px;
}
.txt_range div {
    display: table-cell;
    height: 28px;
    overflow-wrap: break-word;
    vertical-align: middle;
}
.fw_b {
    font-weight: bold;
}
.lh35 {
    line-height: 35px;
}
.txt_light_1, .txt_light_2 {
    color: #444;
}
.txt_gray {
    color: #bbb;
}
.txt_green {
    color: #44d095;
}
.ve_t {
    vertical-align: top;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt40 {
    margin-top: 40px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb40 {
    margin-bottom: 40px;
}
.ml10 {
    margin-left: 10px;
}
.ma {
    margin: 0 auto;
}
.ml20 {
    margin-left: 20px;
}
.pdl20 {
    padding-left: 20px;
}
.icon_green {
    background: #44d095 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 8px;
    height: 13px;
    line-height: 13px;
    margin: auto;
    text-align: center;
    width: 13px;
}
.icon_circle {
    border-radius: 100%;
    display: block;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
}
.icon_circle img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
#header {
    background: #102532 none repeat scroll 0 0;
    box-sizing: border-box;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#logo {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    transition: opacity 0.2s ease 0s;
    width: 170px;
}
#logo:hover {
    opacity: 0.7;
}
#nav {
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 520px;
}
#nav li.btn_block {
    float: left;
    width: 50px;
}
#nav li.btn_block a {
    display: block;
    height: 50px;
    position: relative;
    text-align: center;
    word-break: keep-all;
}
#nav .icon_green {
    position: absolute;
    right: 6px;
    top: 4px;
    z-index: 100;
}
#btn_profile {
    background: #545c61 none repeat scroll 0 0;
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding: 5px 12px 5px 9px;
    position: relative;
    width: 220px;
}
#btn_profile a:first-child {
    color: #fff;
    display: table;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    padding-left: 40px;
    position: relative;
    text-decoration: none;
    width: 115px;
}
#btn_profile .icon_circle {
    left: 0;
    position: absolute;
    top: 5px;
}
#btn_profile .icon_circle + span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.btn_gear {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_gear.png") no-repeat scroll center center;
    bottom: 0;
    display: block;
    height: 16px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.btn_gear:hover {
    background-image: url("/img/common/btn_gear-selected.png");
}
#btn_profile .btn_gear {
    right: 12.5px;
}
#line_footer {
    border-top: 1px solid #bbb;
    width: 100%;
}
footer {
    font-size: 11px;
    line-height: 19px;
    min-width: 960px;
    padding: 14px 0;
    text-align: center;
}
#footer {
    padding-left: calc(50% - 310px);
}
#footer a {
    color: #aeafaf;
    margin-left: 17px;
}
#footer a:first-child {
    margin-left: 0;
}
#foot-cp {
    color: #c7c8c9;
    padding-left: calc(50% - 310px);
    text-align: center;
}
#post-form, #post-form_ms {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #e5e8eb #e5e8eb -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    width: 458px;
}
#post-form > .clear, #post-form > .select-input-box, #post-form_ms > .clear, #post-form_ms > .select-input-box {
    border-bottom: 1px solid #e5e8eb;
}
#post-form .clear, #post-form_ms .clear {
    position: relative;
}
#post-form .clear .select-input-box, #post-form_ms .clear .select-input-box {
    box-sizing: border-box;
    float: left;
    width: 50%;
}
#post-form > .clear:first-child::before, #post-form_ms > .clear:first-child::before {
    background: #e5e8eb none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -0.5px;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 50;
}
.select-input-box {
    box-sizing: border-box;
    position: relative;
}
.select-input-box select {
    box-sizing: border-box;
    display: block;
    padding: 13px 30px 13px 12px;
    width: 100%;
}
.select-input-box .btn_select {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    display: block;
    padding: 13px 30px 13px 12px;
    position: relative;
    width: 100%;
}
.select-input-box .select2-container {
    z-index: 10;
}
.select-input-box .btn_arrow {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select.png") no-repeat scroll center center;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 22px;
    margin: auto;
    position: absolute;
    right: 4px;
    top: 0;
    width: 22px;
    z-index: 0;
}
.select2-container--open + .btn_arrow, .open .btn_arrow {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select_open.png") no-repeat scroll center center;
}
.post-txt {
    padding: 20px 22px 21px;
    position: relative;
}
.post-txt::after {
    background: #e5e8eb none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 20px;
    position: absolute;
    width: 420px;
}
.post-txt textarea {
    display: block;
    min-height: 102px;
    vertical-align: top;
    width: 100%;
}
#bg_tag, #bg_tag_ms {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_tag.png") no-repeat scroll 14px center;
    padding-left: 21px;
}
#bg_tag + .clear, #bg_tag_ms + .clear {
    height: 38px;
}
#post-form .btn_form, #post-form_ms .btn_form {
    border-right: 1px solid #e5e8eb;
    box-sizing: border-box;
    float: left;
    line-height: 38px;
    min-height: 100%;
    width: 25%;
}
#post-form .btn_form:first-child, #post-form_ms .btn_form:first-child {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_picture.png") no-repeat scroll 11px center;
    padding-left: 31px;
}
#post-form .btn_form:last-child, #post-form_ms .btn_form:last-child {
    border-right: medium none;
    text-align: center;
}
#btn_range .btn_select, #btn_range_ms .btn_select {
    height: 38px;
}
#btn_range ul, #btn_range_ms ul {
    display: block;
    height: 28px;
    left: 6px;
    position: absolute !important;
    top: 5px;
    width: 196px;
}
#btn_range .tag-select, #btn_range_ms .tag-select {
    background: #bbb none repeat scroll 0 0;
    border-radius: 1px;
    color: #fff;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    padding: 0 8px;
}
#btn_range .btn_arrow, #btn_range_ms .btn_arrow {
    z-index: 10 !important;
}
.chk-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #eee #eee;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-sizing: border-box;
    display: none;
    left: 0;
    line-height: 25px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 12;
}
.chk-box label {
    display: block;
    padding: 4px 12px 4px 20px;
}
.chk-box label:hover {
    background: #eee none repeat scroll 0 0;
}
.chk-box > .chk-box {
    border: medium none;
    display: block;
    padding: 0 0 0 19px !important;
    position: relative;
}
.open > .chk-box {
    display: block;
}
#post-form_ms .clear {
    width: 100%;
}
h2.headline {
    margin-bottom: 19px;
}
#timeline {
    margin-top: 37px;
}
#timeline .tab {
    float: left;
    width: 210px;
}
#timeline .tab li {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 50%;
}
#timeline .tab li.selected {
    background: #22313d none repeat scroll 0 0;
    cursor: auto;
}
#timeline .tab li.selected::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #22313d transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 30px;
    width: 0;
}
#timeline .select-input-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e8eb;
    float: right;
    width: 240px;
}
#timeline .btn_select {
    border: 1px solid #e5e8eb;
    height: 30px;
    padding: 9px 30px 9px 12px;
}
.post-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    margin-top: 11px;
}
.post-info {
    padding: 15px 19px;
}
.post-info .icon_circle {
    float: left;
}
.author-tags {
    float: right;
    width: 374px;
}
.txt_author {
    font-weight: bold;
}
.txt_author:hover {
    color: #44d095;
}
.post-meta {
    float: right;
    width: 110px;
}
.post-time {
    float: left;
    line-height: 16px;
    text-align: right;
    width: 62px;
}
.post-share {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_share.png") no-repeat scroll center center;
    margin-right: 4px;
}
.post-share:hover {
    background-image: url("/img/common/btn_share-selected.png");
}
.post-setting {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_gear.png") no-repeat scroll center center;
    position: relative;
}
.post-setting:hover {
    background-image: url("/img/common/btn_gear-selected.png");
}
.post-detail {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_detail.png") no-repeat scroll center center;
    margin-right: 4px;
    position: relative;
}
.post-detail:hover {
    background-image: url("/img/common/btn_gear-selected.png");
}
.post-del {
    background-image: url("/img/common/btn_share-selected.png");
}
.post-share, .post-setting, .post-detail, .post-del {
    background-size: cover;
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    width: 16px;
}
.active .post-setting_baloon {
    display: block;
}
.post-setting_baloon {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #bbb;
    cursor: auto;
    display: none;
    line-height: 1.9em;
    padding: 5px 13px;
    position: absolute;
    right: -19px;
    top: 23px;
    width: 122px;
    z-index: 1;
}
.post-setting_baloon a:hover {
    background: #fff none repeat scroll 0 0 !important;
    color: #44d095;
}
.post-setting_baloon::after, .post-setting_baloon::before {
    border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 121px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.post-setting_baloon::after {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff;
    border-width: 6px;
    margin-left: -6px;
}
.post-setting_baloon::before {
    border-color: rgba(187, 187, 187, 0) rgba(187, 187, 187, 0) #bbb;
    border-width: 7px;
    margin-left: -7px;
}
.post-share span, .post-detail span, .post-del span {
    background: #e5e8eb none repeat scroll 0 0;
    display: none;
    padding: 4px 8px;
    position: fixed;
}
.post-share.active span, .post-detail.active span, .post-del.active span {
    display: block;
}
.txt_tags {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_tag.png") no-repeat scroll left center;
    line-height: 13px;
    margin-top: 5px;
    padding-left: 15px;
}
.deleted .txt_tags {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding-left: 0;
}
.txt_tags a {
    text-decoration: underline;
}
.txt_tags a:hover {
    color: #44d095;
}
.post-content {
    line-height: 1.4em;
    margin: 0 auto;
    padding: 23px 19px 25px;
    position: relative;
}
.post-content::before {
    background: #ccc none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 420px;
}
.post-content .spacer-scrollY div {
    min-height: 113px;
}
.btn_post a {
    font-weight: bold;
    position: relative;
    text-align: center;
    width: 50%;
}
.btn_post a span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.btn_post a span:first-child {
    margin-right: 28px;
    padding-left: 22px;
}
.btn_post a:first-child {
    border-right: 1px solid #fff;
}
.btn_post a:first-child span:first-child {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_recommend.png") no-repeat scroll left center;
}
.btn_post a:last-child span:first-child {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_share.png") no-repeat scroll left center;
}
.btn_post a:hover {
    background-color: #44d095;
}
.post-ogp {
    display: block;
}
.ogp-thumb {
    background: #ccc none repeat scroll 0 0;
    cursor: pointer;
    height: 240px;
    overflow: hidden;
    position: relative;
}
.ogp-thumb img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.ogp-thumb video {
    width: 100%;
}
.ogp-content {
    padding: 20px 19px 21px;
}
.ogp-ttl {
    font-size: 16px;
    font-weight: bold;
}
.ogp-desc {
    font-size: 11.5px;
    margin: 8px 0;
}
.ogp-content .txt_gray {
    font-size: 11.5px;
    margin-top: 8px;
}
.ogp-thumb .btn_player {
    background: rgba(0, 0, 0, 0) url("/img/top/btn_player.png") no-repeat scroll center center;
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}
#icon_loading {
    margin: 26px auto 0;
    width: 46px;
}
#wheather-box {
    border-bottom: 1px solid rgba(187, 187, 187, 0.2);
    margin-bottom: 28px;
    padding: 21px 24px 16px;
}
#icon_wheather {
    float: left;
    width: 31px;
}
#info-now {
    float: right;
    width: 222px;
}
#info-now p {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}
#info-date {
    font-size: 18px;
    margin-bottom: 5px;
}
#info-locate {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_locate.png") no-repeat scroll left center;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    line-height: 12px;
    padding-bottom: 2px;
    padding-left: 14px;
}
#column-sub h2.headline {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    padding-left: 10px;
}
#column-sub .tab li {
    border-left: 1px solid #e5e8eb;
    border-top: 1px solid #e5e8eb;
    color: #aaa;
    padding: 10px 0;
    width: 33.33%;
}
#column-sub .tab li:last-child {
    border-right: 1px solid #e5e8eb;
}
#column-sub .tab li.selected {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    cursor: auto;
}
#column-sub .tab .icon_green {
    display: inline-block;
    margin-left: 5px;
    position: relative;
}
.contact-box {
    border-bottom: 1px solid #e5e8eb;
    border-top: 1px solid #e5e8eb;
}
.contact-item {
    border-top: 1px solid #e5e8eb;
    display: block;
    padding: 15px 26px 15px 21px;
    position: relative;
}
.contact-item:first-child {
    border-top: medium none;
}
.contact-item .icon_circle {
    float: left;
    height: 40px;
    width: 40px;
}
.contact-item.new-msg {
    background: #edfbfc none repeat scroll 0 0;
}
.contact-item:hover {
    background: #eeeeee none repeat scroll 0 0;
}
.contact-item:hover img {
    opacity: 1;
}
.contact-cap {
    float: right;
    position: relative;
    width: 226px;
}
.contact-cap p {
    line-height: 18.5px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.contact-name {
    font-weight: bold;
}
.contact-time {
    line-height: 18px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 5em;
}
.btn_more {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 9px auto 47px;
    text-align: center;
    width: 300px;
}
.btn_more:hover {
    background: #44d095 none repeat scroll 0 0;
}
#search-form {
    line-height: 12px;
    margin-bottom: 16px;
    padding: 0 24px 0 10px;
}
#search-form input {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_search_contact.png") no-repeat scroll 5px top;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding-bottom: 6px;
    padding-left: 21px;
    width: 100%;
}
.connection-cap {
    float: left;
    margin-left: 6px;
    width: 160px;
}
.connection-cap p {
    line-height: 18.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#connection-box .contact-item::before {
    border-radius: 100%;
    bottom: 0;
    content: "";
    display: block;
    height: 8px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    width: 8px;
}
#connection-box .contact-item:hover::before {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_msg.png") no-repeat scroll center center;
    border-radius: 0;
    height: 13px;
    right: 27px;
    width: 14px;
}
.icon_online::before {
    background: #44d095 none repeat scroll 0 0;
}
.icon_away::before {
    background: #ffd43e none repeat scroll 0 0;
}
.icon_offline::before {
    background: #bbb none repeat scroll 0 0;
}
#side-profile .icon_circle {
    height: 110px;
    margin: 0 auto;
    width: 110px;
}
#side-name {
    color: #fff;
    margin: 10px auto 23px;
    position: relative;
    width: 140px;
}
#side-name p:first-child {
    margin-bottom: 2px;
}
#side-link a {
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    position: relative;
}
#side-link a.selected {
    background: #22313d none repeat scroll 0 0;
    border-left: 4px solid #44d095;
    padding-left: 8px;
}
#side-link a:hover {
    opacity: 0.7;
}
#side-link .icon_green {
    bottom: 0;
    position: absolute;
    right: 15px;
    top: 0;
}
#win-btm {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    bottom: -200px;
    height: 235px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    transition: bottom 0.2s ease 0s;
    width: 380px;
    z-index: 500;
}
#win-btm.open {
    bottom: 0;
}
#win-head {
    background: #76d2e3 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding-left: 17px;
    position: relative;
}
#win-head::after {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_close.png") no-repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 6px;
    margin: auto;
    position: absolute;
    right: 17px;
    top: 0;
    width: 8px;
}
#win-btm.open #win-head::after {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_open.png") no-repeat scroll 0 0;
}
#win-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #76d2e3 #76d2e3;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 4px 4px;
    box-sizing: border-box;
    height: 200px;
    position: relative;
}
#win-box p {
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 42px;
    left: 0;
    line-height: 21px;
    padding-bottom: 74px;
    padding-top: 80px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 372px;
    z-index: 10;
}
#win-box.sent p {
    display: block;
}
#win-box span {
    font-weight: bold;
}
#win-box textarea {
    height: 134px;
    padding: 22px 14px 10px;
    width: 344px;
}
#win-box input[type="submit"] {
    display: block;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    width: 360px;
}
.win .select2-container.select2-container--default.select2-container--open {
    z-index: 20000;
}
#modal_search {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    height: 160px;
    margin: auto;
    padding: 35px 60px 0;
    transition: all 0.2s ease 0s;
    width: 620px;
}
#modal_search .basic_info {
    padding: 0 !important;
}
#modal_search .select2-selection {
    width: 327px;
}
#modal_search > p.txt_14:first-child {
    margin-bottom: 20px;
    text-align: center;
}
#modal_search > p.txt_14:first-child + div.clear {
    padding-bottom: 20px;
}
#modal_search > p.txt_14:first-child + div.clear input:first-child {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    float: left;
    font-size: 13px;
    height: 34px;
    line-height: 32px;
    padding-left: 8px;
    width: 420px;
}
#modal_search > p.txt_14:first-child + div.clear input:last-child {
    background: #44d095 none repeat scroll 0 0;
    color: #fff;
    float: right;
    font-size: 13px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 70px;
}
#modal_search > p.txt_14:first-child + div.clear + .basic_info .clear:first-child {
    border-bottom: 1px solid #e5e8eb;
    margin-bottom: 22px;
    padding: 7.5px 0;
    text-align: left;
}
#modal_search > p.txt_14:first-child + div.clear + .basic_info .clear:first-child p {
    float: left;
    line-height: 17px;
}
#modal_search > p.txt_14:first-child + div.clear + .basic_info .clear:first-child a {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_add.png") no-repeat scroll left center;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 17px;
    padding-left: 23px;
}
#modal_search .btn_open {
    border-top: 1px solid #e5e8eb;
    bottom: 0;
    cursor: pointer;
    height: 44px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 500px;
}
#modal_search .btn_open::after {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select.png") no-repeat scroll right center;
    color: #bbb;
    content: "DETAIL";
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    padding-right: 30px;
}
#modal_search.win {
    height: 535px;
}
#modal_search.win .basic_info {
    height: 329px;
}
#modal_search.win .btn_open::after {
    background-image: url("/img/common/arrow_select_open.png");
    content: "CLOSE";
}
#modal_search .basic_info {
    border: medium none;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.2s ease 0s;
}
#modal_search .basic_info th {
    padding-right: 0;
    width: 120px;
}
#modal_search .basic_info td {
    padding-left: 15px;
    width: 355px;
}
#modal_search .basic_info td.clear div {
    margin-bottom: 9px;
}
#modal_search .basic_info td.clear div input, #modal_search .basic_info td.clear div select {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    font-size: 13px;
    height: 35px;
    line-height: 25px;
    padding: 4px 10px;
    width: 100%;
}
#modal_search .basic_info td.clear div:first-child {
    float: left;
    width: 203px !important;
}
#modal_search .basic_info td.clear div:last-child {
    float: right;
    width: 150px !important;
}
#modal_search .basic_info td.txt_td {
    height: 38px;
    line-height: 38px;
}
#modal_search .basic_info td.txt_td div.select-box {
    border: 1px solid #e5e8eb;
    display: inline-block;
    width: 65px;
}
#modal_search .basic_info td.txt_td div.select-box select {
    box-sizing: border-box;
    height: 36px;
    line-height: 38px;
    padding-left: 10px;
    width: 100%;
}
input.btn_searchSubmit {
    background: #44d095 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 30px auto 0;
    text-align: center;
    width: 200px;
}
select {
    -moz-appearance: none;
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-sizing: content-box;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
select:focus {
    outline: medium none;
}
.modal-edit-active .select2-container, .search-active .select2-container {
    z-index: 120000;
}
.modal-edit-active .select2-dropdown {
    margin-top: 0 !important;
}
.modal-edit-active #wrapper .select2-container {
    z-index: 0;
}
#basic_info, .basic_info {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e5e8eb;
    margin-bottom: 40px;
    padding: 25px 19px;
}
#basic_info .ttl_edit, .basic_info .ttl_edit {
    border-bottom: 1px solid #e5e8eb;
    margin-bottom: 29px;
    padding-bottom: 10px;
}
#basic_info table, .basic_info table {
    border-collapse: collapse;
    table-layout: fixed;
}
#basic_info table + .ttl_edit, .basic_info table + .ttl_edit {
    margin-top: 20px;
}
#basic_info th, .basic_info th {
    font-size: 12px;
    padding: 12px 10px 0 0;
    text-align: right;
    vertical-align: top;
    width: 121px;
}
#basic_info td, .basic_info td {
    font-size: 13px;
    padding: 0 0 0 10px;
    width: 439px;
}
#basic_info td > input[type="text"], .basic_info td > input[type="text"] {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    margin-bottom: 9px;
    padding: 10px 12px;
    width: 100%;
}
#basic_info td > select, .basic_info td > select, #basic_info td.d-table-data select, .basic_info td.d-table-data select {
    border: 1px solid #e5e8eb;
    height: 13px;
    line-height: 1em;
    margin-bottom: 9px;
    padding: 10px 28px 10px 7px;
    width: 43px;
}
#basic_info td > select.short, .basic_info td > select.short {
    width: 30px;
}
#basic_info td > select.short + span, .basic_info td > select.short + span {
    display: inline-block;
    font-size: 12px;
}
#basic_info td input, #basic_info td select, .basic_info td input, .basic_info td select {
    font-size: 13px !important;
}
#basic_info td .select-box, .basic_info td .select-box {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select.png") no-repeat scroll right 4px center;
    color: #bbb;
}
#basic_info td .select-box.focus, .basic_info td .select-box.focus {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select_open.png") no-repeat scroll right 4px center;
}
#basic_info td .select-box.active, .basic_info td .select-box.active {
    color: #333;
}
#basic_info td .select-box option, .basic_info td .select-box option {
    color: #333;
}
#basic_info td .select-box option:first-child, .basic_info td .select-box option:first-child {
    color: #bbb;
}
#basic_info td .select-input-box, .basic_info td .select-input-box {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    margin-bottom: 9px;
    padding: 4px 0;
    width: 100%;
}
#basic_info td .select2-container .select2-selection--multiple, .basic_info td .select2-container .select2-selection--multiple {
    height: 25px;
    line-height: 25px;
    min-height: auto;
}
#basic_info td .select2-container--default .select2-selection--multiple .select2-selection__rendered, .basic_info td .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-left: 0;
}
#basic_info td .select2-container--default .select2-selection--multiple .select2-selection__choice, .basic_info td .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-left: 4px;
}
#basic_info td .select2-container .select2-search--inline .select2-search__field, .basic_info td .select2-container .select2-search--inline .select2-search__field {
    padding-left: 10px;
}
#basic_info .column_2 input, .basic_info .column_2 input {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    float: left;
    margin-bottom: 9px;
    padding: 10px 12px;
    width: 300px;
}
#basic_info .column_2 select, .basic_info .column_2 select {
    border: 1px solid #e5e8eb;
    float: right;
    height: 13px;
    line-height: 1em;
    margin-bottom: 9px;
    padding: 10px 28px 10px 7px;
    width: 92px;
}
#basic_info td input.sshort, .basic_info td input.sshort {
    margin-right: 7px;
    width: 130px;
}
#basic_info td input.sshort:last-child, .basic_info td input.sshort:last-child {
    width: 110px;
}
#basic_info .column_2.insel input, .basic_info .column_2.insel input {
    width: 230px;
}
#basic_info .column_2.insel select, .basic_info .column_2.insel select {
    width: 173px;
}
#basic_info .column_2.slsl select, .basic_info .column_2.slsl select {
    float: left;
    width: 143px;
}
#basic_info .column_2.slsl select + select, .basic_info .column_2.slsl select + select {
    margin-left: 10px;
}
#basic_info select.semi-short-select, .basic_info select.semi-short-select {
    width: 284px;
}
#basic_info select.short-select, .basic_info select.short-select {
    width: 184px;
}
#basic_info .column_3 input, .basic_info .column_3 input {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    float: left;
    margin-bottom: 9px;
    padding: 10px 12px;
    width: 140px !important;
}
#basic_info .column_3 select, .basic_info .column_3 select {
    border: 1px solid #e5e8eb;
    float: left;
    height: 13px;
    line-height: 1em;
    margin-bottom: 9px;
    padding: 10px 28px 10px 7px;
}
#basic_info .column_3 select.short-select, .basic_info .column_3 select.short-select {
    margin-left: 9.5px;
    width: 53px;
}
#basic_info .column_3 select.semi-short-select, .basic_info .column_3 select.semi-short-select {
    margin-left: 9.5px;
    width: 153px;
}
.menu_tag .menu_test {
    background: #e5e8eb none repeat scroll 0 0;
    display: none;
    font-size: 10px;
    left: 0;
    padding: 4px 8px;
    position: absolute;
    top: 40px;
    z-index: 100;
}
.menu_tag:hover .menu_test {
    display: block;
}
.txt_8 {
    font-size: 8px;
}
.scroll-box {
    background: #fff none repeat scroll 0 0;
    padding: 9px 0;
}
.scroll-box *:hover {
    background-color: #eee;
}
.knowledge #side-link a {
    height: 30px;
    line-height: 30px;
}
.scroll-item {
    padding: 16px 20px 15px;
    position: relative;
}
.scroll-item::before {
    background: #e5e8eb none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 582px;
}
.scroll-item:first-child {
    padding-top: 15px;
}
.scroll-item:first-child::before {
    display: none;
}
.scroll-box .fl, .detail-box .fl {
    width: 425px;
}
.scroll-box .fl p, .detail-box .fl p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.scroll-box .txt_11, .detail-box .txt_11 {
    line-height: 20px;
}
.scroll-box .txt_11 > span, .detail-box .txt_11 > span {
    margin-left: 10px;
}
.scroll-box .txt_11 a, .detail-box .txt_11 a {
    color: #bbb;
    margin-left: 6px;
    text-decoration: underline;
}
.scroll-box .txt_14, .detail-box .txt_14 {
    line-height: 23px;
}
.scroll-box .txt_12, .detail-box .txt_12 {
    line-height: 18px;
}
.scroll-box .txt_12 + .txt_12, .detail-box .txt_12 + .txt_12 {
    line-height: 16px;
}
.post-detail, .post-share, .post-rec {
    margin-right: 10px;
}
.post-rec {
    background: rgba(0, 0, 0, 0) url("/img/knowledge/icon_medal.png") no-repeat scroll center center;
    cursor: pointer;
    display: block;
    float: right;
    height: 17px;
    width: 16px;
}
.post-rec span {
    background: #e5e8eb none repeat scroll 0 0;
    display: none;
    padding: 4px 8px;
    position: fixed;
}
.post-rec.active span {
    display: block;
}
.post-detail:hover {
    background-image: url("/img/common/btn_detail.png");
}
.post-share {
    background-image: url("/img/common/btn_share_02.png");
}
.post-share:hover {
    background-image: url("/img/common/btn_share_02.png");
}
.ttl_side {
    background-image: url("/img/knowledge/ttl_side_knowledge.png");
}
.detail-box.draft {
    color: #bbb;
}
.detail-box.draft .detail-head .fl p.txt_14 span {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 11px;
    height: 17px;
    line-height: 17px;
    margin-right: 10px;
    margin-top: 3px;
    text-align: center;
    width: 37px;
}
.detail-box.draft .detail-body a {
    color: #bbb;
}
.detail-box.draft .detail-bottom a {
    color: #bbb !important;
}
.detail-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e8eb;
    padding: 15px 19px 0;
    width: 580px;
}
.detail-box .detail-head {
    border-bottom: 1px solid #e5e8eb;
    padding-bottom: 11px;
}
.detail-box .btn_detail {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_detail.png") no-repeat scroll left center;
    color: #bbb;
    display: block;
    float: right;
    height: 20px;
    line-height: 20px;
    margin-top: 4px;
    padding-left: 19px;
}
.detail-box .detail-body {
    border-bottom: 1px solid #e5e8eb;
    line-height: 24px;
    padding: 19px 0 15px;
}
.detail-box .detail-body a {
    margin-left: 0.08em;
    text-decoration: underline;
}
.detail-box .detail-body a:hover {
    color: #44d095;
}
.detail-box .btn_dopen {
    cursor: pointer;
    display: block;
    font-size: 13.18px;
    height: 36px;
    text-align: center;
}
.detail-box .btn_dopen span {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select.png") no-repeat scroll right center;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding-right: 22px;
}
.detail-bottom {
    border-bottom: 1px solid #e5e8eb;
    display: none;
    padding: 20px 0 13px;
}
.detail-bottom.open + .btn_dopen span {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select_open.png") no-repeat scroll right center;
}
.detail-bottom > .clear {
    border-bottom: 1px solid #e5e8eb;
    margin-bottom: 34px;
    padding-bottom: 14px;
    position: relative;
}
.detail-bottom > .clear .savefile_profile_text {
    display: table-cell;
    height: 55px;
    line-height: 18px;
    vertical-align: middle;
}
.detail-bottom > .clear::before {
    background: #e5e8eb none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 380px;
    position: absolute;
    top: 0;
    width: 1px;
}
body.edit .detail-bottom > .clear.author-box {
    border-bottom: 1px solid #e5e8eb;
    margin-bottom: 14px;
    padding-bottom: 14px;
}
.clear + .save_winning {
    border-top: medium none;
    margin-top: 0;
}
.detail-bottom > .clear.author-box > .fl:first-child {
    height: 55px;
    margin-right: 19px;
    padding: 0;
    width: 55px;
}
.detail-bottom > .clear.author-box::before {
    display: none;
}
.detail-bottom > .clear > .fl {
    padding-right: 19px;
    width: 361px;
}
.detail-bottom > .clear > .fl dd, .detail-bottom > .clear > .fl dt {
    float: left;
    font-size: 12px;
    height: 28px;
}
.detail-bottom > .clear > .fl dt {
    color: #bbb;
    vertical-align: middle;
    width: 91px;
}
.detail-bottom > .clear > .fl dd {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 270px;
}
.detail-bottom > .clear > .fl dd .txt_gray {
    margin-left: 5px;
}
.detail-bottom > .clear > .fl dd a {
    text-decoration: underline;
}
.detail-bottom > .clear > .fl dd a:hover {
    color: #44d095;
}
.detail-bottom > .clear > .fr {
    padding-left: 19px;
    width: 181px;
}
.detail-bottom > .clear > .fr .txt_gray {
    font-size: 8px;
    line-height: 14px;
}
.detail-bottom > .clear > .fr .txt_11 {
    line-height: 17px;
}
.detail-bottom > .clear > .fr .txt_11 + .txt_gray {
    margin-top: 3px;
}
#pager {
    margin: 20px auto;
    width: 490px;
}
#pager li {
    background: #fff none repeat scroll 0 0;
    color: #bbb;
    cursor: pointer;
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
}
#pager li.selected {
    background: #44d095 none repeat scroll 0 0;
    color: #fff;
}
#pager li:hover {
    opacity: 0.7;
}
body.bgw {
    background: #fff none repeat scroll 0 0 !important;
}
body.bgw .page_topTitle_container {
    border-bottom: 1px solid #e5e8eb;
}
body.bgw .page_topTitle {
    margin-bottom: 0;
}
body.edit .page_topTitle {
    padding-bottom: 0;
}
body.edit .page_topTitle_container {
    margin-bottom: 0;
    position: relative;
}
body.edit .page_topTitle_container .btn_back {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_circle_arrow_left.png") no-repeat scroll left center;
    display: inline-block;
    height: 15px;
    line-height: 15px;
    margin: 17px 0 14px;
    padding-left: 19px;
}
body.edit .page_topTitle_container .post-meta {
    bottom: 55px;
    position: absolute;
    right: 0;
}
body.edit .detail-bottom {
    display: block;
    margin-bottom: 0;
}
body.edit .detail-bottom .clear {
    border-bottom: medium none;
    margin-bottom: 0;
}
body.edit .detail-bottom .non-border.non-top {
    border-top: medium none !important;
}
body.edit .detail-bottom .non-border::before {
    display: none;
}
body.edit div.content {
    border-bottom: 1px solid #e5e5eb;
    font-size: 13px;
    line-height: 24px;
    padding: 30px 0 28px;
}
body.edit div.content p + p {
    margin-top: 23px;
}
.involve-box {
    margin-bottom: 60px;
}
.involve-box .involve-item {
    padding-bottom: 10px;
    width: 299px;
}
.involve-box .involve-item:nth-child(2n) {
    margin-left: 22px;
}
.involve-box .involve-item:nth-child(n+3) .fr {
    border-top: 1px solid #e5e8eb;
    padding-top: 14px;
}
.involve-box .involve-item:nth-child(n+3) .fl {
    margin-top: 14px;
}
.involve-box .involve-item .icon_circle {
    height: 80px;
    width: 80px;
}
.involve-box .involve-item .icon_circle img {
    width: 100%;
}
.involve-box .involve-item .fr {
    width: 203px;
}
.involve-box .involve-item .fr .txt_13 {
    margin-bottom: 6px;
}
.involve-box .involve-item .fr .txt_11 {
    line-height: 14.09px;
}
.involve-box .involve-item .fr .txt_8 {
    margin-top: 8px;
}
textarea {
    border-bottom: 1px solid #e5e8eb;
    box-sizing: border-box;
    height: 372px;
    margin-bottom: 40px;
    padding: 10px;
    width: 100%;
}
#timeline {
    margin: 0;
}
.lawyer-search, #lawyer-search {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_search_contact.png") no-repeat scroll left center !important;
    border-bottom: 1px solid #e5e8eb !important;
    line-height: 24px !important;
    margin-top: 4px !important;
    padding-left: 16px !important;
    width: 315px !important;
}
.lawyer-box, #laywer-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e8eb;
    margin: 9px 0 19px;
}
.lawyer-box + .clear, #laywer-box + .clear {
    margin-bottom: 58px;
}
.lawyer-box .lawyer-item, #laywer-box .lawyer-item {
    cursor: pointer;
    padding: 15px 33px;
    position: relative;
}
.lawyer-box .lawyer-item.selected, #laywer-box .lawyer-item.selected {
    background: #edfbfc none repeat scroll 0 0 !important;
}
.lawyer-box .lawyer-item.selected div, .lawyer-box .lawyer-item.selected p, #laywer-box .lawyer-item.selected div, #laywer-box .lawyer-item.selected p {
    background-color: #edfbfc !important;
}
.lawyer-box .lawyer-item:hover, #laywer-box .lawyer-item:hover {
    background: #eee none repeat scroll 0 0;
}
.lawyer-box .lawyer-item + .lawyer-item::before, #laywer-box .lawyer-item + .lawyer-item::before {
    background: #e5e8eb none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    left: 20px;
    position: absolute;
    top: 0;
    width: 582px;
}
.lawyer-box .lawyer-item .icon_circle, #laywer-box .lawyer-item .icon_circle {
    height: 100px;
    width: 100px;
}
.lawyer-box .lawyer-item .icon_circle img, #laywer-box .lawyer-item .icon_circle img {
    min-width: 100%;
}
.lawyer-box .lawyer-item .lawyer-content, #laywer-box .lawyer-item .lawyer-content {
    width: 440px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head, #laywer-box .lawyer-item .lawyer-content .lawyer-head {
    border-bottom: 1px solid #e5e8eb;
    padding-bottom: 8px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr, #laywer-box .lawyer-item .lawyer-content .lawyer-head .fr {
    text-align: right;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr span, #laywer-box .lawyer-item .lawyer-content .lawyer-head .fr span {
    display: inline-block;
    line-height: 17px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-rec, #laywer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-rec {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_medal.png") no-repeat scroll left center;
    padding-left: 17px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-credit, #laywer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-credit {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_exp.png") no-repeat scroll left center;
    margin-left: 17px;
    padding-left: 18px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-com, #laywer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-com {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_team2.png") no-repeat scroll left center;
    margin-left: 13px;
    padding-left: 22px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body, #laywer-box .lawyer-item .lawyer-content .lawyer-body {
    position: relative;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body::before, #laywer-box .lawyer-item .lawyer-content .lawyer-body::before {
    background: #e5e8eb none repeat scroll 0 0;
    content: "";
    height: 50px;
    left: 274px;
    position: absolute;
    top: 3px;
    width: 1px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl, #laywer-box .lawyer-item .lawyer-content .lawyer-body .fl {
    padding-right: 20px;
    width: 255px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl p, #laywer-box .lawyer-item .lawyer-content .lawyer-body .fl p {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl p.txt_gray, #laywer-box .lawyer-item .lawyer-content .lawyer-body .fl p.txt_gray {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_locate.png") no-repeat scroll 1px center;
    padding-left: 15px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fr, #laywer-box .lawyer-item .lawyer-content .lawyer-body .fr {
    padding-left: 20px;
    width: 145px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fr .txt_11 + .txt_8.txt_gray, #laywer-box .lawyer-item .lawyer-content .lawyer-body .fr .txt_11 + .txt_8.txt_gray {
    margin-top: 10px;
}
#all {
    display: block;
}
#all + #selected {
    display: none;
}
#all.view {
    display: none;
}
#all.view + #selected {
    display: block;
}
#label_range {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 60px;
}
#edit_range {
    float: left;
    height: 35px;
    margin: 2.5px 0;
    width: 240px;
}
#edit_range #btn_range .btn_select {
    height: 35px;
}
#edit_range #btn_range ul {
    top: 3.5px;
}
#edit_range #btn_range > .chk-box {
    border-bottom: medium none;
    border-top: 1px solid #e5e8eb;
    bottom: 100%;
    top: auto;
}
#edit_range + input {
    background: #44d095 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    text-align: center;
    width: 200px;
}
#img_upload > .fl.fw_b {
    padding-top: 12px;
    width: 160px;
}
#img_upload > .fl.fw_b + .fl {
    width: 460px;
}
#img_upload > .fl.fw_b + .fl .table {
    border-collapse: separate;
    border-spacing: 0 10px;
    display: table;
    margin-bottom: 40px;
    width: 460px;
}
#img_upload > .fl.fw_b + .fl .table .tr {
    display: table-row;
}
#img_upload > .fl.fw_b + .fl .table .tr .th, #img_upload > .fl.fw_b + .fl .table .tr .td {
    display: table-cell;
    margin-top: 10px;
    vertical-align: middle;
}
#img_upload > .fl.fw_b + .fl .table .tr .th {
    width: 117px;
}
#img_upload > .fl.fw_b + .fl .table .tr .th img {
    width: 100%;
}
#img_upload > .fl.fw_b + .fl .table .tr .td {
    padding-left: 27px;
    width: 326px;
}
#img_upload > .fl.fw_b + .fl .table .tr .td a {
    cursor: text;
    padding-left: 17px;
    position: relative;
}
#img_upload > .fl.fw_b + .fl .table .tr .td a span:first-child {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_delete.png") no-repeat scroll center center;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 9px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 9px;
}
#img_upload > .fl.fw_b + .fl .table .tr .td a span:last-child {
    border-bottom: 1px solid #333;
}
.fileInput {
    background: #bbb none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-top: 6px;
    position: relative;
    text-align: center;
    width: 118px;
}
.fileInput.maxFile {
    color: #ddd;
}
.fileInput input {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.fileInput + div {
    margin-bottom: 15px;
}
.fileInput + div > p {
    margin-top: 10px;
}
.fileInput + div > p a {
    cursor: text;
    padding-left: 17px;
    position: relative;
}
.fileInput + div > p a span:first-child {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_delete.png") no-repeat scroll center center;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 9px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 9px;
}
.fileInput + div > p a span:last-child {
    border-bottom: 1px solid #333;
}
.fileInput + div > p:first-child {
    margin-top: 15px;
}
.fileInput + div > p:last-child {
    margin-bottom: 22px;
}
#addsite {
    height: 17px;
    margin-top: 20px;
}
#addsite a {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_add.png") no-repeat scroll 4px center;
    color: #bbb;
    line-height: 17px;
    padding-left: 27px;
}
#btn_cancell {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    text-align: center;
    width: 100px;
}
.txt_eleft {
    line-height: 17px;
}
.btn_modalOpen {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_add.png") no-repeat scroll left center;
    color: #bbb;
    display: block;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    padding-left: 22px;
}
.modal-edit-active #modal_share {
    height: 580px;
}
.modal-edit-active #modal_share .textarea {
    height: 90px;
    padding: 10px 10px 170px;
    position: relative;
}
.modal-edit-active #modal_share .textarea .share-art {
    border: 1px solid #e5e8eb;
    bottom: 10px;
    box-sizing: border-box;
    height: 150px;
    left: 50%;
    margin-left: -209px;
    padding: 12px 7px;
    position: absolute;
    width: 418px;
}
.modal-edit-active #modal_share .textarea .share-art p {
    text-align: left;
}
.modal-edit-active #modal_share .textarea .share-art .txt_11 {
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 7px;
}
.modal-edit-active #modal_share .textarea .share-art .txt_11 span {
    text-decoration: underline;
}
.modal-edit-active #modal_share .textarea .share-art .txt_14 {
    border-bottom: 1px solid #e5e8eb;
    font-size: 14px;
    margin: 0;
    padding-bottom: 11px;
}
.modal-edit-active #modal_share .textarea .share-art .txt_13 {
    font-size: 13px;
    line-height: 24px;
}
.modal-edit-active #modal_share .textarea .share-art .txt_13 a {
    background: transparent none repeat scroll 0 0;
    color: #333;
    display: inline;
    font-size: 13px;
    margin: 0 0 0 3px;
    padding: 0 0 0 10px;
    text-decoration: underline;
}
.modal-edit-active #modal_share .textarea::after {
    display: none;
}
.modal-edit-active #modal_share textarea {
    border-bottom: medium none;
    height: auto;
    margin-bottom: 0;
    min-height: 90px;
    padding: 10px;
}
.modal-edit-active #modal_share #bg_tag_ms {
    border-right: 1px solid #e5e8eb;
    float: left;
    width: 289px;
}
.modal-edit-active #modal_share .bdt {
    border-top: 1px solid #e5e8eb;
}
.modal-edit-active #modal_share #btn_range_ms {
    width: 169px;
}
.modal-edit-active #modal_share #btn_range_ms ul {
    z-index: 20;
}
.modal-edit-active #modal_share .chk-box {
    text-align: left;
}
.modal-edit-active #modal_share .ta-c {
    margin-top: 42px;
    text-align: center;
}
.modal-edit-active #modal_share .ta-c .modal_close, .modal-edit-active #modal_share .ta-c .modal_share_cload {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.modal-edit-active #modal_share .ta-c .modal_share_cload {
    background: #44d095 none repeat scroll 0 0;
    margin-left: 5px;
    width: 140px;
}
.modal-edit-active #modal_share .ta-c .modal_close {
    background: #bbb none repeat scroll 0 0;
    width: 120px;
}
#modal_share {
    overflow: hidden;
    transition: all 0.2s ease 0s;
    z-index: 12000;
}
#modal_share #post-form .clear {
    width: 100%;
}
#modal_edit {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    display: none;
    height: 600px;
    padding: 30px;
    transition: all 0.2s ease 0s;
    width: 680px;
}
#modal_edit.complete {
    height: 320px;
    padding: 60px 30px;
    width: 620px;
}
#modal_edit > div > .txt_14:first-child {
    margin-bottom: 32px;
    text-align: center;
}
#modal_edit > div > .txt_14:first-child + .clear {
    width: 100%;
}
#modal_edit > div > .txt_14:first-child + .clear p {
    float: left;
    height: 24px;
    line-height: 24px;
}
#modal_edit > div > .txt_14:first-child + .clear input {
    float: right;
    margin-top: 0 !important;
    width: 294px !important;
}
#modal_edit a.btn_modalLawyer {
    background: #44d095 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    margin-top: -3.5px;
    padding: 0 10px;
}
#modal_edit #modal_detail .slimScrollDiv {
    height: 420px;
}
#modal_edit .slimScrollDiv {
    border: 1px solid #e5e8eb;
    height: 406px;
    margin: 10px 0 25px;
}
#modal_edit .slimScrollDiv .scroll-box {
    border: medium none;
    height: 100%;
    margin: 0;
    padding: 0;
}
#modal_edit .btn_can {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 120px;
}
#modal_edit .scroll-item {
    cursor: pointer;
}
#modal_edit .scroll-item.selected {
    background: #edfbfc none repeat scroll 0 0 !important;
}
#modal_edit .scroll-item.selected * {
    background-color: transparent;
}
#modal_edit .ta_c {
    text-align: center;
}
#modal_edit .ta_c .btn_import {
    background: #44d095 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    width: 212px;
}
#modal_edit .ta_c .btn_can {
    margin-left: 16px;
}
#modal_edit #modal_detail .modal_back {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_circle_arrow_left.png") no-repeat scroll 3px center;
    color: #bbb;
    font-size: 12px;
    font-weight: normal;
    height: 14px;
    line-height: 14px;
    padding: 0 0 0 22px;
    width: auto;
}
#modal_edit #modal_detail .scroll-box > div {
    background: #fff none repeat scroll 0 0 !important;
    padding: 8px 10px;
}
#modal_edit #modal_detail .scroll-box > div * {
    background: #fff none repeat scroll 0 0 !important;
}
#modal_edit #modal_detail .scroll-box > div > p.txt_14:first-child + p.txt_22 {
    border-bottom: 1px solid #e5e8eb;
    font-weight: bold;
    padding-bottom: 8px;
}
#modal_edit #modal_complete p.fw_b {
    margin-bottom: 16px;
}
#modal_edit #modal_complete p.fw_b + p.txt_14 {
    height: 54px;
    line-height: 27px;
}
#modal_edit #modal_complete span {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 315px;
}
#modal_edit #modal_complete span.btn_return {
    background: #44d095 none repeat scroll 0 0;
    margin: 27px auto 10px;
}
#modal_edit #modal_complete span.modal_close {
    background: #bbb none repeat scroll 0 0;
}
.knowledge_savefile .detail-head-gray {
    background: #eee none repeat scroll 0 0;
    border-bottom: medium none #e5e8eb;
    color: #bbb;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    padding: 0 19px;
}
.knowledge_savefile .detail-wrap {
    padding: 0 19px;
}
.knowledge_savefile .detail-box {
    padding: 0;
    width: 620px;
}
.knowledge_savefile .detail-head {
    padding: 15px 0 7px;
    position: relative;
}
.knowledge_savefile .detail-head .detail-author {
    color: #bbb;
    font-size: 11px;
    height: 19px;
    line-height: 19px;
    overflow: hidden;
    padding-left: 27px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 330px;
}
.knowledge_savefile .detail-head .detail-author span.icon_circle {
    display: block;
    height: 19px;
    left: 0;
    position: absolute;
    top: 0;
    width: 19px;
}
.knowledge_savefile .detail-head .detail-author span.icon_circle img {
    width: 100%;
}
.knowledge_savefile .detail-head .detail-author span.fw_b {
    color: #333;
    margin-right: 7px;
}
.knowledge_savefile .detail-head .post-meta {
    bottom: 26px;
    position: absolute;
    right: 0;
}
#side-link .ttl_sub_side + .side_year {
    margin-top: 30px;
}
#side-link .side_year {
    margin-bottom: 20px;
    padding: 0 10px;
    transition: margin-bottom 0.2s ease 0s;
}
#side-link .side_year .side_year_ttl {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_open.png") no-repeat scroll right center;
    color: #bbb;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    width: 50px;
}
#side-link .side_year .side_month {
    display: none;
}
#side-link .side_year .side_month a {
    border-bottom: 1px solid #a9abad;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 11px;
    line-height: 1em;
    margin-bottom: 18px;
    margin-right: 7px;
    padding: 0 0 1px;
}
#side-link .side_year.active {
    margin-bottom: 10px;
}
#side-link .side_year.active .side_year_ttl {
    background-image: url("/img/common/arrow_close.png");
}
#side-link .side_year.active .side_month {
    display: block;
    padding-top: 8px;
}
.knowledge_myfile.edit #modal_edit {
    top: 50% !important;
    transform: translateY(-50%);
}
#fileModal {
    box-sizing: border-box;
    height: 620px;
    padding: 10px;
}
#fileModal #fileArea {
    height: 560px;
    width: 100%;
}
#fileModal #fileArea + a {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 10px auto 0;
    text-align: center;
    width: 120px;
}
