@charset "UTF-8";
/* リセット
/*************************/
html {
  width: 100%;
  min-width: 960px;
  min-height: 100%;
}

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
  line-height: 1;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #ecf1f2;
}

body.whead:before {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 0;
  width: 100%;
  min-width: 960px;
  height: 135px;
  content: '';
  background: #fff;
}

#lean_overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #ecf1f2;
}

p {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

dl,
dt,
dd {
  margin: 0;
}

select {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type='text'], input[type='submit'] {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input,
select {
  font-size: 11px;
  line-height: 1.2em;
}

textarea {
  font-size: 13px;
  line-height: 1.2em;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.input_radio {
  display: none;
}

.input_radio + label {
  line-height: 15px;
  position: relative;
  display: inline-block;
  padding: 0 0 0 20px;
  cursor: pointer;
}

.input_radio + label:before {
  position: absolute;
  top: 50%;
  left: 4px;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  content: '';
  border: 1px solid #bbb;
  border-radius: 50%;
  background: #fff;
}

.input_radio + label:after {
  position: absolute;
  top: 50%;
  left: 7px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  content: '';
  transition: all .2s;
  opacity: 0;
  border-radius: 50%;
  background-color: #44d095;
}

.input_radio:checked + label:after {
  opacity: 1;
}

.input_checkbox {
  display: none;
}

.input_checkbox + label {
  line-height: 15px;
  position: relative;
  display: inline-block;
  padding: 0 0 10px 20px;
  cursor: pointer;
}

.input_checkbox + label:before {
  position: absolute;
  top: 50%;
  left: 4px;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  content: '';
  border: 1px solid #bbb;
  background: #fff;
}

.input_checkbox + label:after {
  position: absolute;
  top: 50%;
  left: 7px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  content: '';
  transition: all .2s;
  opacity: 0;
  background-color: #44d095;
}

.input_checkbox:checked + label:after {
  opacity: 1;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

a:hover img {
  opacity: 0.7;
}

p {
  margin: 0;
}
.mt10{
	margin-top:10px;
}
.mt20{
	margin-top:20px;
}
.mt30{
	margin-top:30px;
}
.mt40{
	margin-top:40px;
}
.mt50{
	margin-top:50px;
}
.mt60{
	margin-top:60px;
}
.mt70{
	margin-top:70px;
}
.center{
	text-align:center;
}
.clear{
	clear:both;
}
.right{
	float:right;
}
.left{
	float:left;
}

/*******ヘッダー********/

#header .innerBox{
  width: 1080px; 
  margin: 0 auto; 
  padding: 20px 0;
}
#header .innerBox .logo{
	float:left;
	width:235px;
}
#header .innerBox .signup{
	float:right;
}
#header .innerBox .signup li{
	float:left;
	width:130px;
	margin-left:15px;
	border:1px solid #ffffff;
	border-radius: 5px;        
	-webkit-border-radius: 5px;    
	-moz-border-radius: 5px;
	text-align:center;
	height:30px;
}
#header .innerBox .signup li a{
	text-align:center;
	color:#ffffff;
	line-height:30px;
	display:block;
}
#header .innerBox .signup .btn_sign{
	background:#44d095;
}
.login_head{
	background:url(../../img/login/bg_mv.png) center no-repeat!important;
	height:640px;
	background-color:#ffffff;
}
.mv{
	padding-top:130px;
}
.mv h1{
	color:#ffffff;
	font-size:42px;
}
.mv p{
	color:#ffffff;
	margin-top:30px;
	font-size:16px;
	line-height:26px;
}
.entry{
	background:#44d095;
	width:160px;
	height:40px;
	line-height:38px;
	margin:40px auto 0;
	border-radius: 5px;        
	-webkit-border-radius: 5px;    
	-moz-border-radius: 5px;
	text-align:center;
}
.entry a{
	color:#ffffff;
	display:block;    
	font-size: 14pt;
	text-transform: capitalize;
}
.content_inner {
	width: 960px;
	margin:0 auto;
}
#container section{
	width:100%;
	padding:70px 0;
}
#container .point{
	background:#ffffff;
	overflow:hidden;
}
#container .point_section{
	margin-bottom:50px;
	overflow:hidden;
}
#container h2{
	font-size:18px;
	text-align:center;
	font-weight:normal;
	margin:30px auto;
	padding-bottom:8px;	
}
#container h2 span{
	border-bottom:6px solid #44d095;
	padding-bottom:7px;
}
#container .point .point_pic{
	width:50%;
	text-align:center;
	padding-top:30px;
}
#container .point .point_pic img{
	width:300px;
	text-align:center;
}
#container .point .point_text{
	width:50%;
}
#container .point_section{
	padding-top:30px;
}
#container .point .point_text .point_number{
	font-size:18px;
	margin-bottom:30px;
}
#container .point .point_text h3{
	font-size:30px;
	margin-top:20px;
}
#container .point .point_text .point_expalin{
	font-size:14px;
	line-height:28px;
}
.serves_section{
	overflow:hidden;
}
.serves_section .serves_block{
	background:#ffffff;
	width:240px;
	height:240px;
	padding:30px 30px;
	box-shadow: 10px 10px #e1e6e7;
	float:left;
	margin-right:25px;
	margin-bottom:30px;
}


.serves_section .serves_block:nth-child(3n) {
	margin-right:0px;
}
.serves_section .serves_block h3{
	text-align:center;
	font-size:16px;
	line-height:18px;
	margin-bottom:15px;
}
.serves_section .serves_block h3 span{
	border-bottom:3px solid #6a8e98;
}

.serves_section .serves_block h4{
	text-align:center;
	font-size:16px;
	line-height:21px;
	margin-bottom:15px;
}
.serves_section .serves_block p{
	font-size:12px;
	line-height:21px;
	margin-bottom:15px;
}
#container .price {
	padding-top:20px;
}
.price .price_text{
	font-size:21px;
	margin-top:20px;
	line-height:35px;
}
.price .price_explain{
	font-size:14px;
	margin-top:20px;
	line-height:26px;
}
#container .signup{
	background:#333f49;
	padding-top:20px;
}
.signup h2{
	color:#ffffff;
}
.signup .sign_up_text{
	color:#ffffff;
	font-size:21px;
	line-height:35px;
}
#container .app{
	width:100%;
	padding:0px 0;
}
.content_inner_wide{
	/*width:1140px;*/
}
.app_section{
	float:left;
	width:50%;
	background:#ecf1f2;
	overflow:hidden;
	/*padding:70px 70px 70px 0;*/
}
.app_section_left{
	width:480px;
	margin:70px auto;
}
.jtc_section_left{
	width:530px;
	margin:70px auto;
}

.app_section .left_app{
	margin-right:35px;
}
.app_section .rigth_app{
	margin-right:300px;
}
.jtc_section{
	float:left;
	width:50%;
	background:#ffffff;
	overflow:hidden;
	/*padding:70px 0 70px 70px;*/
}
.jtc_section .left_app{
	margin-right:35px;
}
.jtc_section .right_app{
	margin-right:35px;
	overflow:hidden;
	width:300px;
}
.jtc_section .right_app .entry{
	text-align:center;
	margin-right:auto;
}

#container .app h3{
	font-size:24px;
	line-height:30px;
	margin-top:0px;
	margin-bottom:10px;
}
.app p{
	font-size:14px;
	line-height:21px;
	margin:15px 0;
}
.footer{
	background:#161c20;
	padding:40px 0 15px;
	overflow:hidden;
}
#footer_section{
	overflow:hidden;
}
#footer_section dl{
	margin:0 35px;
	float:left;
}
#footer_section dl a:hover {
  color: #44d095;
}

#footer_section dl dt{
	margin-bottom:15px;
}
#footer_section dl dt a{
	color:#ffffff;
	font-size:14px;
}
#footer_section dl li a{
	color:#ffffff;
	font-size:14px;
	margin-bottom:15px;
}
#footer_section dl li{
	margin-bottom:10px;
}
#copy{
	margin-top:45px;
	color:#ffffff;
	text-align:center;
	border-top:1px solid #333f49;
	padding-top:10px;
	clear:both;
	font-size:11px;
}
a:hover {
  /*color: #44d095;*/
}
.serves_section .long_block{
	width: 890px;
	height: 310px;
	padding-bottom: 0;
}
.client_text{
	float: left;
	padding-left: 25px;
	width: 350px;
}
.client_img{
	float: right;
	padding-top: 53px;
	width: 430px;
}

.pop_up {
  position: relative;
  padding-left: 8px;
  display: inline-block;
  cursor: pointer;
}
.serves_section .serves_block .pop_up,.serves_section .serves_block .pop_lead{
	margin-bottom: 0;
	line-height: 15px;
	margin-top: 33px;
}
.serves_section .serves_block .account_all .pop_up,.serves_section .serves_block .account_all .pop_lead{
	margin-top: 0;
}
.serves_section .serves_block .pop_up_secre{
	margin-top: 0;
	line-height: inherit;
	padding-left: 2px;
}
.serves_section .serves_block .pop_up_secre img{
	vertical-align: bottom;
}
.serves_section .serves_block .pop_lead{
	color: #bbb;
	font-size: 11px;
}
.pop_up .pop_message {
  display: none;
  width: 210px;
  box-sizing: border-box;
  font-size: 11px;
  line-height: 22px;
  background: #66d7db;
  padding: 16px 15px;
  color: #fff;
  position: absolute;
  top: 25px;
  left: -177px;
  z-index: 2;
}
.pop_up .pop_message .icon-rec{
	background:url("../../img/entry/icon_recommend.png") left center no-repeat;
	-webkit-background-size: 21px auto;
	background-size: 21px auto;
	padding: 10px 0 10px 20px;
}
.pop_up .pop_message .icon-credit{
	background:url("../../img/entry/icon_ex.png") left center no-repeat;
	-webkit-background-size: 14px auto;
	background-size: 14px auto;
	padding: 10px 0 10px 20px;
}
.pop_up .pop_message .icon-com{
	background:url("../../img/entry/icon_cone.png") left center no-repeat;
	-webkit-background-size: 19px auto;
	background-size: 19px auto;
	padding: 10px 0 10px 20px;
}
.pop_up .pop_message:after {
  bottom: 100%;
  right: 4%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(102, 215, 219, 0);
  border-bottom-color: #66d7db;
  border-width: 10px;
  margin-left: -10px;
}
.pop_up_secre .pop_message:after {
	right: 6%;
}
.pop_up:hover .pop_message {
  display: block;
}
