body {
  min-width:1090px;
  font-size: 12px;
}
#header{
  min-width:1090px;
}
.txt_short{
  letter-spacing: -.04em;
}
#container {
  padding-left: calc(50% - 220px);
  padding-left: 320px;
}

#column-sub-profile {
  top: 0;
  left: 160px;
  box-sizing: border-box;
  padding-top: 112px;
  width: 160px;
  height: 100%;
  background-color: #212931;
}
#column-sub-profile a {
  font-size: 11px;
  display: block;
  /*height: 40px;*/
  padding-left: 8px;
  color: #fff;
  line-height: 12px;
}
#column-sub-profile a:hover, #column-sub-profile a.selected {
  opacity: .7;
}

#column-sub-content-profile {
  box-sizing: border-box;
  padding: 35px 0 50px;
}
#column-sub-content-profile > p {
  margin: 0 10px 10px;
}

#column-main-profile {
  float: left;
  padding-left: 400px;
}

footer {
  padding-left: 320px;
  box-sizing: border-box;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.mb0{
  margin-bottom:0!important;
  padding-bottom:0!important;
}

.mb30 {
  margin-bottom: 30px;
}

hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 15px 0;
}

.bd-n {
  border: none;
}

.box {
  box-sizing: border-box;
  padding: 16px 20px;
  margin-bottom: 10px;
  border: 1px solid #e5e8eb;
  background: #fff;
}
.box > div:last-child {
  margin-bottom: 0;
}
.box-title {
  display: flex;
  line-height: 40px;
  padding: 0 0 10px;
  margin: 0 0 15px;
  border-bottom: 1px solid #eee;
}
.box-title p {
  font-size: 16px;
  font-weight: bold;
}
.box-title a {
  margin-left: auto;
}
.box-columns {
  display: flex;
  align-items: center;
  padding: 0 0 15px;
  margin: 0 0 25px;
  border-bottom: 1px solid #eee;
}
.box-columns-left {
  width: 60%;
  min-width: 370px;
  line-height: 22px;
}
.box-columns-left span {
  color: #bbb;
}
.box-columns-right {
  width: 30%;
  min-width: 200px;
  line-height: 14px;
  margin-left: 20px;
}
.box-columns-right span {
  font-size: 8px;
  color: #bbb;
}
.box-columns-right p {
  margin-bottom: 5px;
}

.box-columns-hr {
  content: "";
  display: block;
  border-width: 0;
  border-right: 1px solid #e5e8eb;
  margin: 0;
  width: 0;
  height: 80%;
  min-height: 80px;
}
.box-column {
  line-height: 21px;
  padding: 0 0 34px;
  margin: 0 0 26px;
  border-bottom: 1px solid #eee;
}
.box-column + .box-column {
  border: none;
}
.box-column-ranking {
  margin-bottom: 53px;
}
.box-scrollbox {
  width: 100%;
}
.box-scrollbox.half {
  width: 50%;
}
.box-scrollbox.half + .box-scrollbox {
  margin-left: 21px;
}
.box-scrollbox > p {
  margin: 0 0 10px;
}
.box-scrollbox-inner {
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
  min-width: 280px;
  height: 186px;
  padding: 0 10px;
  overflow-y: scroll;
}

.link_arrow-right {
  padding-left: 20px;
  color: #bbb;
  background: url(/img/common/icon_circle_arrow_right.png) 0 center no-repeat;
  display: inline-block;
}

.link_edit {
  padding-left: 20px;
  color: #bbb;
  background: url(/img/common/icon_setting_edit.png) 0 center no-repeat;
  display: inline-block;
}

.list-01 li {
  line-height: 15px;
  padding: 9px 0;
  border-bottom: 1px solid #eee;
}
.list-01 li:last-child {
  border: none;
}
.list-01 li > a {
  display: block;
}

#profile-timeline-wrap{
  position:relative;
  min-height:100%;
}

.profile-title {
  background: #fff;
  box-sizing: border-box;
  min-height: 130px;
  padding: 35px 30px 0;
  margin-bottom: 35px;
}
.profile-title_container p {
  font-size: 14px;
}
.profile-title_container h1 {
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  border-bottom: 1px solid #e5e8eb;
}
.profile-title .link_back {
  display: inline-block;
  color: #bbb;
  margin-top: 10px;
}
.profile-title .link_back:hover {
  text-decoration: underline;
}
.profile-title .link_back img {
  vertical-align: bottom;
}

.profile-title-search {
  padding: 32px 0 30px;
}
.profile-title-search > div {
  display: flex;
  margin-bottom: 19px;
}
.profile-title-search > div .btn-primary {
  height: 34px;
  line-height: 34px;
  width: 70px;
  min-width: 70px;
  padding: 0 10px;
  margin-left: 10px;
}
.profile-title-search table {
  width: 100%;
  font-size: 12px;
}
.profile-title-search table th {
  text-align: right;
  width: 130px;
  padding: 0 10px 10px 0;
}
.profile-title-search table td {
  padding-bottom: 10px;
}
.profile-title-search .df {
  display: flex;
}
.profile-title-search .df .input_text {
  width: 50%;
}
.profile-title-search .df .input_select {
  width: 50%;
  margin-left: 10px;
}
.profile-title-search .select-input-box {
  padding: 4px 0;
  border: 1px solid #e5e8eb;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 9px;
}
.border.select-input-box{
  border: 1px solid #e5e8eb!important;
}
input.select2-search__field{
  color:#333;
}

.border.select-input-box li.select2-selection__choice{
  margin-top:2.5px;
}
.profile-title-search .select2-container .select2-selection--multiple {
  min-height: auto;
  height: 25px;
  line-height: 25px;
}
.profile-title-search .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-left: 0;
}
.profile-title-search .select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-left: 4px;
}
.profile-title-search .select2-container .select2-search--inline .select2-search__field {
  padding-left: 10px;
}

.profile-wrap {
  width: 620px;
  width:750px;
  margin: 0 auto 20px;
  padding-left:5px;
  padding-right:5px;
}

#profile_form select{
  color:#bbb;
}

#profile_form select option{
  color:#333;
}
#profile_form select option:first-child{
  color:#bbb;
}

.profile-form-table {
  border-collapse: separate;
  width: 100%;
  margin-top: 10px;
  padding: 20px 0;
  font-size: 12px;
  background: #fff;
  border: 1px solid #e5e8eb;
}
.profile-form-table tr {
  width: 95%;
  margin: 0 auto;
  display: table;
  padding: 24px 0;
  border-top: 1px solid #e5e8eb;
}
.profile-form-table .top_none_border{
  border-top: 1px solid #ffffff;
}
.profile-form-table .none_border {
  padding-bottom: 0;
}
.profile-form-table .none_border + tr {
  border: none;
  padding-top: 8px;
}
.profile-form-table thead tr {
  text-align: left;
  padding: 10px 0 20px;
  border: none;
}
.profile-form-table thead td {
  width: 480px;
  text-align: right;
}
.profile-form-table tbody {
  vertical-align: top;
}
.profile-form-table tbody th {
  width: 113px;
  text-align: right;
  line-height: 20px;
  padding-top:8px;
}
.profile-form-table tbody td {
  padding: 0 10px 0 20px;
}

.profile-submit-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
}
.profile-submit-area > div {
  font-size: 12px;
  font-weight: bold;
  margin-right: 20px;
}
.profile-submit-area .pop_up {
  padding-left: 0;
  vertical-align: text-bottom;
}
.profile-submit-area .input_select {
  width: 210px;
  margin-right: 10px;
}
.profile-submit-area .btn-primary {
  width: 190px;
  height: 40px;
  line-height: 40px;
  margin-right: 13px;
}
.profile-submit-area .btn-default {
  width: 99px;
  height: 40px;
  min-width: initial;
  line-height: 40px;
  padding: 0 10px;
}

input.input_text {
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 35px;
  font-size: 13px;
  line-height: 14px;
  padding: 10px;
}
input.input_text:placeholder-shown {
  color: #bbb;
}
input.input_text::-webkit-input-placeholder {
  color: #bbb;
}
input.input_text:-moz-placeholder {
  color: #bbb;
  opacity: 1;
}
input.input_text::-moz-placeholder {
  color: #bbb;
  opacity: 1;
}
input.input_text:-ms-input-placeholder {
  color: #bbb;
}
input.input_text + .input_text {
  margin-top: 8px;
}

.input_select {
  width: 80px;
  padding: 8px 10px;
  font-size: 14px;
  color: #c4c4c4;
  border: 1px solid #e5e8eb;
  border-radius: 0;
  background: #fff url("../../img/setting/arrow_select.png") right 10px center no-repeat;
}
.input_select + .input_select {
  margin-left: 6px;
}
.input_select.size_m {
  width: 180px;
}
.input_select.size_l {
  width: 100%;
}

.mt8 {
  margin-top: 8px;
}

.pop_up {
  position: relative;
  padding-left: 11px;
  display: inline-block;
  cursor: pointer;
}
.pop_up .pop_message {
  display: none;
  width: 220px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: left;
  line-height: 22px;
  background: #66d7db;
  padding: 16px 20px;
  color: #fff;
  position: absolute;
  top: 32px;
  left: -50px;
  z-index: 2;
}
.pop_up .pop_message:after {
  bottom: 100%;
  left: 22%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(102, 215, 219, 0);
  border-bottom-color: #66d7db;
  border-width: 10px;
  margin-left: -10px;
}
.pop_up:hover .pop_message {
  display: block;
}

.btn-default {
  display: inline-block;
  background: #bbb;
  color: #fff;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
  min-width: 120px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  padding: 0 30px;
}
.btn-default:hover {
  background: #a2a2a2;
}

.btn-primary {
  display: inline-block;
  background-color: #44d095;
  color: #fff;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
  min-width: 120px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  padding: 0 30px;
}
.btn-primary:hover {
  background: #2db47b;
}
.slide-tabs {
  position: relative;
  padding: 20px 20px 10px;
}
.slide-tabs-inner {
  position: relative;
  overflow: hidden;
  /*overflow-x: scroll;*/
  height: 48px;
}
#slide-tabs1 ul{
  position: absolute;
  top:0;
  left:0;
}
.slide-tabs-inner::-webkit-scrollbar {
  display: none;
}
.slide-tabs ul{
  display: table;
  table-layout: fixed;
}
.slide-tabs ul:after {
  content: "";
  display: block;
  clear: both;
}
.slide-tabs li {
  display: table-cell;
  font-weight: bold;
  line-height:1.2em;
  position: relative;
  width:101px;
  padding:0 2px;
  border-right:1px solid #ecf1f2;
  vertical-align: middle;
  height: 30px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  word-wrap: break-word;
  background: #bbb;
}
.slide-tabs li.selected {
  background: #22313d;
  cursor: auto;
}
.slide-tabs li.selected:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #22313d;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
}
.slide-tabs .slide-arrow-left,
.slide-tabs .slide-arrow-right {
  position: absolute;
  top: 20px;
  cursor: pointer;
  width: 20px;
  height: 30px;
}
.slide-tabs .slide-arrow-left:hover,
.slide-tabs .slide-arrow-right:hover {
  opacity: .7;
}
.slide-tabs .slide-arrow-left {
  left: 0;
  background: url(/img/profile/arrow_left.png) center center no-repeat;
}
.slide-tabs .slide-arrow-right {
  right: 0;
  background: url(/img/profile/arrow_right.png) center center no-repeat;
}

.slide-tab-content {
  display: none;
}
.slide-tab-content.selected {
  display: block;
}

.graph-box {
  width: 100%;
  min-height: 180px;
}

.graph-box02 {
  position: relative;
  display: flex;
  line-height: 20px;
  padding: 0 0 30px;
  margin: 0 0 32px;
  border-bottom: 1px solid #eee;
}
.graph-box02 > div {
  width: 40%;
}
.graph-box02 > div:last-child {
  text-align: right;
}
.graph-box02 .graph-box-center {
  width: 140px;
  max-width: 300px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  line-height:13px;
}
.graph-box02 .graph-bar {
  display: flex;
  font-size: 10.89px;
  color: #fff;
  text-align: center;
  height: 20px;
}
.graph-box02 .graph-bar.left {
  justify-content: flex-end;
}
.graph-box02 .graph-bar .bar-color1 {
  background: #406175;
}
.graph-box02 .graph-bar .bar-color2 {
  background: #73afc0;
}
.graph-box02 .graph-bar .bar-color2 .like_number{
	color:#ffffff;	text-decoration-color: #fffffff;
}
.graph-box02 .graph-bar .bar-color1 .like_number{
	color:#ffffff;	text-decoration-color: #fffffff;
}
.graph-box02 .graph-bar .bar-color3 .like_number{
	color:#ffffff;	text-decoration-color: #fffffff;
}

.graph-box02 .graph-bar .bar-color3 {
  background: #7fd396;
}
.graph-box02 .graph-bar span {
  font-size: 10px;
}
.graph-box02 .graph-box-specialty {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height:12px;
}

.profile-scroll-list {
  font-size: 11px;
}
.profile-scroll-list li {
  display: flex;
}
.profile-scroll-list .list-icon_circle {
  content: " ";
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 5px 7px 0 0;
}
.profile-scroll-list .list-icon_circle.color-01 {
  background: #7fd396;
}
.profile-scroll-list .list-icon_circle.color-02 {
  background: #5e9574;
}
.profile-scroll-list .list-icon_circle.color-03 {
  background: #1d3e37;
}
.profile-scroll-list .list-icon_circle.color-04 {
  background: #000000;
}
.profile-scroll-list .list-icon_circle.color-05 {
  background: #73afc0;
}
.profile-scroll-list .list-icon_circle.color-06 {
  background: #406175;
}
.profile-scroll-list .list-icon_circle.color-07 {
  background: #13253e;
}
.profile-scroll-list .list-icon_circle.color-08 {
  background: #000000;
}

.txt_locate {
  background: url(/img/common/icon_locate.png) 0 0 no-repeat;
  color: #bbb;
  padding: 0 0 0 20px;
  margin-left: auto;
}

.profile-tab {
  width: 210px;
  float: left;
}
.profile-tab li {
  position: relative;
  float: left;
  text-align: center;
  width: 50%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #bbb;
  cursor: pointer;
}
.profile-tab li.selected {
  background: #22313d;
}
.profile-tab li.selected:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #22313d;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
}
.profile-tab + .fr {
  line-height: 30px;
}
.profile-tab-content {
  display: none;
}
.profile-tab-content.selected {
  display: block;
}

.txt_8 {
  font-size: 8px;
}

#all {
  display: block;
}
#all + #selected {
  display: none;
}
#all.view {
  display: none;
}
#all.view + #selected {
  display: block;
}

.lawyer-box {
  font-size: 16px;
  margin: 9px 0 19px;
  border: 1px solid #e5e8eb;
  background: #fff;
}
.lawyer-box + .clear {
  margin-bottom: 58px;
}
.lawyer-box .lawyer-item {
  position: relative;
  padding: 15px 33px;
  cursor: pointer;
}
.lawyer-box .lawyer-item:hover {
  background: #eee;
}
.lawyer-box .lawyer-item.selected {
  background: #edfbfc !important;
}
.lawyer-box .lawyer-item + .lawyer-item:before {
  background: #e5e8eb;
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 0;
  height: 1px;
  width: 582px;
}
.lawyer-box .lawyer-item .icon_circle {
  width: 100px;
  height: 100px;
}
.lawyer-box .lawyer-item .icon_circle img {
  min-width: 100%;
}
.lawyer-box .lawyer-item .lawyer-content {
  width: 440px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head {
  border-bottom: 1px solid #e5e8eb;
  padding-bottom: 8px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr {
  text-align: right;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr span {
  display: inline-block;
  line-height: 17px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-rec {
  padding-left: 17px;
  background: url(/img/common/icon_medal.png) left center no-repeat;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-credit {
  padding-left: 18px;
  margin-left: 17px;
  background: url(/img/common/icon_exp.png) left center no-repeat;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-com {
  padding-left: 22px;
  margin-left: 13px;
  background: url(/img/common/icon_team2.png) left center no-repeat;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body {
  position: relative;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 50px;
  top: 3px;
  left: 274px;
  background: #e5e8eb;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl {
  width: 255px;
  padding-right: 20px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl p {
  line-height: 20px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl p.txt_gray {
  padding-left: 15px;
  background: url(/img/common/icon_locate.png) 1px center no-repeat;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fr {
  width: 145px;
  padding-left: 20px;
}
.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fr .txt_11 + .txt_8.txt_gray {
  margin-top: 10px;
}

.profile-timeline {
  position: relative;
  box-sizing: border-box;
  height: 260px;
  overflow-x: scroll;
  border: 1px solid #e5e8eb;
  margin: 0 auto 30px;
  /*min-width:980px;*/
}
.profile-timeline-background {
position:absolute;top:0;left:0;min-width:100%;min-height:100%;
  display: flex;
  width: 2250px;
  height: 100%;
  align-items: center;
  background: linear-gradient(to right, rgba(221, 221, 221, 0.3) 1%, rgba(221, 221, 221, 0.3) 50%, rgba(221, 221, 221, 0.3) 50%, rgba(238, 238, 238, 0.3) 51%, rgba(238, 238, 238, 0.3) 100%);
  background-size: 180px 100%;
}
.profile-timeline-background > div {
  background: #ddd;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  width: 90px;
  height: 20px;
}
.profile-timeline-background > div:nth-child(odd) {
  background: #eee;
}
.profile-timeline-career{
  position:absolute;top:0;left:0;width:100%;height:100%;
}
.profile-timeline-career > div {
  position: absolute;
  top: 50%;
  font-size: 9px;
  color: #fff;
  text-align: center;
  width: 90px;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; /* Opera9,10対応 */
}

.profile-title-checkbox-area {
  padding: 15px 0 28px;
}
.profile-title-checkbox-area .input_checkbox + label {
  padding: 10px 0 10px 20px;
}
.profile-title-checkbox-area .horizontal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profile-title-checkbox-area .btn-primary {
  width: 130px;
  height: 38px;
  line-height: 38px;
}

.his {
  position: relative;
}
.his .btn_delete {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 11px;
  height: 11px;
  background: url(/img/common/btn_delete.png) center center no-repeat;
  cursor: pointer;
}
.add_button{
  position: relative;
}
.add_button .btn_delete2 {
  display: block;
  position: absolute;
  top: 10px;
  left: 50px;
  margin: auto;
  width: 11px;
  height: 11px;
  background: url(/img/common/btn_delete.png) center center no-repeat;
  cursor: pointer;
}
.ranking_delate .btn_delete2 {
  left: 10px;
}
.language_delate .btn_delete2 {
  left: 65px;
}
.admission_delate .btn_delete2 {
  left: -5px;
}
.attorny_delate .btn_delete2 {
  left: 5px;
}
.law_delate .btn_delete2 {
  left: -10px;
}

/*****推薦数マウスオーバー*********/
.likename{
	position:relative;
}
.likename .lawyer-box{
	height:380px;
}

.likename .like_list {
  display: none;
  width:125px;
  border:1px solid #e5e8eb;
  position: fixed;
  background: #ffffff;
  padding: 4px 8px;
  position: absolute;
  z-index: 100;
  top: 13px;
  left:0;
  text-align:left;
  margin-left:-20px;
  font-size: 10px;
}

.likename:hover .like_list {
  display: block;
}
.likename.aciton .like_list {
  display: block;
}
.likename .like_list:after {
  bottom: 100%;
  left: 22%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(102, 215, 219, 0);
  border-bottom-color: #e5e8eb;
  border-width: 10px;
  margin-left: -10px;
    z-index: 0;
}
.likename .like_list .andmore{
	text-align:center;
}
/*****推薦数Likeリストモーダル*********/
.modal_linklist {
  bottom: 0;
  margin: auto;
  display: none;
  width: 720px;
  height: 450px;
  text-align: center;
  background: #fff;
  padding: 45px;
  box-sizing: border-box;
  text-align:left;
}

.modal_linklist .btn_can {
  display: inline-block;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  background: #bbb;
  cursor: pointer;
}



.profile-submit-area label{
  font-weight: normal;
}


#label_range {
    display: block;
    float: left;
    width: 60px;
    height: 40px;
    line-height: 10px;
    padding-top:20px;
}

#edit_range {
    margin: 2.5px 0;
    width: 240px;
    height: 35px;
    float: left;
}
#btn_range .btn_arrow {
    z-index: 10 !important;
}

#edit_range #btn_range .btn_select {
    height: 35px;
}

#edit_range #btn_range ul {
    top: 3.5px;
}

#edit_range #btn_range > .chk-box {
    top: auto;
    bottom: 100%;
    border-top: 1px solid #e5e8eb;
    border-bottom: none;
}

#edit_range + input {
    float: left;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: #44d095;
    color: #fff;
    text-align: center;
    margin-left: 10px;
}

#btn_cancell {
    float: left;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    margin-left: 10px;
    background: #bbb;
}

.error-message{
	color:red;
	margin:5px 0 8px 3px;
}
aside .sub-aside {
    padding-top: 65px;
}

/******************
  profile  basic infomation
**********************/

.preview-btnarea{
  margin: 20px auto 0;
  width: 340px;
  padding-bottom: 20px;
}
.preview-btnarea p{
  font-size: 14px;
  font-weight: 600;
}
.preview-btnarea .btnarea{
  margin-top: 10px;
  display: table;
}
.preview-btnarea .btnarea .left,
.preview-btnarea .btnarea .right{
  padding-right: 15px;
  text-align: center;
  display: table-cell;
}

.short_term{
	width:60px;
}
/***********/
.w200{
	width:300px;
}
.ttl_side {
    background-image: url(/img/knowledge/ttl_side_knowledge.png);
}

/*****その他マウスオーバー*********/
.otherdatail{
	position:relative;
}


.otherdatail .other_list {
  display: none;
  width:125px;
  border:1px solid #e5e8eb;
  position: fixed;
  background: #ffffff;
  padding: 4px 8px;
  position: absolute;
  z-index: 100;
  top: 18px;
  left:0;
  text-align:left;
  margin-left:-20px;
  font-size: 10px;
}

.otherdatail:hover .other_list {
  display: block;
}
.otherdatail.aciton .other_list {
  display: block;
}

.other_list:after, .other_list:before {
  bottom: 100%;
  left: 80px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.other_list:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.other_list:before {
  border-color: rgba(187, 187, 187, 0);
  border-bottom-color: #bbb;
  border-width: 7px;
  margin-left: -7px;
}

