@charset "UTF-8";
/* リセット
/*************************/
html {
  width: 100%;
  min-width: 960px;
  min-height: 100%;
}

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
  line-height: 1;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #000000 url("/img/register/bg_pg_reg.png") no-repeat scroll center 424px;
}

body.whead:before {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 0;
  width: 100%;
  min-width: 960px;
  height: 135px;
  content: '';
  background: #fff;
}
#wrapper{
	max-width: 100%;
	width: 100%;
}
#lean_overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #ecf1f2;
}

p {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

dl,
dt,
dd {
  margin: 0;
}

select {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type='text'], input[type='submit'] {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input,
select {
  font-size: 11px;
  line-height: 1.2em;
}

textarea {
  font-size: 13px;
  line-height: 1.2em;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.input_radio {
  display: none;
}

.input_radio + label {
  line-height: 15px;
  position: relative;
  display: inline-block;
  padding: 0 0 0 20px;
  cursor: pointer;
}

.input_radio + label:before {
  position: absolute;
  top: 50%;
  left: 4px;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  content: '';
  border: 1px solid #bbb;
  border-radius: 50%;
  background: #fff;
}

.input_radio + label:after {
  position: absolute;
  top: 50%;
  left: 7px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  content: '';
  transition: all .2s;
  opacity: 0;
  border-radius: 50%;
  background-color: #44d095;
}

.input_radio:checked + label:after {
  opacity: 1;
}

.input_checkbox {
  display: none;
}

.input_checkbox + label {
  line-height: 15px;
  position: relative;
  display: inline-block;
  padding: 0 0 10px 20px;
  cursor: pointer;
}

.input_checkbox + label:before {
  position: absolute;
  top: 50%;
  left: 4px;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  content: '';
  border: 1px solid #bbb;
  background: #fff;
}

.input_checkbox + label:after {
  position: absolute;
  top: 50%;
  left: 7px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  content: '';
  transition: all .2s;
  opacity: 0;
  background-color: #44d095;
}

.input_checkbox:checked + label:after {
  opacity: 1;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

a:hover img {
  opacity: 0.7;
}

p {
  margin: 0;
}
.mt10{
	margin-top:10px;
}
.mt20{
	margin-top:20px;
}
.mt30{
	margin-top:30px;
}
.mt40{
	margin-top:40px;
}
.mt50{
	margin-top:50px;
}
.mt60{
	margin-top:60px;
}
.mt70{
	margin-top:70px;
}
.ml4{
	margin-left: 4px;
}
.mr15{
	margin-right: 15px;
}
.center{
	text-align:center;
}
.clear{
	clear:both;
}
.right{
	float:right;
}
.left{
	float:left;
}

/*******ヘッダー********/
#header .innerBox{
	max-width:1260px;
	margin:0 auto;
	padding:20px 0;
}
#header .innerBox .logo{
	float:left;
	width:235px;
}
#header .innerBox .signup{
	display: none;
	float:right;
}
#header .innerBox .signup li{
	float:left;
	width:130px;
	margin-left:15px;
	border:1px solid #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align:center;
	height:30px;
}
#header .innerBox .signup li a{
	text-align:center;
	color:#ffffff;
	line-height:30px;
}
#header .innerBox .signup .btn_sign{
	background:#44d095;
}
/*.login_head{
	background:url(../../img/login/bg_mv.png) no-repeat!important;
	height:640px;
}*/
.entry{
	background:#44d095;
	width:230px;
	height:50px;
	line-height:50px;
	margin:40px auto 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align:center;
}
.entry a{
	color:#ffffff;
}
.content_inner {
	width:960px;
	margin:0 auto;
}
.inner_entry {
	width:620px;
}
#container{
	padding-left: 0;
}
#container section{
	width:100%;
	padding:70px 0;
}
#container h2{
	font-size:18px;
	text-align:center;
	font-weight:normal;
	margin:30px auto;
	padding-bottom:8px;
}
#container h2 span{
	border-bottom:6px solid #44d095;
	padding-bottom:7px;
}
.serves_leadText{
	font-size: 14px;
	text-align: center;
	margin-bottom: 25px;
	line-height: 25px;
}
.serves_section{
	overflow:visible;
}

.entryAsk_btn{
	width: 410px;
	margin: 30px auto 0;
}
.entrySecre_btn{
	width: 225px;
}
.submit_mail{
	margin: 20px auto;
}
.entryAsk_btn li input{
	color: #fff;
	float: left;
	font-size: 14px;
}
.entrySecre_btn li input{
	float: none;
}
.entryAsk_btn input[type="button"]{
	background: #999999;
	width: 170px;
	border: none;
	padding: 10px 0;
	margin-right: 10px;
}
.entryAsk_btn input[type="submit"]{
	background: #44d095;
	width: 225px;
	padding: 10px 0;
}
.next_preview_text{
	color: #44d095;
	text-align: center;
	font-size: 14px;
}








#header .innerBox{
	max-width:1260px;
	margin:0 auto;
	padding:20px 0;
}
#header .innerBox .logo{
	float:left;
	width:235px;
	position:relative;
	top:-10px;
}
#header .innerBox .signup{
	float:right;
}
#header .innerBox .signup li{
	float:left;
	width:130px;
	margin-left:15px;
	border:1px solid #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align:center;
	height:30px;
}
#header .innerBox .signup li a{
	text-align:center;
	color:#ffffff;
	line-height:30px;
	display:block;
}
#header .innerBox .signup .btn_sign{
	background:#44d095;
}
.login_head{
	background:#161c20!important;
	height:80px;
}
#logo{
	display: inherit;
	width: 100%;
	float: none;
	margin-top: 0;
	margin-left: 0;
	transition: inherit;
}
.footer{
	max-width: 100%;
	width: 100%;
	text-align: left;
	line-height: inherit;
	font-size: initial;
}


#entry_form select{
  color:#bbb;
}

#entry_form select option{
  color:#333;
}
#entry_form select option:first-child{
  color:#bbb;
}











.entryAsk_btn {
    margin: 51px auto 22px;
}
























.ptmark {
    background: rgba(0, 0, 0, 0) url("/img/register/ptmark.png") no-repeat scroll center center;
    height: 34px;
    margin: 0 auto 66px;
    width: 34px;
}


.mark_reg_ja{
    background: rgba(0, 0, 0, 0) url("/img/register/mark_reg_ja.png") no-repeat scroll 0 0;
    display: block;
    height: 47px;
    margin: 0 auto 62px;
    text-indent: -9999px;
    width: 142px;
}
.mark_reg_en{
    background: rgba(0, 0, 0, 0) url("/img/register/mark_reg_en.png") no-repeat scroll 0 0;
    display: block;
    height: 47px;
    margin: 0 auto 62px;
    text-indent: -9999px;
    width: 142px;
}
.mark_reg_otherlang {
    border: 5px solid #bad9bd;
    color: #bad9bd;
    display: block;
    font-size: 24px;
    margin: 0 auto 62px;
    padding: 7px 10px;
    text-align: center;
    width: 142px;
}

.table_reg {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 80px auto 0;
    padding: 31px;
    width: 422px;
}
.serves_leadText_ja {
    background: rgba(0, 0, 0, 0) url("/img/register/reg_exp_ja.png") no-repeat scroll 0 0;
    height: 182px;
    margin: 0 auto 25px;
    text-indent: -9999px;
    width: 692px;
}

.serves_leadText_en {
    background: rgba(0, 0, 0, 0) url("/img/register/reg_exp_en.png") no-repeat scroll 0 0;
    height: 182px;
    margin: 0 auto 25px;
    text-indent: -9999px;
    width: 692px;
}

.serves_leadText_otherlang {
    font-size: 14px;
    height: 182px;
    line-height: 30px;
    margin: 0 auto 25px;
    text-align: justify;
    width: 692px;
    color: #dddddd;
    letter-spacing: 2pt;
}
.table_reg input {
    background-color: #bad9bd;
    border: medium none;
    padding-left: 1em;
    padding-right: 1em;
    width: 300px;
}


.entrySecre_btn {
    height: 45px;
    width: 140px;
}

.entryAsk_btn input[type="submit"] {
    width: 140px;
}

.entrySecre_btn li input {
    cursor: pointer;
}

.serves .search_info > form table th {
    height: 31px;
    width: 61px;
}

.form_ttl {
    float: left;
    font-size: 14px;
    height: 35px;
    padding-top: 10px;
    width: 87px;
}
.form_input {
    float: left;
    font-size: 14px;
    height: 35px;
    width: 87px;
}

.reg_formcell {
    height: 38px;
    margin-bottom: 19px;
    width: auto;
}



.entryAsk_btn input[type="submit"] {
    background: #31b693 none repeat scroll 0 0;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    font-size: 21px;
    font-weight: bolder;
}

.entryAsk_btn input[type="submit"]:hover {
    background: #161C20 none repeat scroll 0 0;
}

