@charset "UTF-8";


.modal-edit-active [id^="modal_share"] {
  height: 580px;
}
.modal-edit-active [id^="modal_share"] .textarea {
  position: relative;
  padding: 10px;
  padding-bottom: 170px;
  height: 90px;
}
.modal-edit-active [id^="modal_share"] .textarea .share-art {
  position: absolute;
  box-sizing: border-box;
  width: 418px;
  height: 150px;
  border: 1px solid #e5e8eb;
  padding: 12px 7px;
  bottom: 10px;
  left: 50%;
  margin-left: -209px;
}
.modal-edit-active [id^="modal_share"] .textarea .share-art p {
  text-align: left;
}
.modal-edit-active [id^="modal_share"] .textarea .share-art .txt_11 {
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 7px;
}
.modal-edit-active [id^="modal_share"] .textarea .share-art .txt_11 span {
  text-decoration: underline;
}
.modal-edit-active [id^="modal_share"] .textarea .share-art .txt_14 {
  font-size: 14px;
  padding-bottom: 11px;
  border-bottom: 1px solid #e5e8eb;
  margin: 0;
}
.modal-edit-active [id^="modal_share"] .textarea .share-art .txt_13 {
  font-size: 13px;
  line-height: 24px;
}
.modal-edit-active [id^="modal_share"] .textarea .share-art .txt_13 a {
  display: inline;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-left: 3px;
  color: #333;
  font-size: 13px;
  background: transparent;
  text-decoration: underline;
}
.modal-edit-active [id^="modal_share"] .textarea:after {
  display: none;
}
.modal-edit-active [id^="modal_share"] textarea {
  padding: 10px;
  height: auto;
  min-height: 90px;
  border-bottom: none;
  margin-bottom: 0;
}
.modal-edit-active [id^="modal_share"] #bg_tag {
  float: left;
  width: 289px;
  border-right: 1px solid #e5e8eb;
}
.modal-edit-active [id^="modal_share"] .bdt {
  border-top: 1px solid #e5e8eb;
}
.modal-edit-active [id^="modal_share"] #btn_range {
  width: 169px;
}
.modal-edit-active [id^="modal_share"] #btn_range ul {
  z-index: 20;
}
.modal-edit-active [id^="modal_share"] .chk-box {
  text-align: left;
}
.modal-edit-active [id^="modal_share"] .ta-c {
  margin-top: 42px;
  text-align: center;
}
.modal-edit-active [id^="modal_share"] .ta-c .modal_close,
.modal-edit-active [id^="modal_share"] .ta-c .modal_share_cload {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.modal-edit-active [id^="modal_share"] .ta-c .modal_share_cload {
  width: 140px;
  background: #44d095;
  margin-left: 5px;
}
.modal-edit-active [id^="modal_share"]  .ta-c .modal_close {
  width: 120px;
  background: #bbb;
}

[id^="modal_share"] {
  z-index: 12000;
  transition: .2s;
  overflow: hidden;
}
[id^="modal_share"] #post-form .clear {
  width: 100%;
}

#modal_edit {
  display: none;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
  width: 680px;
  height: 600px;
  transition: .2s;
}

#modal_edit.complete {
  width: 620px;
  height: 320px;
  padding: 60px 30px;
}

#modal_edit > div > .txt_14:first-child {
  text-align: center;
  margin-bottom: 32px;
}

#modal_edit > div > .txt_14:first-child + .clear {
  width: 100%;
}

#modal_edit > div > .txt_14:first-child + .clear p {
  height: 24px;
  line-height: 24px;
  float: left;
}

#modal_edit > div > .txt_14:first-child + .clear input {
  float: right;
  width: 294px !important;
  margin-top: 0 !important;
}

#modal_edit a.btn_modalLawyer {
  display: block;
  float: right;
  height: 23px;
  padding: 0 10px;
  margin-top: -3.5px;
  background: #44d095;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  line-height: 23px;
}

#modal_edit #modal_detail .slimScrollDiv {
  height: 420px;
}

#modal_edit .slimScrollDiv {
  height: 406px;
  margin: 10px 0 25px;
  border: 1px solid #e5e8eb;
}

#modal_edit .slimScrollDiv .scroll-box {
  height: 100%;
  margin: 0;
  border: none;
  padding: 0;
}

#modal_edit .btn_can {
  display: inline-block;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  background: #bbb;
  cursor: pointer;
}

#modal_edit .scroll-item {
  cursor: pointer;
}

#modal_edit .scroll-item.selected {
  background: #edfbfc !important;
}

#modal_edit .scroll-item.selected * {
  background-color: transparent;
}

#modal_edit .ta_c {
  text-align: center;
}

#modal_edit .ta_c .btn_import {
  display: inline-block;
  width: 212px;
  height: 30px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  background: #44d095;
  cursor: pointer;
}

#modal_edit .ta_c .btn_can {
  margin-left: 16px;
}

#modal_edit #modal_detail .modal_back {
  width: auto;
  height: 14px;
  padding: 0;
  padding-left: 22px;
  font-size: 12px;
  line-height: 14px;
  color: #bbb;
  font-weight: normal;
  background: url(/img/common/icon_circle_arrow_left.png) 3px center no-repeat;
}

#modal_edit #modal_detail .scroll-box > div {
  background: #fff !important;
  padding: 8px 10px;
}

#modal_edit #modal_detail .scroll-box > div * {
  background: #fff !important;
}

#modal_edit #modal_detail .scroll-box > div > p.txt_14:first-child + p.txt_22 {
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e8eb;
}

#modal_edit #modal_complete p.fw_b {
  margin-bottom: 16px;
}

#modal_edit #modal_complete p.fw_b + p.txt_14 {
  height: 54px;
  line-height: 27px;
}

#modal_edit #modal_complete span {
  width: 315px;
  display: inline-block;
  text-align: center;
  color: #fff;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
}

#modal_edit #modal_complete span.btn_return {
  margin: 27px auto 10px;
  background: #44d095;
}

#modal_edit #modal_complete span.modal_close {
  background: #bbb;
}

.modal-edit-active .select2-container,
.search-active .select2-container {
  z-index: 120000;
}

.modal-edit-active .select2-dropdown {
  margin-top: 0 !important;
}

.modal_win {
  bottom: 0;
  margin: auto;
  display: none;
  width: 620px;
  height: 270px;
  text-align: center;
  background: #fff;
  padding: 79px;
  box-sizing: border-box;
}

.modal_win p {
  font-size: 12px;
  line-height: 1em;
  margin-bottom: 24px;
}

.modal_win p:first-child {
  font-weight: bold;
}

.modal_win p + p {
  margin-bottom: 32px;
}

.modal_win a {
  display: block;
  width: 120px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #bbb;
  margin: 0 auto;
}

.modal_win .clear {
  width: 245px;
  margin: 0 auto;
}

.modal_win .clear a {
  margin: 0;
  float: left;
}

.modal_win .clear a:first-child {
  margin-right: 5px;
  background: #44d095;
}

#post-form {
  width: 458px;
  background: #fff;
  border: 1px solid #e5e8eb;
  border-bottom: none;
}

#post-form > .clear, #post-form > .select-input-box {
  border-bottom: 1px solid #e5e8eb;
}

#post-form .clear {
  position: relative;
}

#post-form .clear .select-input-box {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

#post-form > .clear:first-child:before {
  position: absolute;
  z-index: 50;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #e5e8eb;
  top: 0;
  left: 50%;
  margin-left: -0.5px;
}

.select-input-box {
  box-sizing: border-box;
  position: relative;
}

.select-input-box select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 30px 13px 12px;
}

.select-input-box .btn_select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 30px 13px 12px;
  position: relative;
  background: #fff;
}

.select-input-box .select2-container {
  z-index: 10;
}

.select-input-box .btn_arrow {
  display: block;
  z-index: 0;
  position: absolute;
  width: 22px;
  height: 22px;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 4px;
  margin: auto;
  background: url(/img/common/arrow_select.png) center center no-repeat;
}

.select2-container--open + .btn_arrow, .open .btn_arrow {
  background: url(/img/common/arrow_select_open.png) center center no-repeat;
}

.post-txt {
  padding: 20px 22px 21px;
  position: relative;
}


.post-txt:after {
  content: "";
  display: block;
  position: absolute;
  width: 420px;
  height: 1px;
  bottom: 0;
  left: 20px;
  background: #e5e8eb;
}

.post-txt textarea {
  display: block;
  width: 100%;
  min-height: 102px;
  vertical-align: top;
}

#bg_tag {
  padding-left: 21px;
  background: url(/img/common/icon_tag.png) 14px center no-repeat;
}

#bg_tag + .clear {
  height: 38px;
}

#post-form .btn_form {
  box-sizing: border-box;
  width: 25%;
  float: left;
  border-right: 1px solid #e5e8eb;
  min-height: 100%;
  line-height: 38px;
}

#post-form .btn_form:first-child {
  padding-left: 31px;
  background: url(/img/common/icon_picture.png) 11px center no-repeat;
}

#post-form .btn_form:last-child {
  border-right: none;
  text-align: center;
}

#btn_range .btn_select {
  height: 38px;
}

#btn_range ul {
  display: block;
  position: absolute !important;
  width: 196px;
  height: 28px;
  top: 5px;
  left: 6px;
}

#btn_range .tag-select {
  float: left;
  height: 28px;
  padding: 0 8px;
  margin-right: 5px;
  border-radius: 1px;
  color: #fff;
  line-height: 28px;
  background: #bbb;
}

#btn_range .btn_arrow {
  z-index: 10 !important;
}

.chk-box {
  display: none;
  position: absolute;
  z-index: 12;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  border: 1px solid #eee;
  border-top: none;
  line-height: 25px;
}

.chk-box label {
  display: block;
  padding: 4px 12px 4px 20px;
}

.chk-box label:hover {
  background: #eee;
}

.chk-box > .chk-box {
  position: relative;
  display: block;
  padding: 0 !important;
  padding-left: 19px !important;
  border: none;
}

.open > .chk-box {
  display: block;
}
