
/*

html {
    min-height: 100%;
    min-width: 1200px;
    width: 100%;
}
body {
    background: #ecf1f2 none repeat scroll 0 0;
    color: #333;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    line-height: 1;
    margin: 0;
    min-height: 100%;
    min-width: 960px;
    padding: 0;
    width: 100%;
}
#wrapper .select-input-box .select2-container {
    z-index: 10;
}
body.whead::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 135px;
    left: 0;
    min-width: 960px;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: -1;
}
#lean_overlay {
    background: #ecf1f2 none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
p {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}
dl, dt, dd {
    margin: 0;
}
select {
    -moz-appearance: none;
    border: medium none;
    padding: 0;
}
input[type="text"], input[type="submit"] {
    -moz-appearance: none;
    border: medium none;
    padding: 0;
}
button {
    -moz-appearance: none;
    border: medium none;
    padding: 0;
}
textarea {
    -moz-appearance: none;
    border: medium none;
    padding: 0;
}
input, select {
    font-size: 11px;
    line-height: 1.2em;
}
textarea {
    font-size: 13px;
    line-height: 1.2em;
    resize: none;
}
input:focus, textarea:focus {
    outline: medium none;
}
.input_radio {
    display: none;
}
.input_radio + label {
    cursor: pointer;
    display: inline-block;
    line-height: 15px;
    padding: 0 0 0 20px;
    position: relative;
}
.input_radio + label::before {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bbb;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 12px;
    left: 4px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 12px;
}
.input_radio + label::after {
    background-color: #44d095;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 7px;
    margin-top: -3px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all 0.2s ease 0s;
    width: 6px;
}
.input_radio:checked + label::after {
    opacity: 1;
}
.input_checkbox {
    display: none;
}
.input_checkbox + label {
    cursor: pointer;
    display: inline-block;
    line-height: 15px;
    padding: 0 0 10px 20px;
    position: relative;
}
.input_checkbox + label::before {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bbb;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 12px;
    left: 4px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 12px;
}
.input_checkbox + label::after {
    background-color: #44d095;
    content: "";
    height: 6px;
    left: 7px;
    margin-top: -3px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all 0.2s ease 0s;
    width: 6px;
}
.input_checkbox:checked + label::after {
    opacity: 1;
}
ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
a:hover img {
    opacity: 0.7;
}
p {
    margin: 0;
}
.spacer-scrollY {
    overflow: hidden;
    width: 100%;
}
.spacer-scrollY > * {
    overflow-y: scroll !important;
    padding-right: 17px !important;
    width: calc(100% + 17px) !important;
}
.modal_win, #modal_postEdit {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    height: 270px;
    margin: auto;
    padding: 79px;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 620px;
}
#modal_postEdit p {
    margin-bottom: 24px;
}
#modal_postEdit p + p {
    margin-bottom: 32px;
}
.win_02 #modal_postEdit {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    box-sizing: content-box;
    display: none;
    height: 360px;
    margin: auto;
    padding: 40px 80px;
    text-align: left;
    width: 478px;
}
.modal_win p {
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 24px;
}
.modal_win p:first-child {
    font-weight: bold;
}
.modal_win p + p {
    margin-bottom: 32px;
}
.modal_win a {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 120px;
}
.modal_win .clear {
    margin: 0 auto;
    width: 245px;
}
.modal_win .clear a {
    float: left;
    margin: 0;
}
.modal_win .clear a:first-child {
    background: #44d095 none repeat scroll 0 0;
    margin-right: 5px;
}
.innerBox {
    min-width: 960px;
    width: 100%;
}
#wrapper {
    min-width: 960px;
    padding-top: 54px;
    width: 100%;
}
#container {
    box-sizing: border-box;
    padding-left: 265px;
}
.dside .page_topTitle {
    margin-bottom: 10px;
    padding-left: calc(50% - 135px);
    width: 580px;
}
.dside .page_topTitle .page_topTitle_container {
    width: 100%;
}
.dside #container {
    padding-left: 320px;
}
.dside #footer, .dside #foot-cp {
    padding-left: 330px;
    padding-right: 10px;
}
.hsearch .select2-container--open .select2-dropdown {
    margin-top: 14px;
}
.hsearch .page_topTitle {
    padding-bottom: 15px;
}
.hsearch .page_topTitle .page_topTitle_container {
    margin-bottom: 13px;
}
.hsearch .page_topTitle .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0;
}
.hsearch .page_topTitle .page_topSearch {
    height: 17px;
    padding-left: 27px;
    position: relative;
}
.hsearch .page_topTitle .page_topSearch select {
    display: block;
    width: 100%;
}
.hsearch .page_topTitle .page_topSearch .btn_search {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_search_contact.png") no-repeat scroll center center;
    cursor: pointer;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
}
.hsearch .page_topTitle .page_topSearch .btn_search input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.hsearch .page_topTitle .select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 11px;
    height: 17px;
    line-height: 17px;
}
.hsearch .page_topTitle .select2-container--default .select2-selection--multiple .select2-selection__choice span {
    height: 17px !important;
}
.hsearch .page_topTitle .select2-container .select2-selection--multiple {
    height: 17px;
    min-height: 17px;
}
.hsearch .page_topTitle .select2-search__field {
    font-size: 13px !important;
    height: 17px;
    line-height: 17px;
    padding: 0 !important;
    width: 100%;
}
aside {
    background: #7b98AC none repeat scroll 0 0;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    height: 100%;
    left: 0;
    padding-top: 50px;
    position: fixed;
    top: 50px;
    width: 265px;
    z-index: 1;
}
aside .sub-aside {
    background: #212931 none repeat scroll 0 0;
    height: 100%;
    left: 160px;
    padding-top: 85px;
    position: absolute;
    top: 0;
    width: 160px;
}
aside .sub-aside .ttl_sub_side:first-child {
    margin-top: 0;
}
.ttl_side {
    background-position: 12px center;
    background-repeat: no-repeat;
    color: #bbb;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    margin: 7px 0;
    padding-left: 36px;
}
.ttl_sub_side {
    color: #5b6876;
    font-size: 11px;
    line-height: 1em;
    margin: 30px 0 10px;
    padding-left: 9px;
}
#column-main {
    float: left;
    padding: 9px 0 24px;
    width: 100%;
}
#column-sub {
    background: #fff none repeat scroll 0 0;
    float: right;
    width: 320px;
}
#column-main-single {
    margin: 0 auto;
    width: 620px;
}
.page_topTitle {
    margin-bottom: 40px;
    padding: 35px 0 45px 12%;
    position: relative;
}
.page_topTitle .page_topTitle_container {
    margin: 0 auto;
    width: 620px;
}
.page_topTitle p {
    font-size: 14px;
}
.page_topTitle p.btn_add {
    bottom: 57px;
    font-size: 12px;
    position: absolute;
    right: 10px;
}
.page_topTitle h1 {
    border-bottom: 1px solid #e5e8eb;
    font-size: 18px;
    line-height: 40px;
    margin: 0;
}
.tab li {
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    position: relative;
    text-align: center;
}
.clear::after {
    clear: both;
    content: " ";
    display: block;
}
.btn {
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
}
.btn_form {
    cursor: pointer;
    display: block;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    font-size: 11px;
    line-height: 1.2em;
    overflow: hidden;
    position: relative;
}
.btn_form input[type="file"], .btn_form input[type="submit"], .btn_form button {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.btn_add {
    background: rgba(0, 0, 0, 0) url("../../img/setting/btn_circle_plus.png") no-repeat scroll 0 0;
    color: #bbb;
    cursor: pointer;
    font-size: 12px;
    line-height: 17px;
    padding: 0 0 0 25px;
}
.btn_full {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
}
.input_swich {
    display: none;
}
.input_swich + label, .input_swich + label::before, .input_swich + label::after {
    transition: all 0.3s ease 0s;
}
.input_swich + label {
    background-color: #b3b1b1;
    border: 1px solid #9a9898;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    position: relative;
    width: 50px;
}
.input_swich + label::before {
    content: "OFF";
    display: block;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 4px;
    top: 0;
}
.input_swich + label::after {
    background-color: #eee;
    border-radius: 2px;
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 19px;
}
.input_swich:checked + label {
    background-color: #44d095;
    border: 1px solid #3cbf88;
}
.input_swich:checked + label::before {
    content: "ON";
    left: 4px;
    right: auto;
}
.input_swich:checked + label::after {
    background-color: #f7f7f7;
    left: 29px;
}
.bg_green {
    background: #44d095 none repeat scroll 0 0;
    color: #fff;
}
.bg_gray {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
}
.bg_gray_light {
    background: #eee none repeat scroll 0 0;
}
.bg_dark {
    background: #22313d none repeat scroll 0 0;
    color: #fff;
}
.txt_8 {
    font-size: 8px;
}
.txt_10 {
    font-size: 10px;
}
.txt_11 {
    font-size: 11px;
}
.txt_12 {
    font-size: 12px;
}
.txt_13 {
    font-size: 13px;
}
.txt_14 {
    font-size: 14px;
}
.txt_18 {
    font-size: 18px;
}
.txt_range {
    height: 28px;
}
.txt_range div {
    display: table-cell;
    height: 28px;
    overflow-wrap: break-word;
    vertical-align: middle;
}
.fw_b {
    font-weight: bold;
}
.lh35 {
    line-height: 35px;
}
.txt_light_1, .txt_light_2 {
    color: #444;
}
.txt_gray {
    color: #bbb;
}
.txt_green {
    color: #44d095;
}
.ve_t {
    vertical-align: top;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt40 {
    margin-top: 40px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb40 {
    margin-bottom: 40px;
}
.ml10 {
    margin-left: 10px;
}
.ma {
    margin: 0 auto;
}
.ml20 {
    margin-left: 20px;
}
.pdl20 {
    padding-left: 20px;
}
.icon_green {
    background: #44d095 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 8px;
    height: 13px;
    line-height: 13px;
    margin: auto;
    text-align: center;
    width: 13px;
}
.icon_circle {
    border-radius: 100%;
    display: block;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
}
.icon_circle img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
#header {
    background: #1A2732;
}


body.sp #header {
    position: relative;
}
#logo {
    display: block;
    float: left;
    margin-left: 17px;
    transition: opacity 0.2s ease 0s;
    width: 248px;
	height: 56px;
	overflow: hidden;
}
#logo:hover {
    opacity: 1;
}
#logo > img:hover {
    opacity: 1;
}
#nav {
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
#nav li.btn_block {
    float: left;
    width: 50px;
}
#nav li.btn_block a {
    display: block;
    height: 50px;
    position: relative;
    text-align: center;
    word-break: keep-all;
}
#nav .icon_green {
    position: absolute;
    right: 6px;
    top: 4px;
    z-index: 100;
}
#btn_profile {
    background: #545c61 none repeat scroll 0 0;
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding: 5px 12px 5px 9px;
    position: relative;
    width: 220px;
}
#btn_profile a:first-child {
    color: #fff;
    display: table;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    padding-left: 40px;
    position: relative;
    text-decoration: none;
    width: 115px;
}
#btn_profile .icon_circle {
    left: 0;
    position: absolute;
    top: 5px;
}
#btn_profile .icon_circle + span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.btn_gear {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_gear.png") no-repeat scroll center center;
    bottom: 0;
    display: block;
    height: 16px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.btn_gear:hover {
    background-image: url("/img/common/btn_gear-selected.png");
}
.btn_gear.gear_right {
    background-image: url("/img/common/btn_gear.png");
    cursor: default;
}
#btn_profile .btn_gear {
    right: 12.5px;
}
#line_footer {
    border-top: 1px solid #bbb;
    width: 100%;
}
footer {
    font-size: 11px;
    line-height: 19px;
    max-width: 1180px;
    min-width: 960px;
    padding: 14px 0;
    text-align: center;
}
#footer {
}
#footer a {
    color: #aeafaf;
    margin-left: 17px;
}
#footer a:first-child {
    margin-left: 0;
}
#foot-cp {
    color: #c7c8c9;
    text-align: center;
}
#post-form, #post-form_ms, .post-form {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	border: #e5e8eb;
    background: #fff none repeat scroll 0 0;
    border-color: #e5e8eb #e5e8eb -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
	border: #e5e8eb;
    border-width: 1px 1px 0px 1px;
    width: 560px;
}
#post-form {
    box-sizing: border-box;
    width: 100%;
}
#post-form_ms {
    width: 458px;
}
#post-form > .clear, #post-form > .select-input-box, .post-form > .clear, .post-form > .select-input-box, #post-form_ms > .clear, #post-form_ms > .select-input-box {
    border-bottom: 1px solid #e5e8eb;
}
#post-form > .clear:first-child, .post-form > .clear:first-child, #post-form_ms > .clear:first-child {
    display: flex;
}
#post-form .clear, #post-form_ms .clear, .post-form .clear {
    position: relative;
}
#post-form .clear .select-input-box, #post-form_ms .clear .select-input-box, .post-form .clear .select-input-box {
    box-sizing: border-box;
    float: left;
    width: 50%;
}
#post-form > .clear:first-child .select-input-box, .post-form > .clear:first-child .select-input-box, #post-form_ms > .clear:first-child .select-input-box {
    float: none;
}
#post-form > .clear:first-child::before, #post-form_ms > .clear:first-child::before, .post-form > .clear:first-child::before {
    background: #e5e8eb none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -0.5px;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 50;
}
.select-input-box {
    box-sizing: border-box;
    position: relative;
}
.select-input-box select {
    box-sizing: border-box;
    display: block;
    padding: 13px 30px 13px 12px;
    width: 100%;
}
.select-input-box .btn_select {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    display: block;
    padding: 13px 30px 13px 12px;
    position: relative;
    width: 100%;
}
.select-input-box .select2-container {
    z-index: 10;
}
.select-input-box .btn_arrow {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select.png") no-repeat scroll center center;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 22px;
    margin: auto;
    position: absolute;
    right: 4px;
    top: 0;
    width: 22px;
    z-index: 0;
}
.select2-container--open + .btn_arrow, .open .btn_arrow {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select_open.png") no-repeat scroll center center;
}
.post-txt {
    padding: 20px 22px 21px;
    position: relative;
}
.post-txt::after {
    background: #e5e8eb none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.post-txt textarea {
    display: block;
    min-height: 102px;
    vertical-align: top;
    width: 100%;
}
#bg_tag, #bg_tag_ms, .bg_tag {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_tag.png") no-repeat scroll 14px center;
    padding-left: 21px;
}
#bg_tag + .clear, #bg_tag_ms + .clear, .bg_tag + .clear {
    height: 38px;
}
#post-form .btn_form, #post-form_ms .btn_form, .post-form .btn_form {
    border-right: 1px solid #e5e8eb;
    box-sizing: border-box;
    float: left;
    line-height: 38px;
    min-height: 100%;
    width: 25%;
}
#post-form .btn_form:first-child, #post-form_ms .btn_form:first-child, .post-form .btn_form:first-child {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_picture.png") no-repeat scroll 11px center;
    padding-left: 31px;
}
#post-form .btn_form:last-child, #post-form_ms .btn_form:last-child, .post-form .btn_form:last-child {
    border-right: medium none;
    text-align: center;
}
#btn_range .btn_select, #btn_range_ms .btn_select, .btn_range .btn_select {
    height: 38px;
}
#btn_range ul, #btn_range_ms ul, .btn_range ul {
    display: block;
    height: 28px;
    left: 6px;
    position: absolute !important;
    top: 5px;
    width: 196px;
}
#btn_range .tag-select, #btn_range_ms .tag-select, .btn_range .tag-select {
    background: #bbb none repeat scroll 0 0;
    border-radius: 1px;
    color: #fff;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    padding: 0 8px;
}
#btn_range .btn_arrow, #btn_range_ms .btn_arrow, .btn_range .btn_arrow {
    z-index: 10 !important;
}
.chk-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #eee #eee;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-sizing: border-box;
    display: none;
    left: 0;
    line-height: 25px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 12;
}
.chk-box label {
    display: block;
    padding: 4px 12px 4px 20px;
}
.chk-box label:hover {
    background: #eee none repeat scroll 0 0;
}
.chk-box > .chk-box {
    border: medium none;
    display: block;
    padding: 0 0 0 19px !important;
    position: relative;
}
.open > .chk-box {
    display: block;
}
h2.headline {
    margin-bottom: 19px;
}
#timeline {
    margin-top: 37px;
}
#timeline .tab {
    float: left;
    width: 210px;
}
#timeline .tab li {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 50%;
}
#timeline .tab li.selected {
    background: #22313d none repeat scroll 0 0;
    cursor: auto;
}
#timeline .tab li.selected::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #22313d transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 30px;
    width: 0;
}
#timeline .select-input-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e8eb;
    float: right;
    width: 230px;
}
#timeline .btn_select {
    border: 1px solid #e5e8eb;
    height: 30px;
    padding: 9px 30px 9px 12px;
}
.post-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    margin-top: 11px;
}
.post-info {
    padding: 15px 19px;
}
.post-info .icon_circle {
    float: left;
}
.author-tags {
    float: right;
    width: calc(100% - 40px);
}
.txt_author {
    font-weight: bold;
}
.txt_author:hover {
    color: #44d095;
}
.post-meta {
    float: right;
    width: 110px;
}
.post-time {
    float: left;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    line-height: 16px;
    text-align: right;
    width: 62px;
}
.post-share {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_share.png") no-repeat scroll center center;
    margin-right: 4px;
}
.post-share:hover {
    background-image: url("/img/common/btn_share-selected.png");
}
.post-setting {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_gear.png") no-repeat scroll center center;
    position: relative;
}
.post-setting:hover {
    background-image: url("/img/common/btn_gear-selected.png");
}
.post-detail {
    background: rgba(0, 0, 0, 0) url("/img/common/btn_detail.png") no-repeat scroll center center;
    margin-right: 4px;
    position: relative;
}
.post-detail:hover {
    background-image: url("/img/common/btn_gear-selected.png");
}
.post-del {
    background-image: url("/img/common/btn_share-selected.png");
}
.post-share, .post-setting, .post-detail, .post-del {
    background-size: cover;
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    width: 16px;
}
.active .post-setting_baloon {
    display: block;
}
.post-setting_baloon {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #bbb;
    cursor: auto;
    display: none;
    line-height: 1.9em;
    padding: 22px 13px;
    position: absolute;
    right: -19px;
    top: 23px;
    width: 122px;
    z-index: 1;
}
.post-setting_baloon a:hover {
    background: #fff none repeat scroll 0 0 !important;
    color: #44d095;
}
.post-setting_baloon::after, .post-setting_baloon::before {
    border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 121px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.post-setting_baloon::after {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff;
    border-width: 6px;
    margin-left: -6px;
}
.post-setting_baloon::before {
    border-color: rgba(187, 187, 187, 0) rgba(187, 187, 187, 0) #bbb;
    border-width: 7px;
    margin-left: -7px;
}
.post-share span, .post-detail span, .post-del span {
    background: #e5e8eb none repeat scroll 0 0;
    display: none;
    padding: 4px 8px;
    position: fixed;
}
.post-share.active span, .post-detail.active span, .post-del.active span {
    display: block;
}
.txt_tags {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_tag.png") no-repeat scroll left center;
    line-height: 17px;
    margin-top: 5px;
    padding-left: 15px;
}
.deleted .txt_tags {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding-left: 0;
}
.txt_tags a {
    text-decoration: underline;
}
.txt_tags a:hover {
    color: #44d095;
}
.post-content {
    line-height: 1.4em;
    margin: 0 auto;
    padding: 23px 19px 25px;
    position: relative;
}
.post-content::before {
    background: #ccc none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 95%;
}
.post-content p {
    overflow-wrap: break-word;
}
.post-content .spacer-scrollY div {
    min-height: 113px;
}
.btn_post a {
    font-weight: bold;
    position: relative;
    text-align: center;
    width: 50%;
}
.btn_post a span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.btn_post a span:first-child {
    margin-right: 28px;
    padding-left: 22px;
}
.btn_post a:first-child {
    border-right: 1px solid #fff;
}
.btn_post a:first-child span:first-child {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_recommend.png") no-repeat scroll left center;
}
.btn_post a:last-child span:first-child {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_share.png") no-repeat scroll left center;
}
.btn_post a:hover {
    background-color: #44d095;
}
.post-ogp {
    display: block;
}
.ogp-thumb {
    background: #ccc none repeat scroll 0 0;
    cursor: pointer;
    height: 240px;
    overflow: hidden;
    position: relative;
}
.ogp-thumb img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.ogp-thumb video {
    width: 100%;
}
.ogp-content {
    padding: 20px 19px 21px;
}
.ogp-ttl {
    font-size: 16px;
    font-weight: bold;
}
.ogp-desc {
    font-size: 11.5px;
    margin: 8px 0;
}
.ogp-content .txt_gray {
    font-size: 11.5px;
    margin-top: 8px;
}
.ogp-thumb .btn_player {
    background: rgba(0, 0, 0, 0) url("/img/top/btn_player.png") no-repeat scroll center center;
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}
#icon_loading {
    margin: 26px auto 0;
    width: 46px;
}
#wheather-box {
    border-bottom: 1px solid rgba(187, 187, 187, 0.2);
    margin-bottom: 28px;
    padding: 21px 24px 16px;
}
#icon_wheather {
    float: left;
    width: 31px;
}
#info-now {
    float: right;
    width: 222px;
}
#info-now p {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}
#info-date {
    font-size: 18px;
    margin-bottom: 5px;
}
#info-locate {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_locate.png") no-repeat scroll left center;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    line-height: 12px;
    padding-bottom: 2px;
    padding-left: 14px;
}
#column-sub h2.headline {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    padding-left: 10px;
}
#column-sub .tab li {
    border-left: 1px solid #e5e8eb;
    border-top: 1px solid #e5e8eb;
    color: #aaa;
    padding: 10px 0;
    width: 33.33%;
}
#column-sub .tab li:last-child {
    border-right: 1px solid #e5e8eb;
}
#column-sub .tab li.selected {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    cursor: auto;
}
#column-sub .tab .icon_green {
    display: inline-block;
    margin-left: 5px;
    position: relative;
}
.contact-box {
    border-bottom: 1px solid #e5e8eb;
    border-top: 1px solid #e5e8eb;
}
.contact-item {
    border-top: 1px solid #e5e8eb;
    display: block;
    padding: 15px 26px 15px 21px;
    position: relative;
}
.contact-item:first-child {
    border-top: medium none;
}
.contact-item .icon_circle {
    float: left;
    height: 40px;
    width: 40px;
}
.contact-item.new-msg {
    background: #edfbfc none repeat scroll 0 0;
}
.contact-item:hover {
    background: #eeeeee none repeat scroll 0 0;
}
.contact-item:hover img {
    opacity: 1;
}
.contact-cap {
    float: right;
    position: relative;
    width: 226px;
}
.contact-cap p {
    line-height: 18.5px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.contact-name {
    font-weight: bold;
}
.contact-time {
    line-height: 18px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.btn_more {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 9px auto 47px;
    text-align: center;
    width: 300px;
}
.btn_more:hover {
    background: #44d095 none repeat scroll 0 0;
}
#search-form {
    line-height: 12px;
    margin-bottom: 16px;
    padding: 0 24px 0 10px;
}
#search-form input {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_search_contact.png") no-repeat scroll 5px top;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding-bottom: 6px;
    padding-left: 21px;
    width: 100%;
}
.connection-cap {
    float: left;
    margin-left: 6px;
    width: 160px;
}
.connection-cap p {
    line-height: 18.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#connection-box .contact-item::before {
    border-radius: 100%;
    bottom: 0;
    content: "";
    display: block;
    height: 8px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    width: 8px;
}
#connection-box .contact-item:hover::before {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_msg.png") no-repeat scroll center center;
    border-radius: 0;
    height: 13px;
    right: 27px;
    width: 14px;
}
.icon_online::before {
    background: #44d095 none repeat scroll 0 0;
}
.icon_away::before {
    background: #ffd43e none repeat scroll 0 0;
}
.icon_offline::before {
    background: #bbb none repeat scroll 0 0;
}
#side-profile .icon_circle {
    height: 134px;
    margin: 0 auto;
    width: 134px;
}
#side-name {
    color: #fff;
    margin: 30px auto 43px;
    position: relative;
    width: 140px;
}
#side-name p {
    font-size: 12pt;
    letter-spacing: 0.5px;
    line-height: 19px;
    margin-left: 2px;
    overflow-wrap: break-word;
    text-transform: uppercase;
    width: 180px;
    font-weight: 600;
    font-family: Helvetica;
}
#side-name p + span {
    bottom: 0;
    margin: auto;
    right: 0;
    top: 0;
}
#side-link a {
    color: #fff;
    display: block;
    line-height: 14px;
    padding: 13px 0 13px 65px;
    position: relative;
    word-break: break-all;
    font-size: 10pt;
    font-weight: 500;
    font-family: Helvetica;
}
#side-link a.selected {
    background: #22313d none repeat scroll 0 0;
    border-left: 4px solid #44d095;
    padding-left: 8px;
}
#side-link a:hover {
    opacity: 0.7;
}
#side-link .icon_green {
    bottom: 0;
    position: absolute;
    right: 15px;
    top: 0;
}
#win-btm {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    bottom: -200px;
    height: 235px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    transition: bottom 0.2s ease 0s;
    width: 380px;
    z-index: 500;
}
#win-btm.open {
    bottom: 0;
}
#win-head {
    background: #76d2e3 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding-left: 17px;
    position: relative;
}
#win-head::after {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_close.png") no-repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 6px;
    margin: auto;
    position: absolute;
    right: 17px;
    top: 0;
    width: 8px;
}
#win-btm.open #win-head::after {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_open.png") no-repeat scroll 0 0;
}
#win-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #76d2e3 #76d2e3;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 4px 4px;
    box-sizing: border-box;
    height: 200px;
    position: relative;
}
#win-box p {
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 42px;
    left: 0;
    line-height: 21px;
    padding-bottom: 74px;
    padding-top: 80px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 372px;
    z-index: 10;
}
#win-box.sent p {
    display: block;
}
#win-box span {
    font-weight: bold;
}
#win-box textarea {
    height: 134px;
    padding: 22px 14px 10px;
    width: 344px;
}
#win-box input[type="submit"] {
    display: block;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    width: 360px;
}
.win .select2-container.select2-container--default.select2-container--open {
    z-index: 20000;
}
#modal_search {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    height: 160px;
    margin: auto;
    padding: 35px 60px 0;
    transition: all 0.2s ease 0s;
    width: 620px;
}
#modal_search .basic_info {
    padding: 0 !important;
}
#modal_search .select2-selection {
    width: 327px;
}
#modal_search .select2-selection .foot_country {
    width: 150px;
}
#modal_search > p.txt_14:first-child {
    margin-bottom: 20px;
    text-align: center;
}
#modal_search > p.txt_14:first-child + div.clear {
    padding-bottom: 20px;
}
#modal_search > p.txt_14:first-child + div.clear input:first-child {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    float: left;
    font-size: 13px;
    height: 34px;
    line-height: 32px;
    padding-left: 8px;
    width: 420px;
}
#modal_search > p.txt_14:first-child + div.clear input:last-child {
    background: #44d095 none repeat scroll 0 0;
    color: #fff;
    float: right;
    font-size: 13px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 70px;
}
#modal_search > p.txt_14:first-child + div.clear + .basic_info .clear:first-child {
    border-bottom: 1px solid #e5e8eb;
    margin-bottom: 22px;
    padding: 7.5px 0;
    text-align: left;
}
#modal_search > p.txt_14:first-child + div.clear + .basic_info .clear:first-child p {
    float: left;
    line-height: 17px;
}
#modal_search > p.txt_14:first-child + div.clear + .basic_info .clear:first-child a {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_add.png") no-repeat scroll left center;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 17px;
    padding-left: 23px;
}
#modal_search .btn_open {
    border-top: 1px solid #e5e8eb;
    bottom: 0;
    cursor: pointer;
    height: 44px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 500px;
}
#modal_search .btn_open::after {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select.png") no-repeat scroll right center;
    color: #bbb;
    content: "DETAIL";
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    padding-right: 30px;
}
#modal_search.win {
    height: 535px;
}
#modal_search.win .basic_info {
    height: 329px;
}
#modal_search.win .btn_open::after {
    background-image: url("/img/common/arrow_select_open.png");
    content: "CLOSE";
}
#modal_search .basic_info {
    border: medium none;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.2s ease 0s;
}
#modal_search .basic_info th {
    padding-right: 0;
    width: 120px;
}
#modal_search .basic_info td {
    padding-left: 15px;
    width: 355px;
}
#modal_search .basic_info td.clear div {
    margin-bottom: 9px;
}
#modal_search .basic_info td.clear div input, #modal_search .basic_info td.clear div select {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    font-size: 13px;
    height: 35px;
    line-height: 25px;
    padding: 4px 10px;
    width: 100%;
}
#modal_search .basic_info td.clear div:first-child {
    float: left;
    width: 203px !important;
}
#modal_search .basic_info td.clear div:last-child {
    float: right;
    width: 150px !important;
}
#modal_search .basic_info td.txt_td {
    height: 38px;
    line-height: 38px;
}
#modal_search .basic_info td.txt_td div.select-box {
    border: 1px solid #e5e8eb;
    display: inline-block;
    width: 65px;
}
#modal_search .basic_info td.txt_td div.select-box select {
    box-sizing: border-box;
    height: 36px;
    line-height: 38px;
    padding-left: 10px;
    width: 100%;
}
input.btn_searchSubmit {
    background: #44d095 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 30px auto 0;
    text-align: center;
    width: 200px;
}
select {
    -moz-appearance: none;
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-sizing: content-box;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
select:focus {
    outline: medium none;
}
.modal-edit-active .select2-container, .search-active .select2-container {
    z-index: 120000;
}
.modal-edit-active .select2-dropdown {
    margin-top: 0 !important;
}
#basic_info, .basic_info {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e5e8eb;
    margin-bottom: 40px;
    padding: 25px 19px;
}
#basic_info .ttl_edit, .basic_info .ttl_edit {
    border-bottom: 1px solid #e5e8eb;
    margin-bottom: 29px;
    padding-bottom: 10px;
}
#basic_info table, .basic_info table {
    border-collapse: collapse;
    table-layout: fixed;
}
#basic_info table + .ttl_edit, .basic_info table + .ttl_edit {
    margin-top: 20px;
}
#basic_info th, .basic_info th {
    font-size: 12px;
    padding: 12px 10px 0 0;
    text-align: right;
    vertical-align: top;
    width: 121px;
}
#basic_info td, .basic_info td {
    font-size: 13px;
    padding: 0 0 0 10px;
    width: 439px;
}
#basic_info td > input[type="text"], .basic_info td > input[type="text"] {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    margin-bottom: 9px;
    padding: 10px 12px;
    width: 100%;
}
#basic_info td > select, .basic_info td > select, #basic_info td.d-table-data select, .basic_info td.d-table-data select {
    border: 1px solid #e5e8eb;
    height: 13px;
    line-height: 1em;
    margin-bottom: 9px;
    padding: 10px 28px 10px 7px;
    width: 43px;
}
#basic_info td > select.short, .basic_info td > select.short {
    width: 30px;
}
#basic_info td > select.short + span, .basic_info td > select.short + span {
    display: inline-block;
    font-size: 12px;
}
#basic_info td input, #basic_info td select, .basic_info td input, .basic_info td select {
    font-size: 13px !important;
}
#basic_info td .select-box, .basic_info td .select-box {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select.png") no-repeat scroll right 4px center;
    color: #bbb;
}
#basic_info td .select-box.focus, .basic_info td .select-box.focus {
    background: rgba(0, 0, 0, 0) url("/img/common/arrow_select_open.png") no-repeat scroll right 4px center;
}
#basic_info td .select-box.active, .basic_info td .select-box.active {
    color: #333;
}
#basic_info td .select-box option, .basic_info td .select-box option {
    color: #333;
}
#basic_info td .select-box option:first-child, .basic_info td .select-box option:first-child {
    color: #bbb;
}
#basic_info td .select-input-box, .basic_info td .select-input-box {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    margin-bottom: 9px;
    padding: 4px 0;
    width: 100%;
}
#basic_info td .select2-container .select2-selection--multiple, .basic_info td .select2-container .select2-selection--multiple {
    height: 25px;
    line-height: 25px;
    min-height: auto;
}
#basic_info td .select2-container--default .select2-selection--multiple .select2-selection__rendered, .basic_info td .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-left: 0;
}
#basic_info td .select2-container--default .select2-selection--multiple .select2-selection__choice, .basic_info td .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-left: 4px;
}
#basic_info td .select2-container .select2-search--inline .select2-search__field, .basic_info td .select2-container .select2-search--inline .select2-search__field {
    padding-left: 10px;
}
#basic_info .column_2 input, .basic_info .column_2 input {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    float: left;
    margin-bottom: 9px;
    padding: 10px 12px;
    width: 300px;
}
#basic_info .column_2 select, .basic_info .column_2 select {
    border: 1px solid #e5e8eb;
    float: right;
    height: 13px;
    line-height: 1em;
    margin-bottom: 9px;
    padding: 10px 28px 10px 7px;
    width: 92px;
}
#basic_info td input.sshort, .basic_info td input.sshort {
    margin-right: 7px;
    width: 130px;
}
#basic_info td input.sshort:last-child, .basic_info td input.sshort:last-child {
    width: 110px;
}
#basic_info .column_2.insel input, .basic_info .column_2.insel input {
    width: 230px;
}
#basic_info .column_2.insel select, .basic_info .column_2.insel select {
    width: 173px;
}
#basic_info .column_2.slsl select, .basic_info .column_2.slsl select {
    float: left;
    width: 143px;
}
#basic_info .column_2.slsl select + select, .basic_info .column_2.slsl select + select {
    margin-left: 10px;
}
#basic_info select.semi-short-select, .basic_info select.semi-short-select {
    width: 284px;
}
#basic_info select.short-select, .basic_info select.short-select {
    width: 184px;
}
#basic_info .column_3 input, .basic_info .column_3 input {
    border: 1px solid #e5e8eb;
    box-sizing: border-box;
    float: left;
    margin-bottom: 9px;
    padding: 10px 12px;
    width: 140px !important;
}
#basic_info .column_3 select, .basic_info .column_3 select {
    border: 1px solid #e5e8eb;
    float: left;
    height: 13px;
    line-height: 1em;
    margin-bottom: 9px;
    padding: 10px 28px 10px 7px;
}
#basic_info .column_3 select.short-select, .basic_info .column_3 select.short-select {
    margin-left: 9.5px;
    width: 53px;
}
#basic_info .column_3 select.semi-short-select, .basic_info .column_3 select.semi-short-select {
    margin-left: 9.5px;
    width: 153px;
}
.menu_tag .menu_test {
    background: #e5e8eb none repeat scroll 0 0;
    display: none;
    font-size: 10px;
    left: 0;
    padding: 4px 8px;
    position: absolute;
    top: 40px;
    z-index: 100;
}
.menu_tag:hover .menu_test {
    display: block;
}
.win_02 .select2-container.select2-container--default.select2-container--open {
    z-index: 20000;
}
.win_02 .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-left: 12px;
}
#modal_postEdit > div {
    height: 360px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#modal_postEdit .post-form {
    margin: 0 auto;
    width: 100%;
}
#modal_postEdit .modal_close {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 30px auto 0;
    text-align: center;
    width: 120px;
}
.modal-edit-active #modal_share {
    height: 580px;
}
.modal-edit-active #modal_share .textarea {
    height: 90px;
    padding: 10px 10px 170px;
    position: relative;
}
.modal-edit-active #modal_share .textarea .share-art {
    border: 1px solid #e5e8eb;
    bottom: 10px;
    box-sizing: border-box;
    height: 150px;
    left: 50%;
    margin-left: -209px;
    padding: 12px 7px;
    position: absolute;
    width: 418px;
}
.modal-edit-active #modal_share .textarea .share-art p {
    text-align: left;
}
.modal-edit-active #modal_share .textarea .share-art .txt_11 {
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 7px;
}
.modal-edit-active #modal_share .textarea .share-art .txt_11 span {
    text-decoration: underline;
}
.modal-edit-active #modal_share .textarea .share-art .txt_14 {
    border-bottom: 1px solid #e5e8eb;
    font-size: 14px;
    margin: 0;
    padding-bottom: 11px;
}
.modal-edit-active #modal_share .textarea .share-art .txt_13 {
    font-size: 13px;
    line-height: 24px;
}
.modal-edit-active #modal_share .textarea .share-art .txt_13 a {
    background: transparent none repeat scroll 0 0;
    color: #333;
    display: inline;
    font-size: 13px;
    margin: 0 0 0 3px;
    padding: 0 0 0 10px;
    text-decoration: underline;
}
.modal-edit-active #modal_share .textarea::after {
    display: none;
}
.modal-edit-active #modal_share textarea {
    border-bottom: medium none;
    height: auto;
    margin-bottom: 0;
    min-height: 90px;
    padding: 10px;
}
.modal-edit-active #modal_share #bg_tag_ms {
    border-right: 1px solid #e5e8eb;
    float: left;
    width: 289px;
}
.modal-edit-active #modal_share .bdt {
    border-top: 1px solid #e5e8eb;
}
.modal-edit-active #modal_share #btn_range_ms ul {
    z-index: 20;
}
.modal-edit-active #modal_share .chk-box {
    text-align: left;
}
.modal-edit-active #modal_share .ta-c {
    margin-top: 42px;
    text-align: center;
}
.modal-edit-active #modal_share .ta-c .modal_close, .modal-edit-active #modal_share .ta-c .modal_share_cload {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.modal-edit-active #modal_share .ta-c .modal_share_cload {
    background: #44d095 none repeat scroll 0 0;
    margin-left: 5px;
    width: 140px;
}
.modal-edit-active #modal_share .ta-c .modal_close {
    background: #bbb none repeat scroll 0 0;
    width: 120px;
}
#modal_share {
    overflow: hidden;
    transition: all 0.2s ease 0s;
    z-index: 12000;
}
#modal_share #post-form .clear {
    width: 100%;
}
.modal-edit-active .select2-container, .search-active .select2-container {
    z-index: 120000;
}
.modal-edit-active .select2-dropdown {
    margin-top: 0 !important;
}
#modal_share .clear {
    width: 100%;
}
.modal-edit-active .modal_win {
    padding: 60px 70px;
}
.sort_submit {
    background: rgba(0, 0, 0, 0) url("/img/common/icon_search_contact.png") no-repeat scroll center center;
    float: right;
    height: 30px;
    width: 15px;
}
#adapt_box {
    display: block;
    margin-bottom: 12px;
    margin-top: 10px;
}
.adapt_img {
    display: block;
    height: 172px;
    width: 320px;
}
#adapt_box .adapt_exp {
    background: #dddddd none repeat scroll 0 0;
    display: block;
    font-size: 10px;
    line-height: 20px;
    text-align: right;
    vertical-align: middle;
    width: 320px;
}
#adapt_box .adapt_exp img {
    left: -3px;
    position: relative;
    top: 3px;
}
.btn_post_timeline {
    background: #bbb none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.btn_post_timeline:hover {
    background-color: #22313d;
}
.top-menu-text {
	float: left;
    padding: 20px 0 0;
	width: 730px;
    font-weight: 600;
    font-family: "Helvetica";
}
.top-menu-text > li {
    color: white;
    float: left;
    margin-left: 2px;
    margin-right: 25px;
    font-size: 10pt;
}

.top-menu-text a {
    color: white;
}
.top-menu-text a:hover {
    color: #74b462;
}
.message-side-tabs {
    width: 100%;
	margin: 0 0 0 17px;
}
.message-side-tabs > li {
    float: left;
	padding: 0 14px 14px;
}
.message-side-tabs a {
    color: white;
}

.message-side-tabs a:hover {
    color: #74b462;
}
.message-side-tabs-current{
	border-bottom: 2px solid #74b462;
	color: #74b462;
}
.message-side-tabs-current a{
	color: #74b462;
}
.sidemenuitems{
    padding-left: 80px;
}
.selected-side-menu-item{
    border-left: medium solid #74b462;
    padding-left: 62px !important;
    background-color: #1A2732;
}
.profile-info{
    background-color: #b3c4cf;
}
.column_half{
    width: 47%;
    height: 100%;
    color: white;
    float: left;
}
.profile-info-subheading{
    color: #1A2732;
    font-size: 10pt;
}
.bold{
    font-weight: bold;
}
.notbold{
    font-weight: 300;
}

*/




/* Alexey Styles */

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/*Mobile styles that will get moved later */
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}





/* Alexey Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar .navbar-brand{
    padding-top: 5px;
    padding-bottom: 5px
}

#wrapper{
    min-height: 100%;
    padding-top: 51px; /*Temp offset for navbar */
}

#page-content-wrapper{
    height: 100%;
    min-height: 100%;
}

#footer{
    width: 100%;
}

.navbar{
    margin-bottom: 0;
}

.navbar-brand img{
    height: 100%;
}


/*Side bar*/
.sidebar-nav .active{
    border-left: medium solid #74b462;
    background-color: #1A2732;
}



/*Profile Image Style */
.sidebar-brand .sidebar-profile-image{
    height: 134px;
    margin: 0 auto;
    width: 134px; 
}

.sidebar-profile-image{
    border-radius: 100%;
    display: block;
    height: 30px; 
    overflow: hidden;
    position: relative;
    width: 30px;
}

.sidebar-profile-image img{
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

/*Profile Info*/
.profile-info{
    background: #b3b3b3;
    color: #fff;
    padding: 3em;
}

/*Feed Items */
.feed-item{
    margin: 1em 0;
}

.feed-item-top-bar{
    background: #1a2733;
}

.feed-item-top-bar h3{
    margin: 0;
    padding: 2rem;
    color: #fff;
}

.feed-item-content{
    border-left: solid #cfe2e5;
    border-right: solid #cfe2e5;
    border-width: 1px;
}

.feed-item-content p{
    margin: 0;
    padding: 1em;
}


.feed-item-more:after{
    content:"...";
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    background: #65c7ca;
    color: #fff;
}