@charset "UTF-8";
/* リセット
/*************************/
html {
  width: 100%;
  min-width: 960px;
  min-height: 100%;
}

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
  line-height: 1;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #ecf1f2;
}

body.whead:before {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 0;
  width: 100%;
  min-width: 960px;
  height: 135px;
  content: '';
  background: #fff;
}
#wrapper{
	max-width: 100%;
	width: 100%;
}
#lean_overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #ecf1f2;
}

p {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

dl,
dt,
dd {
  margin: 0;
}

select {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type='text'], input[type='submit'] {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input,
select {
  font-size: 11px;
  line-height: 1.2em;
}

textarea {
  font-size: 13px;
  line-height: 1.2em;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.input_radio {
  display: none;
}

.input_radio + label {
  line-height: 15px;
  position: relative;
  display: inline-block;
  padding: 0 0 0 20px;
  cursor: pointer;
}

.input_radio + label:before {
  position: absolute;
  top: 50%;
  left: 4px;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  content: '';
  border: 1px solid #bbb;
  border-radius: 50%;
  background: #fff;
}

.input_radio + label:after {
  position: absolute;
  top: 50%;
  left: 7px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  content: '';
  transition: all .2s;
  opacity: 0;
  border-radius: 50%;
  background-color: #44d095;
}

.input_radio:checked + label:after {
  opacity: 1;
}

.input_checkbox {
  display: none;
}

.input_checkbox + label {
  line-height: 15px;
  position: relative;
  display: inline-block;
  padding: 0 0 10px 20px;
  cursor: pointer;
}

.input_checkbox + label:before {
  position: absolute;
  top: 50%;
  left: 4px;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  content: '';
  border: 1px solid #bbb;
  background: #fff;
}

.input_checkbox + label:after {
  position: absolute;
  top: 50%;
  left: 7px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  content: '';
  transition: all .2s;
  opacity: 0;
  background-color: #44d095;
}

.input_checkbox:checked + label:after {
  opacity: 1;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

a:hover img {
  opacity: 0.7;
}

p {
  margin: 0;
}
.mt10{
	margin-top:10px;
}
.mt20{
	margin-top:20px;
}
.mt30{
	margin-top:30px;
}
.mt40{
	margin-top:40px;
}
.mt50{
	margin-top:50px;
}
.mt60{
	margin-top:60px;
}
.mt70{
	margin-top:70px;
}
.ml4{
	margin-left: 4px;
}
.mr15{
	margin-right: 15px;
}
.center{
	text-align:center;
}
.clear{
	clear:both;
}
.right{
	float:right;
}
.left{
	float:left;
}

/*******ヘッダー********/
#header .innerBox{
	width:1000px;
	margin:0 auto;
	padding:20px 0;
}
#header .innerBox .logo{
	float:left;
	width:235px;
}
#header .innerBox .signup{
	display: none;
	float:right;
}
#header .innerBox .signup li{
	float:left;
	width:130px;
	margin-left:15px;
	border:1px solid #ffffff;
	border-radius: 5px;        
	-webkit-border-radius: 5px;    
	-moz-border-radius: 5px;
	text-align:center;
	height:30px;
}
#header .innerBox .signup li a{
	text-align:center;
	color:#ffffff;
	line-height:30px;
}
#header .innerBox .signup .btn_sign{
	background:#44d095;
}
/*.login_head{
	background:url(../../img/login/bg_mv.png) no-repeat!important;
	height:640px;
}*/
.entry{
	background:#44d095;
	width:230px;
	height:50px;
	line-height:50px;
	margin:40px auto 0;
	border-radius: 5px;        
	-webkit-border-radius: 5px;    
	-moz-border-radius: 5px;
	text-align:center;
}
.entry a{
	color:#ffffff;
}
.content_inner {
	width:960px;
	margin:0 auto;
}
.inner_entry {
	width:620px;
}
#container{
	padding-left: 0;
}
#container section{
	width:100%;
	padding:70px 0;
}
#container h2{
	font-size:18px;
	text-align:center;
	font-weight:normal;
	margin:30px auto;
	padding-bottom:8px;	
}
#container h2 span{
	border-bottom:6px solid #44d095;
	padding-bottom:7px;
}
.serves h1{
	font-size: 28px;
	color: #333f49;
	text-align: center;
	margin: 35px 0;
}
.serves_leadText{
	font-size: 14px;
	text-align: center;
	margin-bottom: 25px;
	line-height: 25px;
}
.serves_section{
	overflow:visible;
}
.serves_section .serves_block{
	background:#ffffff;
	width:240px;
	height:240px;
	padding:30px 30px;
	box-shadow: 10px 10px #e1e6e7;
	float:left;
	margin-right:25px;
	margin-bottom:30px;
}
.entry_section .serves_block{
	width:460px;
	height:400px;
	padding:60px 80px;
	box-sizing: border-box;
}
.serves_section .serves_block:last-child{
	margin-right:0;
}
.serves_section .serves_block h3{
	text-align:center;
	font-size:16px;
	line-height:18px;
	margin-bottom:35px;
}
.serves_section .serves_block h3 span{
	border-bottom:3px solid #6a8e98;
}
.serves_section .serves_block h4{
	text-align:center;
	font-size:16px;
	line-height:21px;
	margin-bottom:20px;
}
.serves_section .serves_block p{
	font-size:12px;
	line-height:21px;
	margin-bottom:15px;
}
.serves_section .serves_block .ask_btn,.top_btn{
	display: block;
	color: #fff;
	padding: 10px 0;
	font-size: 14px;
	width: 225px;
	color: #fff;
	text-align: center;
	background: #44d095;
	margin: 50px auto 0;
	border-radius: 5px;
}
.chart_progress{
	width: 650px;
	margin: 10px auto;
}
.chart_progress ul li{
	background: url("../../img/entry/arrow_signchart_nextstep.png") no-repeat;
	width: 163px;
	height: 34px;
	float: left;
	font-size: 14px;
	color: #bbb;
	text-align: center;
	padding: 15px 0;
	line-height: 17px;
}
.chart_progress ul li:nth-child(2),.chart_progress ul li:nth-child(3){
	margin-left: -10px;
}
.chart_progress ul li.first_step{
	background: url("../../img/entry/arrow_signchart_firststep.png") no-repeat;
	width: 164px;
}
.chart_progress ul li.last_step{
	background: url("../../img/entry/arrow_signchart_laststep.png") no-repeat;
	width: 154px;
	margin-left: -10px;
}
.chart_progress ul li.current{
	background: url("../../img/entry/arrow_signchart_current02.png") no-repeat;
	width: 163px;
	color: #fff;
}
.chart_progress ul li.first_step.current{
	background: url("../../img/entry/arrow_signchart_current01.png") no-repeat;
	width: 164px;
}
.chart_progress ul li.last_step.current{
	background: url("../../img/entry/arrow_signchart_current03.png") no-repeat;
	width: 154px;
}
.chart_secre{
	width: 490px;
}
.entry_section .search_block{
	width: 620px;
	height: 100%;
}
.serves_section .search_block{
	float: none;
	margin: 30px auto;
}
.serves_section .search_block:last-child{
	margin-right: auto;
}
.serves .search_info > form{
	width: 100%;
}
.serves .search_info > form table{
	width: 100%;
}
.serves .search_info > form table th,.serves .search_info > form table td{
	text-align: left;
	display: block;
	font-size: 12px;
}
.serves .search_info > form table th {
	margin-bottom: 8px;
}
.serves .search_info > form table td input{
	width: 100%;
	padding: 10px 0 10px 10px;
	border: 1px solid #e5e8eb;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.serves .search_info .select-input-box select{
	color: #bbb;
	width: 225px;
	float: left;
  	background: #fff url(/img/common/arrow_select.png) right center no-repeat;
	padding: 10px 0 10px 10px;
	border: 1px solid #e5e8eb;
	border-radius: 0;
	font-size: 11px;
}
.serves .search_info > form table td textarea{
	width: 100%;
	height: 100%;
	border: 1px solid #e5e8eb;
	margin-bottom: 10px;
}
.serves .search_info > form table .input_column_2{
	width: 220px;
	float: left;
}
.serves .search_info > form .table_confirm_secre th,.serves .search_info > form .table_confirm_secre td{
	display: table-cell;
}
.serves .search_info > form .table_confirm_secre th{
	font-weight: normal;
	text-align: right;
	width: 40%;
	padding: 0 20px 25px 0;
}
.serves .search_info > form .table_confirm_secre td{
	width: 60%;
	font-weight: bold;
	padding-bottom: 25px;
}
.serves .search_info p.txt_16{
	font-size: 16px;
}
.serves p.search_resultText{
	font-size: 14px;
	color: #333;
	font-weight: bold;
	margin: 20px 0 5px 0;
}
.search_info .lawyer-box{
	height: 515px;
	overflow-y: scroll;
}
.ask_form .lawyer-box{
	height: 100%;
	overflow-y: hidden;
	border: none;
}
.ask_form h3 span{
	border-bottom: 6px solid #6a8e98;
	padding-bottom: 7px;
}
.search_info .chk-box{
	display: block;
	border: none;
	position: inherit;
}
.search_info .chk-box label{
	color: #333;
	font-size: 12px;
	font-weight: bold;
	padding-top: 6px;
	padding-left: 25px;
}
.search_info .chk-box label span{
	font-size: 11px;
	font-weight: normal;
}
.search_info .chk-box label span a{
	color: #44d095;
	text-decoration: underline;
}
.search_info .chk-box label:hover{
	background: transparent;
}
.search_info .lawyer-box .lawyer-item{
	padding: 15px 8px;
}
.ask_form .lawyer-box .lawyer-item{
	cursor: default;
}
.ask_form .lawyer-box .lawyer-item:hover{
	background: transparent;
}
.search_info .lawyer-box .lawyer-item .lawyer-content{
	width: 330px;
}
.search_info .lawyer-box .lawyer-item .lawyer-content p{
	margin-bottom: 0;
	line-height: 15px;
}
.search_info .lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl{
	width: 180px;
	padding-right: 0;
}
.search_info .lawyer-box .lawyer-item .lawyer-content .lawyer-body .fr{
	width: 140px;
	padding-left: 0;
}
.search_info .lawyer-box .lawyer-item .lawyer-content .lawyer-body:before{
	height: 70px;
	left: 185px;
}
.search_info .lawyer-box .lawyer-item + .lawyer-item:before{
	width: 100%;
	left: 0;
}
.search_all{
	margin-top: 30px;
	padding-top: 25px;
	border-top: 1px solid #bbb;
}
.account_all{
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}
.entryAsk_btn{
	width: 410px;
	margin: 30px auto 0;
}
.entrySecre_btn{
	width: 225px;
}
.submit_mail{
	margin: 20px auto;
}
.entryAsk_btn li input{
	color: #fff;
	border-radius: 5px;
	float: left;
	font-size: 14px;
}
.entrySecre_btn li input{
	float: none;
}
.entryAsk_btn input[type="button"]{
	background: #e1e6e7;
	width: 170px;
	border: none;
	padding: 10px 0;
	margin-right: 10px;
}
.entryAsk_btn input[type="submit"]{
	background: #44d095;
	width: 225px;
	padding: 10px 0;
}
.next_preview_text{
	color: #44d095;
	text-align: center;
	font-size: 14px;
}
.message_logo{
	width: 90px;
	margin: 0 auto;
}
.confirm_preview{
	margin-top: 35px;
	padding-bottom: 35px;
}
.confirm_preview .icon_circle{
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
.serves_section .confirm_preview p,.serves_section .confirm_info p{
	margin-bottom: 0;
}
.serves_section .confirm_preview p{
	margin-top: 10px;
	line-height: 18px;
}
.serves_section .confirm_preview p.to_person{
	font-size: 18px;
}
.confirm_info{
	padding: 15px 0;
	border-top: 1px solid #dedfe3;
	border-bottom: 1px solid #dedfe3;
	margin-bottom: 15px;
}
.serves_section .confirm_info p{
	font-size: 14px;
}
.serves_section .confirm_info .submit_person{
	font-size: 12px;
	color: #bbb;
}
.serves_section .confirm_info .person_name{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
}
.confirm_btn{
	width: 340px;
	margin: 30px auto 0;
	background: #bbb;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
}
.confirm_btn a{
	display: block;
	color: #fff;
	padding: 10px 0;
}
.pop_up {
  position: relative;
  padding-left: 8px;
  display: inline-block;
  cursor: pointer;
}
.serves_section .serves_block .pop_up,.serves_section .serves_block .pop_lead{
	margin-bottom: 0;
	line-height: 15px;
	margin-top: 33px;
}
.serves_section .serves_block .account_all .pop_up,.serves_section .serves_block .account_all .pop_lead{
	margin-top: 0;
}
.serves_section .serves_block .pop_up_secre{
	margin-top: 0;
	line-height: inherit;
	padding-left: 2px;
}
.serves_section .serves_block .pop_up_secre img{
	vertical-align: bottom;
}
.serves_section .serves_block .pop_lead{
	color: #bbb;
	font-size: 11px;
}
.pop_up .pop_message {
  display: none;
  width: 210px;
  box-sizing: border-box;
  font-size: 11px;
  line-height: 22px;
  background: #66d7db;
  padding: 16px 15px;
  color: #fff;
  position: absolute;
  top: 25px;
  left: -177px;
  z-index: 2;
}
.pop_up .pop_message .icon-rec{
	background:url("../../img/entry/icon_recommend.png") left center no-repeat;
	-webkit-background-size: 21px auto;
	background-size: 21px auto;
	padding: 10px 0 10px 20px;
}
.pop_up .pop_message .icon-credit{
	background:url("../../img/entry/icon_ex.png") left center no-repeat;
	-webkit-background-size: 14px auto;
	background-size: 14px auto;
	padding: 10px 0 10px 20px;
}
.pop_up .pop_message .icon-com{
	background:url("../../img/entry/icon_cone.png") left center no-repeat;
	-webkit-background-size: 19px auto;
	background-size: 19px auto;
	padding: 10px 0 10px 20px;
}
.pop_up .pop_message:after {
  bottom: 100%;
  right: 4%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(102, 215, 219, 0);
  border-bottom-color: #66d7db;
  border-width: 10px;
  margin-left: -10px;
}
.pop_up_secre .pop_message:after {
	right: 6%;
}
.pop_up:hover .pop_message {
  display: block;
}
.btn_upload {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  background: #bbb;
  color: #fff;
  text-align: center;
  padding: 2px;
  width: 110px;
  line-height: 25px;
  margin: 8px 0 18px 10px;
  cursor: pointer;
}
.btn_upload input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.btn_upload .uploadValue {
  display: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 3px;
  color: #fff;
}
.or_text{
	color: #bbb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; /* for no-flexbox browsers */
}
.or_text:before,
.or_text:after{
    border-top: 1px solid #bbb;
    content: "";
    display: inline; /* for IE */
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
}
.or_text:before{
    margin-right: 0.3em;
}
.or_text:after{
    margin-left: 0.3em;
}
.sign_account{
	width: 100%;
	border-bottom: 1px solid #bbb;
	padding-bottom: 10px;
}
.sns_sign{
	width: 380px;
	margin: 0 auto;
}
.sns_sign li{
	width: 112px;
	float: left;
	margin-left: 20px;
}
.sns_sign li:first-child{
	margin-left: 0;
}
.account_regist input[type="button"]{
	margin-right: 0;
	margin-left: 10px;
}


#header .innerBox{
	width:1000px;
	margin:0 auto;
	padding:20px 0;
}
#header .innerBox .logo{
	float:left;
	width:235px;
	position:relative;
	top:-10px;
}
#header .innerBox .signup{
	float:right;
}
#header .innerBox .signup li{
	float:left;
	width:130px;
	margin-left:15px;
	border:1px solid #ffffff;
	border-radius: 5px;        
	-webkit-border-radius: 5px;    
	-moz-border-radius: 5px;
	text-align:center;
	height:30px;
}
#header .innerBox .signup li a{
	text-align:center;
	color:#ffffff;
	line-height:30px;
	display:block;
}
#header .innerBox .signup .btn_sign{
	background:#44d095;
}
.login_head{
	background:#161c20!important;
	height:80px;
}
#logo{
	display: inherit;
	width: 100%;
	float: none;
	margin-top: 0;
	margin-left: 0;
	transition: inherit;
}
.footer{
	max-width: 100%;
	width: 100%;
	text-align: left;
	line-height: inherit;
	font-size: initial;
}