@charset "UTF-8";
/* リセット
/*************************/
html {
  min-width: 960px;
  min-height: 100%;
  width: 100%;
}

body {
  min-width: 960px;
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  color: #333;
  line-height: 1;
  background: #ecf1f2;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

body.whead:before {
  content: "";
  z-index: -1;
  height: 135px;
  min-width: 960px;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  background: #fff;
}

#lean_overlay {
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #ecf1f2;
  display: none;
}

p {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

dl, dt, dd {
  margin: 0;
}

select {
  appearance: none;
  border: none;
  padding: 0;
}

input[type="text"], input[type="submit"] {
  appearance: none;
  border: none;
  padding: 0;
}

button {
  appearance: none;
  border: none;
  padding: 0;
}

textarea {
  appearance: none;
  border: none;
  padding: 0;
}

input, select {
  font-size: 11px;
  line-height: 1.2em;
}

textarea {
  resize: none;
  font-size: 13px;
  line-height: 1.2em;
}

input:focus, textarea:focus {
  outline: none;
}

.input_radio {
  display: none;
}

.input_radio + label {
  display: inline-block;
  position: relative;
  line-height: 15px;
  cursor: pointer;
  padding: 0 0 0 20px;
}

.input_radio + label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  display: block;
  border-radius: 50%;
  border: 1px solid #bbb;
  box-sizing: border-box;
  background: #fff;
  width: 12px;
  height: 12px;
  margin-top: -6px;
}

.input_radio + label:after {
  transition: all .2s;
  opacity: 0;
  content: '';
  position: absolute;
  top: 50%;
  left: 7px;
  border-radius: 50%;
  background-color: #44d095;
  width: 6px;
  height: 6px;
  margin-top: -3px;
}

.input_radio:checked + label:after {
  opacity: 1;
}

.input_checkbox {
  display: none;
}

.input_checkbox + label {
  display: inline-block;
  position: relative;
  line-height: 15px;
  cursor: pointer;
  padding: 0 0 10px 20px;
}

.input_checkbox + label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  display: block;
  border: 1px solid #bbb;
  box-sizing: border-box;
  background: #fff;
  width: 12px;
  height: 12px;
  margin-top: -6px;
}

.input_checkbox + label:after {
  transition: all .2s;
  opacity: 0;
  content: '';
  position: absolute;
  top: 50%;
  left: 7px;
  background-color: #44d095;
  width: 6px;
  height: 6px;
  margin-top: -3px;
}

.input_checkbox:checked + label:after {
  opacity: 1;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

a:hover img {
  opacity: .7;
}

p {
  margin: 0;
}

.spacer-scrollY {
  width: 100%;
  overflow: hidden;
}

.spacer-scrollY > * {
  width: -webkit-calc(100% + 17px) !important;
  width: calc(100% + 17px) !important;
  padding-right: 17px !important;
  overflow-y: scroll !important;
}

.modal_win {
  bottom: 0;
  margin: auto;
  display: none;
  width: 620px;
  height: 270px;
  text-align: center;
  background: #fff;
  padding: 79px;
  box-sizing: border-box;
}

.modal_win p {
  font-size: 12px;
  line-height: 1em;
  margin-bottom: 24px;
}

.modal_win p:first-child {
  font-weight: bold;
}

.modal_win p + p {
  margin-bottom: 32px;
}

.modal_win a {
  display: block;
  width: 120px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #bbb;
  margin: 0 auto;
}

.modal_win .clear {
  width: 245px;
  margin: 0 auto;
}

.modal_win .clear a {
  margin: 0;
  float: left;
}

.modal_win .clear a:first-child {
  margin-right: 5px;
  background: #44d095;
}

.innerBox {
  min-width: 960px;
  max-width: 1080px;
}

#wrapper {
  min-width: 960px;
  max-width: 1080px;
  padding-top: 50px;
}

#container {
  box-sizing: border-box;
  padding-left: 170px;
}

.dside .page_topTitle {
  padding-left: -webkit-calc(50% - 135px);
  padding-left: calc(50% - 135px);
  width: 580px;
  margin-bottom: 10px;
}

.dside .page_topTitle .page_topTitle_container {
  width: 100%;
}

.dside #container {
  padding-left: 320px;
}

.dside #footer, .dside #foot-cp {
  padding-left: 330px;
  padding-right: 10px;
}

.hsearch .select2-container--open .select2-dropdown {
  margin-top: 14px;
}

.hsearch .page_topTitle {
  padding-bottom: 15px;
}

.hsearch .page_topTitle .page_topTitle_container {
  margin-bottom: 13px;
}

.hsearch .page_topTitle .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0;
}

.hsearch .page_topTitle .page_topSearch {
  height: 17px;
  padding-left: 27px;
  position: relative;
}

.hsearch .page_topTitle .page_topSearch select {
  display: block;
  width: 100%;
}

.hsearch .page_topTitle .page_topSearch .btn_search {
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  cursor: pointer;
  background: url(/img/common/icon_search_contact.png) center center no-repeat;
}

.hsearch .page_topTitle .page_topSearch .btn_search input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.hsearch .page_topTitle .select2-container--default .select2-selection--multiple .select2-selection__choice {
  height: 17px;
  line-height: 17px;
  font-size: 11px;
}

.hsearch .page_topTitle .select2-container--default .select2-selection--multiple .select2-selection__choice span {
  height: 17px !important;
}

.hsearch .page_topTitle .select2-container .select2-selection--multiple {
  min-height: 17px;
  height: 17px;
}

.hsearch .page_topTitle .select2-search__field {
  height: 17px;
  font-size: 13px !important;
  line-height: 17px;
  padding: 0 !important;
  width: 100%;
}

aside {
  position: fixed;
  top: 50px;
  z-index: 1;
  left: 0;
  width: 160px;
  height: 100%;
  padding-top: 20px;
  background: #333f49;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

aside .sub-aside {
  position: absolute;
  top: 0;
  left: 160px;
  background: #212931;
  width: 160px;
  padding-top: 85px;
  height: 100%;
}

aside .sub-aside .ttl_sub_side:first-child {
  margin-top: 0;
}

.ttl_side {
  height: 28px;
  margin: 7px 0;
  font-size: 11px;
  line-height: 28px;
  padding-left: 36px;
  background-position: 12px center;
  background-repeat: no-repeat;
  color: #bbb;
}

.ttl_sub_side {
  color: #5b6876;
  padding-left: 9px;
  margin: 30px 0 10px;
  font-size: 11px;
  line-height: 1em;
}

#column-main {
  width: 460px;
  float: left;
  padding: 9px 0 24px;
}

#column-sub {
  width: 320px;
  float: right;
  background: #fff;
}

#column-main-single {
  width: 620px;
  margin: 0 auto;
}

.page_topTitle {
  padding: 35px 0 45px; 
  margin-bottom: 40px; 
  position: relative; 
  padding-left: 170px;
}

.page_topTitle .page_topTitle_container {
  width: 620px;
  margin: 0 auto;
}

.page_topTitle p {
  font-size: 14px;
}

.page_topTitle p.btn_add {
  position: absolute;
  right: 10px;
  bottom: 57px;
  font-size: 12px;
}

.page_topTitle h1 {
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  border-bottom: 1px solid #e5e8eb;
}

.tab li {
  position: relative;
  text-align: center;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

/* フロート解除
/*************************/
.clear:after {
  content: " ";
  display: block;
  clear: both;
}

/* ボタン
/*************************/
.btn {
  display: block;
  box-sizing: border-box;
  color: #fff;
  float: left;
}

.btn_form {
  display: block;
  cursor: pointer;
  overflow: hidden;
  font-size: 11px;
  line-height: 1.2em;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

.btn_form input[type="file"], .btn_form input[type="submit"] {
  display: none;
}

.btn_add {
  padding: 0 0 0 25px;
  color: #bbb;
  font-size: 12px;
  line-height: 17px;
  cursor: pointer;
  background: url("../../img/setting/btn_circle_plus.png") 0 0 no-repeat;
}

.btn_full {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #bbb;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.input_swich {
  display: none;
}

.input_swich + label, .input_swich + label:before, .input_swich + label:after {
  transition: all .3s;
}

.input_swich + label {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 20px;
  cursor: pointer;
  background-color: #b3b1b1;
  border: 1px solid #9a9898;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 11px;
  color: #fff;
}

.input_swich + label:before {
  position: absolute;
  top: 0;
  right: 4px;
  display: block;
  content: 'OFF';
  height: 20px;
  line-height: 20px;
}

.input_swich + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 18px;
  border-radius: 2px;
  background-color: #eee;
}

.input_swich:checked + label {
  background-color: #44d095;
  border: 1px solid #3cbf88;
}

.input_swich:checked + label:before {
  content: "ON";
  left: 4px;
  right: auto;
}

.input_swich:checked + label:after {
  left: 29px;
  background-color: #f7f7f7;
}

/* 背景
/*************************/
.bg_green {
  background: #44d095;
  color: #fff;
}

.bg_gray {
  background: #bbb;
  color: #fff;
}

.bg_gray_light {
  background: #eee;
}

.bg_dark {
  background: #22313d;
  color: #fff;
}

/* テキスト
/*************************/
.txt_8 {
  font-size: 8px;
}

.txt_10 {
  font-size: 10px;
}

.txt_11 {
  font-size: 11px;
}

.txt_12 {
  font-size: 12px;
}

.txt_13 {
  font-size: 13px;
}

.txt_14 {
  font-size: 14px;
}

.txt_18 {
  font-size: 18px;
}

.txt_range {
  height: 28px;
}

.txt_range div {
  word-wrap: break-word;
  height: 28px;
  display: table-cell;
  vertical-align: middle;
}

.fw_b {
  font-weight: bold;
}

.lh35 {
  line-height: 35px;
}

.txt_light_1,
.txt_light_2 {
  color: #444;
}

.txt_gray {
  color: #bbb;
}

.txt_green {
  color: #44d095;
}

/* マージン・パディング等
/*************************/
.ve_t {
  vertical-align: top;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb40 {
  margin-bottom: 40px;
}

.ml10 {
  margin-left: 10px;
}

.ma {
  margin: 0 auto;
}

.ml20 {
  margin-left: 20px;
}

.pdl20 {
  padding-left: 20px;
}

/* アイコン
/*************************/
.icon_green {
  display: block;
  margin: auto;
  font-size: 8px;
  line-height: 13px;
  text-align: center;
  color: #fff;
  width: 13px;
  height: 13px;
  background: #6adad9;
  border-radius: 100%;
}

.icon_circle {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 100%;
}

.icon_circle img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* head.html
/*************************/
#header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: #102532;
  box-sizing: border-box;
}

#logo {
  display: block;
  width: 170px;
  float: left;
  margin-left: 10px;
  transition: opacity .2s;
}

#logo:hover {
  opacity: .7;
}

#nav {
  width: 470px;
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
  position: relative;
}

#nav li.btn_block {
  width: 50px;
  float: left;
}

#nav li.btn_block a {
  display: block;
  height: 50px;
  text-align: center;
  /*overflow: hidden;*/
  position: relative;
  -ms-word-break: keep-all;
  word-break: keep-all;
}

#nav .icon_green {
  position: absolute;
  z-index: 100;
  top: 4px;
  right: 6px;
}

#btn_profile {
  width: 220px;
  float: left;
  height: 50px;
  padding: 10px 12px 10px 9px;
  box-sizing: border-box;
  background: #545c61;
  position: relative;
}

#btn_profile a:first-child {
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  padding-left: 40px;
  font-size: 11px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
}

#btn_profile .icon_circle {
  position: absolute;
  top: 0;
  left: 0;
}

.btn_gear {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  background: url(/img/common/btn_gear.png) center center no-repeat;
}

.btn_gear:hover {
  background-image: url(/img/common/btn_gear-selected.png);
}

#btn_profile .btn_gear {
  right: 12.5px;
}

/* footer.html
/*************************/
#line_footer {
  height: 1px;
  width: 100%;
  background: #bbb;
}

footer {
  min-width: 960px;
  max-width: 1080px;
  padding: 14px 0;
  text-align: center;
  font-size: 11px;
  line-height: 19px;
}

#footer {
  padding-left: calc(50% - 310px);
}

#footer a {
  margin-left: 17px;
  color: #aeafaf;
}

#footer a:first-child {
  margin-left: 0;
}

#foot-cp {
  padding-left: calc(50% - 310px);
  text-align: center;
  color: #c7c8c9;
}

/* TOP
/*************************/
/* POST
/*************************/
#post-form {
  width: 458px;
  background: #fff;
  border: 1px solid #e5e8eb;
  border-bottom: none;
}

#post-form > .clear, #post-form > .select-input-box {
  border-bottom: 1px solid #e5e8eb;
}

#post-form .clear {
  position: relative;
}

#post-form .clear .select-input-box {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

#post-form > .clear:first-child:before {
  position: absolute;
  z-index: 50;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #e5e8eb;
  top: 0;
  left: 50%;
  margin-left: -0.5px;
}

.select-input-box {
  box-sizing: border-box;
  position: relative;
}

.select-input-box select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 30px 13px 12px;
}

.select-input-box .btn_select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 30px 13px 12px;
  position: relative;
  background: #fff;
}

.select-input-box .select2-container {
  z-index: 10;
}

.select-input-box .btn_arrow {
  display: block;
  z-index: 0;
  position: absolute;
  width: 22px;
  height: 22px;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 4px;
  margin: auto;
  background: url(/img/common/arrow_select.png) center center no-repeat;
}

.select2-container--open + .btn_arrow, .open .btn_arrow {
  background: url(/img/common/arrow_select_open.png) center center no-repeat;
}

.post-txt {
  padding: 20px 22px 21px;
  position: relative;
}

.post-txt:after {
  content: "";
  display: block;
  position: absolute;
  width: 420px;
  height: 1px;
  bottom: 0;
  left: 20px;
  background: #e5e8eb;
}

.post-txt textarea {
  display: block;
  width: 100%;
  min-height: 102px;
  vertical-align: top;
}

#bg_tag {
  padding-left: 21px;
  background: url(/img/common/icon_tag.png) 14px center no-repeat;
}

#bg_tag + .clear {
  height: 38px;
}

#post-form .btn_form {
  box-sizing: border-box;
  width: 25%;
  float: left;
  border-right: 1px solid #e5e8eb;
  min-height: 100%;
  line-height: 38px;
}

#post-form .btn_form:first-child {
  padding-left: 31px;
  background: url(/img/common/icon_picture.png) 11px center no-repeat;
}

#post-form .btn_form:last-child {
  border-right: none;
  text-align: center;
}

#btn_range .btn_select {
  height: 38px;
}

#btn_range ul {
  display: block;
  position: absolute !important;
  width: 196px;
  height: 28px;
  top: 5px;
  left: 6px;
}

#btn_range .tag-select {
  float: left;
  height: 28px;
  padding: 0 8px;
  margin-right: 5px;
  border-radius: 1px;
  color: #fff;
  line-height: 28px;
  background: #bbb;
}

#btn_range .btn_arrow {
  z-index: 10 !important;
}

.chk-box {
  display: none;
  position: absolute;
  z-index: 12;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  border: 1px solid #eee;
  border-top: none;
  line-height: 25px;
}

.chk-box label {
  display: block;
  padding: 4px 12px 4px 20px;
}

.chk-box label:hover {
  background: #eee;
}

.chk-box > .chk-box {
  position: relative;
  display: block;
  padding: 0 !important;
  padding-left: 19px !important;
  border: none;
}

.open > .chk-box {
  display: block;
}

/* TIMELINE
/*************************/
h2.headline {
  margin-bottom: 19px;
}

#timeline {
  margin-top: 37px;
}

#timeline .tab {
  width: 210px;
  float: left;
}

#timeline .tab li {
  width: 50%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #bbb;
}

#timeline .tab li.selected {
  background: #6adad9;
  cursor: auto;
}

#timeline .tab li.selected:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #6adad9;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
}

#timeline .select-input-box {
  float: right;
  width: 240px;
  background: #fff;
  border: 1px solid #e5e8eb;
}

#timeline .btn_select {
  height: 30px;
  padding: 9px 30px 9px 12px;
  border: 1px solid #e5e8eb;
}

.post-box {
  box-sizing: border-box;
  border: 1px solid #e5e8eb;
  margin-top: 11px;
  background: #fff;
}

.post-info {
  padding: 15px 19px;
}

.post-info .icon_circle {
  float: left;
}

.author-tags {
  float: right;
  width: 374px;
}

.txt_author {
  font-weight: bold;
}

.txt_author:hover {
  color: #44d095;
}

.post-meta {
  width: 110px;
  float: right;
}

.post-time {
  width: 62px;
  float: left;
  text-align: right;
  line-height: 16px;
}

.post-share {
  background: url(/img/common/btn_share.png) center center no-repeat;
  margin-right: 4px;
}

.post-share:hover {
  background-image: url(/img/common/btn_share-selected.png);
}

.post-setting {
  position: relative;
  background: url(/img/common/btn_gear.png) center center no-repeat;
}

.post-setting:hover {
  background-image: url(/img/common/btn_gear-selected.png);
}

.post-detail {
  position: relative;
  margin-right: 4px;
  background: url(/img/common/btn_detail.png) center center no-repeat;
}

.post-detail:hover {
  background-image: url(/img/common/btn_gear-selected.png);
}

.post-del {
  background-image: url(/img/common/btn_share-selected.png);
}

.post-share, .post-setting, .post-detail, .post-del {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background-size: cover;
  cursor: pointer;
}

.active .post-setting_baloon {
  display: block;
}

.post-setting_baloon {
  display: none;
  position: absolute;
  cursor: auto;
  z-index: 1;
  width: 122px;
  padding: 5px 13px;
  background: #fff !important;
  border: 1px solid #bbb;
  right: -19px;
  top: 23px;
  line-height: 1.9em;
}

.post-setting_baloon a:hover {
  color: #44d095;
  background: #fff !important;
}

.post-setting_baloon:after, .post-setting_baloon:before {
  bottom: 100%;
  left: 121px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.post-setting_baloon:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.post-setting_baloon:before {
  border-color: rgba(187, 187, 187, 0);
  border-bottom-color: #bbb;
  border-width: 7px;
  margin-left: -7px;
}

.post-share span, .post-detail span, .post-del span {
  display: none;
  position: fixed;
  background: #e5e8eb;
  padding: 4px 8px;
}

.post-share.active span, .post-detail.active span, .post-del.active span {
  display: block;
}

.txt_tags {
  margin-top: 5px;
  line-height: 1.2em;
  padding-left: 15px;
  background: url(/img/common/icon_tag.png) left center no-repeat;
  line-height: 13px;
}

.deleted .txt_tags {
  padding-left: 0;
  background: none;
}

.txt_tags a {
  text-decoration: underline;
}

.txt_tags a:hover {
  color: #44d095;
}

.post-content {
  position: relative;
  line-height: 1.4em;
  padding: 23px 19px 25px;
  margin: 0 auto;
}

.post-content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 420px;
  height: 1px;
  background: #ccc;
}

.post-content .spacer-scrollY div {
  min-height: 113px;
}

.btn_post a {
  position: relative;
  width: 50%;
  font-weight: bold;
  text-align: center;
}

.btn_post a span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.btn_post a span:first-child {
  padding-left: 22px;
  margin-right: 28px;
}

.btn_post a:first-child {
  border-right: 1px solid #fff;
}

.btn_post a:first-child span:first-child {
  background: url(/img/common/icon_recommend.png) left center no-repeat;
}

.btn_post a:last-child span:first-child {
  background: url(/img/common/icon_share.png) left center no-repeat;
}

.btn_post a:hover {
  background-color: #44d095;
}

.post-ogp {
  display: block;
}

.ogp-thumb {
  position: relative;
  height: 240px;
  overflow: hidden;
  cursor: pointer;
  background: #ccc;
}

.ogp-thumb img {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ogp-thumb video {
  width: 100%;
}

.ogp-content {
  padding: 20px 19px 21px;
}

.ogp-ttl {
  font-weight: bold;
  font-size: 16px;
}

.ogp-desc {
  font-size: 11.5px;
  margin: 8px 0;
}

.ogp-content .txt_gray {
  margin-top: 8px;
  font-size: 11.5px;
}

.ogp-thumb .btn_player {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url(/img/top/btn_player.png) center center no-repeat;
}

#icon_loading {
  width: 46px;
  margin: 26px auto 0;
}

/* RIGHT COLUMN
/*************************/
#wheather-box {
  padding: 21px 24px 16px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.2);
  margin-bottom: 28px;
}

#icon_wheather {
  width: 31px;
  float: left;
}

#info-now {
  width: 222px;
  float: right;
}

#info-now p {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

#info-date {
  font-size: 18px;
  margin-bottom: 5px;
}

#info-locate {
  padding-left: 14px;
  padding-bottom: 2px;
  line-height: 12px;
  background: url(/img/common/icon_locate.png) left center no-repeat;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

#column-sub h2.headline {
  padding-left: 10px;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

#column-sub .tab li {
  width: 33.33%;
  border-top: 1px solid #e5e8eb;
  border-left: 1px solid #e5e8eb;
  color: #aaa;
  padding: 10px 0;
}

#column-sub .tab li:last-child {
  border-right: 1px solid #e5e8eb;
}

#column-sub .tab li.selected {
  background: #bbb;
  color: #fff;
  cursor: auto;
}

#column-sub .tab .icon_green {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.contact-box {
  border-top: 1px solid #e5e8eb;
  border-bottom: 1px solid #e5e8eb;
}

.contact-item {
  position: relative;
  display: block;
  padding: 15px 26px 15px 21px;
  border-top: 1px solid #e5e8eb;
}

.contact-item:first-child {
  border-top: none;
}

.contact-item .icon_circle {
  width: 40px;
  height: 40px;
  float: left;
}

.contact-item.new-msg {
  background: #edfbfc;
}

.contact-item:hover {
  background: #eeeeee;
}

.contact-item:hover img {
  opacity: 1;
}

.contact-cap {
  position: relative;
  width: 226px;
  float: right;
}

.contact-cap p {
  line-height: 18.5px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: clip;
  text-overflow: clip;
}

.contact-name {
  font-weight: bold;
}

.contact-time {
  position: absolute;
  width: 5em;
  top: 0;
  right: 0;
  text-align: right;
  line-height: 18px;
}

.btn_more {
  display: block;
  width: 300px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 9px auto 47px;
}

.btn_more:hover {
  background: #44d095;
}

#search-form {
  padding: 0 24px 0 10px;
  margin-bottom: 16px;
  line-height: 12px;
}

#search-form input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 21px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ddd;
  background: url(/img/common/icon_search_contact.png) 5px top no-repeat;
}

.connection-cap {
  width: 160px;
  float: left;
  margin-left: 6px;
}

.connection-cap p {
  line-height: 18.5px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#connection-box .contact-item:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

#connection-box .contact-item:hover:before {
  right: 27px;
  width: 14px;
  height: 13px;
  background: url(/img/common/icon_msg.png) center center no-repeat;
  border-radius: 0;
}

.icon_online:before {
  background: #44d095;
}

.icon_away:before {
  background: #ffd43e;
}

.icon_offline:before {
  background: #bbb;
}

#side-profile .icon_circle {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

#side-name {
  position: relative;
  width: 140px;
  margin: 10px auto 23px;
  color: #fff;
}

#side-name p:first-child {
  margin-bottom: 2px;
}

#side-link a {
  position: relative;
  display: block;
  height: 40px;
  padding-left: 12px;
  color: #fff;
  line-height: 40px;
}

#side-link a.selected {
  padding-left: 8px;
  border-left: 4px solid #6adad9;
  background: #22313d;
}

#side-link a:hover {
  opacity: .7;
}

#side-link .icon_green {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
}

#win-btm {
  position: fixed;
  bottom: -200px;
  right: 10px;
  z-index: 500;
  width: 380px;
  height: 235px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  overflow: hidden;
  transition: bottom .2s;
}

#win-btm.open {
  bottom: 0;
}

#win-head {
  position: relative;
  height: 35px;
  padding-left: 17px;
  color: #fff;
  font-weight: bold;
  line-height: 35px;
  background: #76d2e3;
  cursor: pointer;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

#win-head:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 6px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 17px;
  background: url(/img/common/arrow_close.png) no-repeat;
}

#win-btm.open #win-head:after {
  background: url(/img/common/arrow_open.png) no-repeat;
}

#win-box {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border: 4px solid #76d2e3;
  border-top: none;
  height: 200px;
}

#win-box p {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 372px;
  height: 42px;
  padding-top: 80px;
  padding-bottom: 74px;
  background: #fff;
  line-height: 21px;
  text-align: center;
}

#win-box.sent p {
  display: block;
}

#win-box span {
  font-weight: bold;
}

#win-box textarea {
  width: 344px;
  padding: 22px 14px 10px;
  height: 134px;
}

#win-box input[type="submit"] {
  display: block;
  width: 360px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Yu Gothic,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,Arial,"Lucida Grande",sans-serif;
}

/* 検索ウィンドウ
/***************************/
.win .select2-container.select2-container--default.select2-container--open {
  z-index: 20000;
}

#modal_search {
  display: none;
  background: #fff;
  width: 620px;
  height: 160px;
  padding: 35px 60px 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  transition: .2s;
}

#modal_search .basic_info {
  padding: 0 !important;
}

#modal_search .select2-selection {
  width: 327px;
}

#modal_search > p.txt_14:first-child {
  text-align: center;
  margin-bottom: 20px;
}

#modal_search > p.txt_14:first-child + div.clear {
  padding-bottom: 20px;
}

#modal_search > p.txt_14:first-child + div.clear input:first-child {
  float: left;
  height: 34px;
  width: 420px;
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 32px;
  padding-left: 8px;
}

#modal_search > p.txt_14:first-child + div.clear input:last-child {
  float: right;
  height: 34px;
  width: 70px;
  font-size: 13px;
  line-height: 34px;
  background: #44d095;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

#modal_search > p.txt_14:first-child + div.clear + .basic_info .clear:first-child {
  padding: 7.5px 0;
  border-bottom: 1px solid #e5e8eb;
  margin-bottom: 22px;
  text-align: left;
}

#modal_search > p.txt_14:first-child + div.clear + .basic_info .clear:first-child p {
  float: left;
  line-height: 17px;
}

#modal_search > p.txt_14:first-child + div.clear + .basic_info .clear:first-child a {
  display: block;
  float: right;
  line-height: 17px;
  padding-left: 23px;
  font-size: 12px;
  background: url(/img/common/icon_add.png) left center no-repeat;
}

#modal_search .btn_open {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 60px;
  width: 500px;
  height: 44px;
  border-top: 1px solid #e5e8eb;
  text-align: center;
}

#modal_search .btn_open:after {
  content: "DETAIL";
  display: inline-block;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  padding-right: 30px;
  color: #bbb;
  font-weight: bold;
  background: url(/img/common/arrow_select.png) right center no-repeat;
}

#modal_search.win {
  height: 535px;
}

#modal_search.win .basic_info {
  height: 329px;
}

#modal_search.win .btn_open:after {
  content: "CLOSE";
  background-image: url(/img/common/arrow_select_open.png);
}

#modal_search .basic_info {
  height: 0;
  overflow: hidden;
  transition: .2s;
  padding: 0;
  border: none;
}

#modal_search .basic_info th {
  width: 120px;
  padding-right: 0;
}

#modal_search .basic_info td {
  width: 355px;
  padding-left: 15px;
}

#modal_search .basic_info td.clear div {
  margin-bottom: 9px;
}

#modal_search .basic_info td.clear div input, #modal_search .basic_info td.clear div select {
  width: 100%;
  border: 1px solid #e5e8eb;
  height: 35px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 25px;
  padding: 4px 10px;
}

#modal_search .basic_info td.clear div:first-child {
  float: left;
  width: 203px !important;
}

#modal_search .basic_info td.clear div:last-child {
  float: right;
  width: 150px !important;
}

#modal_search .basic_info td.txt_td {
  height: 38px;
  line-height: 38px;
}

#modal_search .basic_info td.txt_td div.select-box {
  display: inline-block;
  border: 1px solid #e5e8eb;
  width: 65px;
}

#modal_search .basic_info td.txt_td div.select-box select {
  width: 100%;
  height: 36px;
  padding-left: 10px;
  line-height: 38px;
  box-sizing: border-box;
}

input.btn_searchSubmit {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #44d095;
  text-align: center;
  font-weight: bold;
  margin: 30px auto 0;
  font-size: 12px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}

select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

.modal-edit-active .select2-container,
.search-active .select2-container {
  z-index: 120000;
}

.modal-edit-active #wrapper .select2-container{
  z-index: 0;
}
.modal-edit-active .select2-dropdown {
  margin-top: 0 !important;
}

#basic_info, .basic_info {
  background: #fff;
  padding: 25px 19px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e5e8eb;
}

#basic_info .ttl_edit, .basic_info .ttl_edit {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e8eb;
  margin-bottom: 29px;
}

#basic_info table, .basic_info table {
  table-layout: fixed;
  border-collapse: collapse;
}

#basic_info table + .ttl_edit, .basic_info table + .ttl_edit {
  margin-top: 20px;
}

#basic_info th, .basic_info th {
  width: 121px;
  padding: 12px 10px 0 0;
  font-size: 12px;
  text-align: right;
  vertical-align: top;
}

#basic_info td, .basic_info td {
  width: 439px;
  font-size: 13px;
  padding: 0;
  padding-left: 10px;
}

#basic_info td > input[type=text], .basic_info td > input[type=text] {
  padding: 10px 12px;
  border: 1px solid #e5e8eb;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 9px;
}

#basic_info td > select, .basic_info td > select,
#basic_info td.d-table-data select, .basic_info td.d-table-data select {
  padding: 10px 28px 10px 7px;
  border: 1px solid #e5e8eb;
  width: 43px;
  line-height: 1em;
  height: 13px;
  margin-bottom: 9px;
}

#basic_info td > select.short, .basic_info td > select.short {
  width: 30px;
}

#basic_info td > select.short + span, .basic_info td > select.short + span {
  display: inline-block;
  font-size: 12px;
}

#basic_info td input, #basic_info td select, .basic_info td input, .basic_info td select {
  font-size: 13px !important;
}

#basic_info td .select-box, .basic_info td .select-box {
  background: url(/img/common/arrow_select.png) right 4px center no-repeat;
  color: #bbb;
}

#basic_info td .select-box.focus, .basic_info td .select-box.focus {
  background: url(/img/common/arrow_select_open.png) right 4px center no-repeat;
}

#basic_info td .select-box.active, .basic_info td .select-box.active {
  color: #333;
}

#basic_info td .select-box option, .basic_info td .select-box option {
  color: #333;
}

#basic_info td .select-box option:first-child, .basic_info td .select-box option:first-child {
  color: #bbb;
}

#basic_info td .select-input-box, .basic_info td .select-input-box {
  padding: 4px 0;
  border: 1px solid #e5e8eb;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 9px;
}

#basic_info td .select2-container .select2-selection--multiple, .basic_info td .select2-container .select2-selection--multiple {
  min-height: auto;
  height: 25px;
  line-height: 25px;
}

#basic_info td .select2-container--default .select2-selection--multiple .select2-selection__rendered, .basic_info td .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-left: 0;
}

#basic_info td .select2-container--default .select2-selection--multiple .select2-selection__choice, .basic_info td .select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-left: 4px;
}

#basic_info td .select2-container .select2-search--inline .select2-search__field, .basic_info td .select2-container .select2-search--inline .select2-search__field {
  padding-left: 10px;
}

#basic_info .column_2 input, .basic_info .column_2 input {
  padding: 10px 12px;
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
  margin-bottom: 9px;
  float: left;
  width: 300px;
}

#basic_info .column_2 select, .basic_info .column_2 select {
  padding: 10px 28px 10px 7px;
  border: 1px solid #e5e8eb;
  line-height: 1em;
  height: 13px;
  margin-bottom: 9px;
  float: right;
  width: 92px;
}

#basic_info td input.sshort, .basic_info td input.sshort {
  width: 130px;
  margin-right: 7px;
}

#basic_info td input.sshort:last-child, .basic_info td input.sshort:last-child {
  width: 110px;
}

#basic_info .column_2.insel input, .basic_info .column_2.insel input {
  width: 230px;
}

#basic_info .column_2.insel select, .basic_info .column_2.insel select {
  width: 173px;
}

#basic_info .column_2.slsl select, .basic_info .column_2.slsl select {
  float: left;
  width: 143px;
}

#basic_info .column_2.slsl select + select, .basic_info .column_2.slsl select + select {
  margin-left: 10px;
}

#basic_info select.semi-short-select, .basic_info select.semi-short-select {
  width: 284px;
}

#basic_info select.short-select, .basic_info select.short-select {
  width: 184px;
}

#basic_info .column_3 input, .basic_info .column_3 input {
  padding: 10px 12px;
  border: 1px solid #e5e8eb;
  box-sizing: border-box;
  margin-bottom: 9px;
  float: left;
  width: 140px !important;
}

#basic_info .column_3 select, .basic_info .column_3 select {
  padding: 10px 28px 10px 7px;
  border: 1px solid #e5e8eb;
  line-height: 1em;
  height: 13px;
  margin-bottom: 9px;
  float: left;
}

#basic_info .column_3 select.short-select, .basic_info .column_3 select.short-select {
  width: 53px;
  margin-left: 9.5px;
}

#basic_info .column_3 select.semi-short-select, .basic_info .column_3 select.semi-short-select {
  width: 153px;
  margin-left: 9.5px;
}

/****メニューテキスト表示*****/
.menu_tag .menu_test {
  display: none;
  position: fixed;
  background: #e5e8eb;
  padding: 4px 8px;
  position: absolute;
  z-index: 100;
  top: 40px;
  left: 0px;
  font-size: 10px;
}

.menu_tag:hover .menu_test {
  display: block;
}

.txt_8 {
  font-size: 8px;
}

.scroll-box {
  background: #fff;
  padding: 9px 0;
}

.scroll-box :hover {
  background-color: #eee;
}

.knowledge #side-link a {
  height: 30px;
  line-height: 30px;
}

.scroll-item {
  padding: 16px 20px 15px;
  position: relative;
}

.scroll-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 582px;
  height: 1px;
  background: #e5e8eb;
}

.scroll-item:first-child {
  padding-top: 15px;
}

.scroll-item:first-child:before {
  display: none;
}

.scroll-box .fl, .detail-box .fl {
  width: 425px;
}

.scroll-box .fl p, .detail-box .fl p {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.scroll-box .txt_11, .detail-box .txt_11 {
  line-height: 20px;
}

.scroll-box .txt_11 > span, .detail-box .txt_11 > span {
  margin-left: 10px;
}

.scroll-box .txt_11 a, .detail-box .txt_11 a {
  margin-left: 6px;
  text-decoration: underline;
  color: #bbb;
}

.scroll-box .txt_14, .detail-box .txt_14 {
  line-height: 23px;
}

.scroll-box .txt_12, .detail-box .txt_12 {
  line-height: 18px;
}

.scroll-box .txt_12 + .txt_12, .detail-box .txt_12 + .txt_12 {
  line-height: 16px;
}

.post-detail, .post-share, .post-rec {
  margin-right: 10px;
}

.post-rec {
  display: block;
  float: right;
  width: 16px;
  height: 17px;
  background-size: cover;
  cursor: pointer;
  background: url(/img/knowledge/icon_medal.png) center center no-repeat;
}

.post-rec span {
  display: none;
  position: fixed;
  background: #e5e8eb;
  padding: 4px 8px;
}

.post-rec.active span {
  display: block;
}

.post-detail:hover {
  background-image: url(/img/common/btn_detail.png);
}

.post-share {
  background-image: url(/img/common/btn_share_02.png);
}

.post-share:hover {
  background-image: url(/img/common/btn_share_02.png);
}

.ttl_side {
  background-image: url(/img/knowledge/ttl_side_knowledge.png);
}

/* 取扱案件一覧 */
.detail-box.draft {
  color: #bbb;
}

.detail-box.draft .detail-head .fl p.txt_14 span {
  display: block;
  float: left;
  width: 37px;
  line-height: 17px;
  height: 17px;
  color: #fff;
  background: #bbb;
  font-size: 11px;
  text-align: center;
  margin-top: 3px;
  margin-right: 10px;
}

.detail-box.draft .detail-body a {
  color: #bbb;
}

.detail-box.draft .detail-bottom a {
  color: #bbb !important;
}

.detail-box {
  width: 580px;
  padding: 15px 19px 0;
  border: 1px solid #e5e8eb;
  background: #fff;
}

.detail-box .detail-head {
  padding-bottom: 11px;
  border-bottom: 1px solid #e5e8eb;
}

.detail-box .btn_detail {
  display: block;
  float: right;
  height: 20px;
  line-height: 20px;
  padding-left: 19px;
  margin-top: 4px;
  color: #bbb;
  background: url("/img/common/btn_detail.png") left center no-repeat;
}

.detail-box .detail-body {
  padding: 19px 0 15px;
  border-bottom: 1px solid #e5e8eb;
  line-height: 24px;
}

.detail-box .detail-body a {
  text-decoration: underline;
  margin-left: .08em;
}

.detail-box .detail-body a:hover {
  color: #44d095;
}

.detail-box .btn_dopen {
  display: block;
  cursor: pointer;
  height: 36px;
  font-size: 13.18px;
  text-align: center;
}

.detail-box .btn_dopen span {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding-right: 22px;
  background: url(/img/common/arrow_select.png) right center no-repeat;
}

.detail-bottom {
  padding: 20px 0 13px;
  border-bottom: 1px solid #e5e8eb;
  display: none;
}

.detail-bottom.open + .btn_dopen span {
  background: url(/img/common/arrow_select_open.png) right center no-repeat;
}

.detail-bottom > .clear {
  position: relative;
  padding-bottom: 14px;
  border-bottom: 1px solid #e5e8eb;
  margin-bottom: 34px;
}
.detail-bottom > .clear .savefile_profile_text {
  display: table-cell;
  vertical-align: middle;
  height: 55px;
  line-height: 18px;
}

.detail-bottom > .clear:before {
  content: "";
  position: absolute;
  top: 0;
  left: 380px;
  width: 1px;
  height: 100%;
  background: #e5e8eb;
}

body.edit .detail-bottom > .clear.author-box {
  padding-bottom: 14px;
  border-bottom: 1px solid #e5e8eb;
  margin-bottom: 14px;
}

.clear + .save_winning {
  border-top: none;
  margin-top: 0;
}

.detail-bottom > .clear.author-box > .fl:first-child {
  width: 55px;
  height: 55px;
  padding: 0;
  margin-right: 19px;
}

.detail-bottom > .clear.author-box:before {
  display: none;
}

.detail-bottom > .clear > .fl {
  width: 361px;
  padding-right: 19px;
}

.detail-bottom > .clear > .fl dd, .detail-bottom > .clear > .fl dt {
  font-size: 12px;
  height: 28px;
  float: left;
}

.detail-bottom > .clear > .fl dt {
  width: 91px;
  color: #bbb;
  vertical-align: middle;
}

.detail-bottom > .clear > .fl dd {
  width: 270px;
  margin: 0;
  white-space: hidden;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.detail-bottom > .clear > .fl dd .txt_gray {
  margin-left: 5px;
}

.detail-bottom > .clear > .fl dd a {
  text-decoration: underline;
}

.detail-bottom > .clear > .fl dd a:hover {
  color: #44d095;
}

.detail-bottom > .clear > .fr {
  width: 181px;
  padding-left: 19px;
}

.detail-bottom > .clear > .fr .txt_gray {
  font-size: 8px;
  line-height: 14px;
}

.detail-bottom > .clear > .fr .txt_11 {
  line-height: 17px;
}

.detail-bottom > .clear > .fr .txt_11 + .txt_gray {
  margin-top: 3px;
}

#pager {
  width: 490px;
  margin: 20px auto;
}

#pager li {
  width: 35px;
  float: left;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #bbb;
  cursor: pointer;
  background: #fff;
}

#pager li.selected {
  color: #fff;
  background: #44d095;
}

#pager li:hover {
  opacity: .7;
}

body.bgw {
  background: #fff !important;
}

body.bgw .page_topTitle_container {
  border-bottom: 1px solid #e5e8eb;
}

body.bgw .page_topTitle {
  margin-bottom: 0;
}

body.edit .page_topTitle {
  padding-bottom: 0;
}

body.edit .page_topTitle_container {
  margin-bottom: 0;
  position: relative;
}

body.edit .page_topTitle_container .btn_back {
  display: inline-block;
  height: 15px;
  margin: 17px 0 14px;
  line-height: 15px;
  padding-left: 19px;
  background: url(/img/common/icon_circle_arrow_left.png) left center no-repeat;
}

body.edit .page_topTitle_container .post-meta {
  position: absolute;
  bottom: 55px;
  right: 0;
}

body.edit .detail-bottom {
  display: block;
  margin-bottom: 0;
}
body.edit .detail-bottom .clear {
  margin-bottom: 0;
  border-bottom: none;
}
body.edit .detail-bottom .non-border.non-top {
  border-top: none !important;
}
body.edit .detail-bottom .non-border:before {
  display: none;
}

body.edit div.content {
  font-size: 13px;
  line-height: 24px;
  padding: 30px 0 28px;
  border-bottom: 1px solid #e5e5eb;
}

body.edit div.content p + p {
  margin-top: 23px;
}

.involve-box {
  margin-bottom: 60px;
}

.involve-box .involve-item {
  padding-bottom: 10px;
  width: 299px;
}

.involve-box .involve-item:nth-child(2n) {
  margin-left: 22px;
}

.involve-box .involve-item:nth-child(n+3) .fr {
  padding-top: 14px;
  border-top: 1px solid #e5e8eb;
}

.involve-box .involve-item:nth-child(n+3) .fl {
  margin-top: 14px;
}

.involve-box .involve-item .icon_circle {
  width: 80px;
  height: 80px;
}

.involve-box .involve-item .icon_circle img {
  width: 100%;
}

.involve-box .involve-item .fr {
  width: 203px;
}

.involve-box .involve-item .fr .txt_13 {
  margin-bottom: 6px;
}

.involve-box .involve-item .fr .txt_11 {
  line-height: 14.09px;
}

.involve-box .involve-item .fr .txt_8 {
  margin-top: 8px;
}

/* エディット */
textarea {
  width: 620px;
  height: 372px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e8eb;
  padding: 10px;
  margin-bottom: 40px;
}

#timeline {
  margin: 0;
}

.lawyer-search, #lawyer-search {
  width: 315px !important;
  margin-top: 4px !important;
  line-height: 24px !important;
  background-color: transparent !important;
  padding-left: 16px !important;
  border-bottom: 1px solid #e5e8eb !important;
  background: url(/img/common/icon_search_contact.png) left center no-repeat !important;
}

.lawyer-box, #laywer-box {
  margin: 9px 0 19px;
  border: 1px solid #e5e8eb;
  background: #fff;
}

.lawyer-box + .clear, #laywer-box + .clear {
  margin-bottom: 58px;
}

.lawyer-box .lawyer-item, #laywer-box .lawyer-item {
  position: relative;
  padding: 15px 33px;
  cursor: pointer;
}

.lawyer-box .lawyer-item.selected, #laywer-box .lawyer-item.selected {
  background: #edfbfc !important;
}

.lawyer-box .lawyer-item.selected div, .lawyer-box .lawyer-item.selected p, #laywer-box .lawyer-item.selected div, #laywer-box .lawyer-item.selected p {
  background-color: #edfbfc !important;
}

.lawyer-box .lawyer-item:hover, #laywer-box .lawyer-item:hover {
  background: #eee;
}

.lawyer-box .lawyer-item + .lawyer-item:before, #laywer-box .lawyer-item + .lawyer-item:before {
  background: #e5e8eb;
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 0;
  height: 1px;
  width: 582px;
}

.lawyer-box .lawyer-item .icon_circle, #laywer-box .lawyer-item .icon_circle {
  width: 100px;
  height: 100px;
}

.lawyer-box .lawyer-item .icon_circle img, #laywer-box .lawyer-item .icon_circle img {
  min-width: 100%;
}

.lawyer-box .lawyer-item .lawyer-content, #laywer-box .lawyer-item .lawyer-content {
  width: 440px;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head, #laywer-box .lawyer-item .lawyer-content .lawyer-head {
  border-bottom: 1px solid #e5e8eb;
  padding-bottom: 8px;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr, #laywer-box .lawyer-item .lawyer-content .lawyer-head .fr {
  text-align: right;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr span, #laywer-box .lawyer-item .lawyer-content .lawyer-head .fr span {
  display: inline-block;
  line-height: 17px;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-rec, #laywer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-rec {
  padding-left: 17px;
  background: url(/img/common/icon_medal.png) left center no-repeat;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-credit, #laywer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-credit {
  padding-left: 18px;
  margin-left: 17px;
  background: url(/img/common/icon_exp.png) left center no-repeat;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-com, #laywer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-com {
  padding-left: 22px;
  margin-left: 13px;
  background: url(/img/common/icon_team2.png) left center no-repeat;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body, #laywer-box .lawyer-item .lawyer-content .lawyer-body {
  position: relative;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body:before, #laywer-box .lawyer-item .lawyer-content .lawyer-body:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 50px;
  top: 3px;
  left: 274px;
  background: #e5e8eb;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl, #laywer-box .lawyer-item .lawyer-content .lawyer-body .fl {
  width: 255px;
  padding-right: 20px;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl p, #laywer-box .lawyer-item .lawyer-content .lawyer-body .fl p {
  line-height: 20px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl p.txt_gray, #laywer-box .lawyer-item .lawyer-content .lawyer-body .fl p.txt_gray {
  padding-left: 15px;
  background: url(/img/common/icon_locate.png) 1px center no-repeat;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fr, #laywer-box .lawyer-item .lawyer-content .lawyer-body .fr {
  width: 145px;
  padding-left: 20px;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fr .txt_11 + .txt_8.txt_gray, #laywer-box .lawyer-item .lawyer-content .lawyer-body .fr .txt_11 + .txt_8.txt_gray {
  margin-top: 10px;
}

#all {
  display: block;
}

#all + #selected {
  display: none;
}

#all.view {
  display: none;
}

#all.view + #selected {
  display: block;
}

#label_range {
  display: block;
  float: left;
  width: 60px;
  height: 40px;
  line-height: 40px;
}

#edit_range {
  margin: 2.5px 0;
  width: 240px;
  height: 35px;
  float: left;
}

#edit_range #btn_range .btn_select {
  height: 35px;
}

#edit_range #btn_range ul {
  top: 3.5px;
}

#edit_range #btn_range > .chk-box {
  top: auto;
  bottom: 100%;
  border-top: 1px solid #e5e8eb;
  border-bottom: none;
}

#edit_range + input {
  float: left;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background: #44d095;
  color: #fff;
  text-align: center;
  margin-left: 10px;
}

#img_upload > .fl.fw_b {
  width: 160px;
  padding-top: 12px;
}
#img_upload > .fl.fw_b + .fl {
  width: 460px;
}
#img_upload > .fl.fw_b + .fl .table {
  width: 460px;
  margin-bottom: 40px;
  display: table;
  border-collapse: separate;
  border-spacing: 0 10px;
}
#img_upload > .fl.fw_b + .fl .table .tr {
  display: table-row;
}
#img_upload > .fl.fw_b + .fl .table .tr .th, #img_upload > .fl.fw_b + .fl .table .tr .td {
  display: table-cell;
  vertical-align: middle;
  margin-top: 10px;
}
#img_upload > .fl.fw_b + .fl .table .tr .th {
  width: 117px;
}
#img_upload > .fl.fw_b + .fl .table .tr .th img {
  width: 100%;
}
#img_upload > .fl.fw_b + .fl .table .tr .td {
  padding-left: 27px;
  width: 326px;
}
#img_upload > .fl.fw_b + .fl .table .tr .td a {
  position: relative;
  padding-left: 17px;
  cursor: text;
}
#img_upload > .fl.fw_b + .fl .table .tr .td a span:first-child {
  cursor: pointer;
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: url(/img/common/btn_delete.png) center center no-repeat;
}
#img_upload > .fl.fw_b + .fl .table .tr .td a span:last-child {
  border-bottom: 1px solid #333;
}

.fileInput {
  position: relative;
  width: 118px;
  height: 25px;
  border-radius: 2px;
  margin-top: 6px;
  text-align: center;
  line-height: 25px;
  color: #fff;
  background: #bbb;
  font-size: 12px;
  font-weight: bold;
}
.fileInput.maxFile {
  color: #ddd;
}
.fileInput input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.fileInput + div {
  margin-bottom: 15px;
}
.fileInput + div > p {
  margin-top: 10px;
}
.fileInput + div > p a {
  padding-left: 17px;
  cursor: text;
  position: relative;
}
.fileInput + div > p a span:first-child {
  cursor: pointer;
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: url(/img/common/btn_delete.png) center center no-repeat;
}
.fileInput + div > p a span:last-child {
  border-bottom: 1px solid #333;
}
.fileInput + div > p:first-child {
  margin-top: 15px;
}
.fileInput + div > p:last-child {
  margin-bottom: 22px;
}

#addsite {
  margin-top: 20px;
  height: 17px;
}
#addsite a {
  padding-left: 27px;
  line-height: 17px;
  color: #bbb;
  background: url(/img/common/icon_add.png) 4px center no-repeat;
}

#btn_cancell {
  float: left;
  display: block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  margin-left: 10px;
  background: #bbb;
}

.txt_eleft {
  line-height: 17px;
}

.btn_modalOpen {
  display: block;
  font-size: 12px;
  height: 17px;
  padding-left: 22px;
  line-height: 17px;
  background: url(/img/common/icon_add.png) left center no-repeat;
  color: #bbb;
}

.modal-edit-active #modal_share {
  height: 580px;
}
.modal-edit-active #modal_share .textarea {
  position: relative;
  padding: 10px;
  padding-bottom: 170px;
  height: 90px;
}
.modal-edit-active #modal_share .textarea .share-art {
  position: absolute;
  box-sizing: border-box;
  width: 418px;
  height: 150px;
  border: 1px solid #e5e8eb;
  padding: 12px 7px;
  bottom: 10px;
  left: 50%;
  margin-left: -209px;
}
.modal-edit-active #modal_share .textarea .share-art p {
  text-align: left;
}
.modal-edit-active #modal_share .textarea .share-art .txt_11 {
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 7px;
}
.modal-edit-active #modal_share .textarea .share-art .txt_11 span {
  text-decoration: underline;
}
.modal-edit-active #modal_share .textarea .share-art .txt_14 {
  font-size: 14px;
  padding-bottom: 11px;
  border-bottom: 1px solid #e5e8eb;
  margin: 0;
}
.modal-edit-active #modal_share .textarea .share-art .txt_13 {
  font-size: 13px;
  line-height: 24px;
}
.modal-edit-active #modal_share .textarea .share-art .txt_13 a {
  display: inline;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-left: 3px;
  color: #333;
  font-size: 13px;
  background: transparent;
  text-decoration: underline;
}
.modal-edit-active #modal_share .textarea:after {
  display: none;
}
.modal-edit-active #modal_share textarea {
  padding: 10px;
  height: auto;
  min-height: 90px;
  border-bottom: none;
  margin-bottom: 0;
}
.modal-edit-active #modal_share #bg_tag {
  float: left;
  width: 289px;
  border-right: 1px solid #e5e8eb;
}
.modal-edit-active #modal_share .bdt {
  border-top: 1px solid #e5e8eb;
}
.modal-edit-active #modal_share #btn_range {
  width: 169px;
}
.modal-edit-active #modal_share #btn_range ul {
  z-index: 20;
}
.modal-edit-active #modal_share .chk-box {
  text-align: left;
}
.modal-edit-active #modal_share .ta-c {
  margin-top: 42px;
  text-align: center;
}
.modal-edit-active #modal_share .ta-c .modal_close,
.modal-edit-active #modal_share .ta-c .modal_share_cload {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.modal-edit-active #modal_share .ta-c .modal_share_cload {
  width: 140px;
  background: #44d095;
  margin-left: 5px;
}
.modal-edit-active #modal_share .ta-c .modal_close {
  width: 120px;
  background: #bbb;
}

#modal_share {
  z-index: 12000;
  transition: .2s;
  overflow: hidden;
}
#modal_share #post-form .clear {
  width: 100%;
}

#modal_edit {
  display: none;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
  width: 680px;
  height: 600px;
  transition: .2s;
}

#modal_edit.complete {
  width: 620px;
  height: 320px;
  padding: 60px 30px;
}

#modal_edit > div > .txt_14:first-child {
  text-align: center;
  margin-bottom: 32px;
}

#modal_edit > div > .txt_14:first-child + .clear {
  width: 100%;
}

#modal_edit > div > .txt_14:first-child + .clear p {
  height: 24px;
  line-height: 24px;
  float: left;
}

#modal_edit > div > .txt_14:first-child + .clear input {
  float: right;
  width: 294px !important;
  margin-top: 0 !important;
}

#modal_edit a.btn_modalLawyer {
  display: block;
  float: right;
  height: 23px;
  padding: 0 10px;
  margin-top: -3.5px;
  background: #44d095;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  line-height: 23px;
}

#modal_edit #modal_detail .slimScrollDiv {
  height: 420px;
}

#modal_edit .slimScrollDiv {
  height: 406px;
  margin: 10px 0 25px;
  border: 1px solid #e5e8eb;
}

#modal_edit .slimScrollDiv .scroll-box {
  height: 100%;
  margin: 0;
  border: none;
  padding: 0;
}

#modal_edit .btn_can {
  display: inline-block;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  background: #bbb;
  cursor: pointer;
}

#modal_edit .scroll-item {
  cursor: pointer;
}

#modal_edit .scroll-item.selected {
  background: #edfbfc !important;
}

#modal_edit .scroll-item.selected * {
  background-color: transparent;
}

#modal_edit .ta_c {
  text-align: center;
}

#modal_edit .ta_c .btn_import {
  display: inline-block;
  width: 212px;
  height: 30px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  background: #44d095;
  cursor: pointer;
}

#modal_edit .ta_c .btn_can {
  margin-left: 16px;
}

#modal_edit #modal_detail .modal_back {
  width: auto;
  height: 14px;
  padding: 0;
  padding-left: 22px;
  font-size: 12px;
  line-height: 14px;
  color: #bbb;
  font-weight: normal;
  background: url(/img/common/icon_circle_arrow_left.png) 3px center no-repeat;
}

#modal_edit #modal_detail .scroll-box > div {
  background: #fff !important;
  padding: 8px 10px;
}

#modal_edit #modal_detail .scroll-box > div * {
  background: #fff !important;
}

#modal_edit #modal_detail .scroll-box > div > p.txt_14:first-child + p.txt_22 {
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e8eb;
}

#modal_edit #modal_complete p.fw_b {
  margin-bottom: 16px;
}

#modal_edit #modal_complete p.fw_b + p.txt_14 {
  height: 54px;
  line-height: 27px;
}

#modal_edit #modal_complete span {
  width: 315px;
  display: inline-block;
  text-align: center;
  color: #fff;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
}

#modal_edit #modal_complete span.btn_return {
  margin: 27px auto 10px;
  background: #44d095;
}

#modal_edit #modal_complete span.modal_close {
  background: #bbb;
}

/* SAVED FILE */
.knowledge_savefile .detail-head-gray {
  padding: 0 19px;
  font-size: 11px;
  line-height: 18px;
  height: 18px;
  color: #bbb;
  background: #eee;
  border-bottom: #e5e8eb;
}

.knowledge_savefile .detail-wrap {
  padding: 0 19px;
}

.knowledge_savefile .detail-box {
  width: 620px;
  padding: 0;
}

.knowledge_savefile .detail-head {
  position: relative;
  padding: 15px 0 7px;
}

.knowledge_savefile .detail-head .detail-author {
  position: relative;
  font-size: 11px;
  line-height: 19px;
  height: 19px;
  width: 330px;
  padding-left: 27px;
  color: #bbb;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.knowledge_savefile .detail-head .detail-author span.icon_circle {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
}

.knowledge_savefile .detail-head .detail-author span.icon_circle img {
  width: 100%;
}

.knowledge_savefile .detail-head .detail-author span.fw_b {
  color: #333;
  margin-right: 7px;
}

.knowledge_savefile .detail-head .post-meta {
  position: absolute;
  bottom: 26px;
  right: 0;
}

#side-link .ttl_sub_side + .side_year {
  margin-top: 30px;
}

#side-link .side_year {
  margin-bottom: 20px;
  transition: margin-bottom .2s;
  padding: 0 10px 0;
}

#side-link .side_year .side_year_ttl {
  cursor: pointer;
  display: block;
  width: 50px;
  font-size: 11px;
  color: #bbb;
  font-weight: bold;
  background: url(/img/common/arrow_open.png) right center no-repeat;
}

#side-link .side_year .side_month {
  display: none;
}

#side-link .side_year .side_month a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  margin-right: 7px;
  padding: 0;
  height: 11px;
  line-height: 1em;
  padding-bottom: 1px;
  border-bottom: 1px solid #a9abad;
  margin-bottom: 18px;
}

#side-link .side_year.active {
  margin-bottom: 10px;
}

#side-link .side_year.active .side_year_ttl {
  background-image: url(/img/common/arrow_close.png);
}

#side-link .side_year.active .side_month {
  display: block;
  padding-top: 8px;
}
.knowledge_myfile.edit #modal_edit {
  top:50%!important;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
}

/* 関連資料（モーダル）
/*************************/
#fileModal {
  box-sizing: border-box;
  padding: 10px;
  height: 620px;
}
#fileModal #fileArea {
  width: 100%;
  height: 560px;
}
#fileModal #fileArea + a {
  width: 120px;
  background: #bbb;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin: 10px auto 0;
}


#post-form,
#post-form_ms {
  width: 458px;
  background: #fff;
  border: 1px solid #e5e8eb;
  border-bottom: none;
}

#post-form > .clear, #post-form > .select-input-box,
#post-form_ms > .clear, #post-form_ms > .select-input-box {
  border-bottom: 1px solid #e5e8eb;
}

#post-form .clear,
#post-form_ms .clear {
  position: relative;
}

#post-form .clear .select-input-box,
#post-form_ms .clear .select-input-box {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

#post-form > .clear:first-child:before,
#post-form_ms > .clear:first-child:before {
  position: absolute;
  z-index: 50;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #e5e8eb;
  top: 0;
  left: 50%;
  margin-left: -0.5px;
}

.select-input-box {
  box-sizing: border-box;
  position: relative;
}

.select-input-box select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 30px 13px 12px;
}

.select-input-box .btn_select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 30px 13px 12px;
  position: relative;
  background: #fff;
}

.select-input-box .select2-container {
  z-index: 10;
}

.select-input-box .btn_arrow {
  display: block;
  z-index: 0;
  position: absolute;
  width: 22px;
  height: 22px;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 4px;
  margin: auto;
  background: url(/img/common/arrow_select.png) center center no-repeat;
}

.select2-container--open + .btn_arrow, .open .btn_arrow {
  background: url(/img/common/arrow_select_open.png) center center no-repeat;
}

.post-txt {
  padding: 20px 22px 21px;
  position: relative;
}

.post-txt:after {
  content: "";
  display: block;
  position: absolute;
  width: 420px;
  height: 1px;
  bottom: 0;
  left: 20px;
  background: #e5e8eb;
}

.post-txt textarea {
  display: block;
  width: 100%;
  min-height: 102px;
  vertical-align: top;
}

#bg_tag,
#bg_tag_ms {
  padding-left: 21px;
  background: url(/img/common/icon_tag.png) 14px center no-repeat;
}

#bg_tag + .clear,
#bg_tag_ms + .clear {
  height: 38px;
}

#post-form .btn_form,
#post-form_ms .btn_form {
  box-sizing: border-box;
  width: 25%;
  float: left;
  border-right: 1px solid #e5e8eb;
  min-height: 100%;
  line-height: 38px;
}

#post-form .btn_form:first-child,
#post-form_ms .btn_form:first-child {
  padding-left: 31px;
  background: url(/img/common/icon_picture.png) 11px center no-repeat;
}

#post-form .btn_form:last-child,
#post-form_ms .btn_form:last-child {
  border-right: none;
  text-align: center;
}

#btn_range .btn_select,
#btn_range_ms .btn_select {
  height: 38px;
}

#btn_range ul,#btn_range_ms ul {
  display: block;
  position: absolute !important;
  width: 196px;
  height: 28px;
  top: 5px;
  left: 6px;
}

#btn_range .tag-select,
#btn_range_ms .tag-select {
  float: left;
  height: 28px;
  padding: 0 8px;
  margin-right: 5px;
  border-radius: 1px;
  color: #fff;
  line-height: 28px;
  background: #bbb;
}

#btn_range .btn_arrow,
#btn_range_ms .btn_arrow {
  z-index: 10 !important;
}

.chk-box {
  display: none;
  position: absolute;
  z-index: 12;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  border: 1px solid #eee;
  border-top: none;
  line-height: 25px;
}

.chk-box label {
  display: block;
  padding: 4px 12px 4px 20px;
}

.chk-box label:hover {
  background: #eee;
}

.chk-box > .chk-box {
  position: relative;
  display: block;
  padding: 0 !important;
  padding-left: 19px !important;
  border: none;
}

.open > .chk-box {
  display: block;
}

#post-form_ms .clear{
  width:100%;
}
