html,body{
  min-width:1080px;
}

body {
  font-size: 12px;
}

.slide-tabs-inner{
  position: relative;
}
.slide-tabs-inner ul{
  position: absolute;
  left:0;
  top:0;
}

.mb0{
  margin-bottom:0!important;
  padding-bottom:0!important;
}


#container {
  padding-left: calc(50% - 220px);
  padding-left: 320px;
}

#column-sub-profile {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 160px;
  box-sizing: border-box;
  width: 160px;
  height: 100%;
  padding-top: 112px;
  background-color: #212931;
}

#column-sub-profile a {
  font-size: 11px;
  line-height: 40px;
  display: block;
  height: 40px;
  padding-left: 12px;
  color: #fff;
}

#column-sub-profile a:hover, #column-sub-profile a.selected {
  opacity: .7;
}

#column-sub-content-profile {
  box-sizing: border-box;
  padding: 35px 0 50px;
}

#column-sub-content-profile > p {
  margin: 0 10px 10px;
}

#column-main-profile {
  float: left;
  padding-left: 400px;
}

footer {
  box-sizing: border-box;
  padding-left: 320px;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.mb30 {
  margin-bottom: 30px;
}

hr {
  margin: 15px 0;
  border: none;
  border-bottom: 1px solid #eee;
}

.bd-n {
  border: none;
}

.box {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 16px 20px;
  border: 1px solid #e5e8eb;
  background: #fff;
}

.box > div:last-child {
  margin-bottom: 0;
}

.box-title {
  line-height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 15px;
  padding: 0 0 10px;
  border-bottom: 1px solid #eee;
}

.box-title p {
  font-size: 16px;
  font-weight: bold;
}

.box-title a {
  margin-left: auto;
}

.box-columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 25px;
  padding: 0 0 15px;
  border-bottom: 1px solid #eee;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-columns-left {
  line-height: 22px;
  width: 60%;
  min-width: 370px;
}

.box-columns-left span {
  color: #bbb;
}

.box-columns-right {
  line-height: 14px;
  width: 30%;
  min-width: 200px;
  margin-left: 20px;
}

.box-columns-right span {
  font-size: 8px;
  color: #bbb;
}

.box-columns-right p {
  margin-bottom: 5px;
}

.box-columns-hr {
  display: block;
  width: 0;
  height: 80%;
  min-height: 80px;
  margin: 0;
  content: '';
  border-width: 0;
  border-right: 1px solid #e5e8eb;
}

.box-column {
  line-height: 21px;
  margin: 0 0 26px;
  padding: 0 0 34px;
  border-bottom: 1px solid #eee;
}

.box-column + .box-column {
  border: none;
}

.box-column-ranking {
  margin-bottom: 53px;
}

.box-scrollbox {
  width: 100%;
}

.box-scrollbox.half {
  width: 50%;
}

.box-scrollbox.half + .box-scrollbox {
  margin-left: 21px;
}

.box-scrollbox > p {
  margin: 0 0 10px;
}

.box-scrollbox-inner {
  overflow-y: scroll;
  box-sizing: border-box;
  min-width: 280px;
  height: 186px;
  padding: 0 10px;
  border: 1px solid #e5e8eb;
}

.link_arrow-right {
  display: inline-block;
  padding-left: 20px;
  color: #bbb;
  background: url(/img/common/icon_circle_arrow_right.png) 0 center no-repeat;
}

.link_edit {
  display: inline-block;
  padding-left: 20px;
  color: #bbb;
  background: url(/img/common/icon_setting_edit.png) 0 center no-repeat;
}

.list-01 li {
  line-height: 15px;
  padding: 9px 0;
  border-bottom: 1px solid #eee;
}

.list-01 li:last-child {
  border: none;
}

.list-01 li > a {
  display: block;
}

.profile-title {
  box-sizing: border-box;
  min-height: 130px;
  margin-bottom: 35px;
  padding: 35px 30px 0;
  background: #fff;
}

.profile-title_container p {
  font-size: 14px;
}

.profile-title_container h1 {
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  border-bottom: 1px solid #e5e8eb;
}

.profile-title .link_back {
  display: inline-block;
  margin-top: 10px;
  color: #bbb;
}

.profile-title .link_back:hover {
  text-decoration: underline;
}

.profile-title .link_back img {
  vertical-align: bottom;
}

.profile-title-search {
  padding: 32px 0 30px;
}

.profile-title-search > div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}

.profile-title-search > div .btn-primary {
  line-height: 34px;
  width: 70px;
  min-width: 70px;
  height: 34px;
  margin-left: 10px;
  padding: 0 10px;
}

.profile-title-search table {
  font-size: 12px;
  width: 100%;
}

.profile-title-search table th {
  width: 130px;
  padding: 0 10px 10px 0;
  text-align: right;
}

.profile-title-search table td {
  padding-bottom: 10px;
}

.profile-title-search .df {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.profile-title-search .df .input_text {
  width: 50%;
}

.profile-title-search .df .input_select {
  width: 50%;
  margin-left: 10px;
}

.profile-title-search .select-input-box {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 9px;
  padding: 4px 0;
  border: 1px solid #e5e8eb;
}


.profile-title-search .select2-container .select2-selection--multiple {
  line-height: 25px;
  height: 25px;
  min-height: auto;
}

.profile-title-search .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-left: 0;
}

.profile-title-search .select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-left: 4px;
}

.profile-title-search .select2-container .select2-search--inline .select2-search__field {
  padding-left: 10px;
}

.profile-wrap {
  width: 750px;
  margin: 0 auto 20px;
  padding-left:5px;
  padding-right:5px;
}

.profile-form-table {
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
  padding: 20px 0;
  border-collapse: separate;
  border: 1px solid #e5e8eb;
  background: #fff;
}

.profile-form-table tr {
  display: table;
  width: 95%;
  margin: 0 auto;
  padding: 24px 0;
  border-top: 1px solid #e5e8eb;
}

.profile-form-table .none_border {
  padding-bottom: 0;
}

.profile-form-table .none_border + tr {
  padding-top: 8px;
  border: none;
}

.profile-form-table thead tr {
  padding: 10px 0 20px;
  text-align: left;
  border: none;
}

.profile-form-table thead td {
  width: 480px;
  text-align: right;
}

.profile-form-table tbody {
  vertical-align: top;
}

.profile-form-table tbody th {
  line-height: 16px;
  width: 113px;
  text-align: right;
}

.profile-form-table tbody td {
  padding: 0 10px 0 20px;
}

.profile-submit-area {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-submit-area > div {
  font-size: 12px;
  font-weight: bold;
  margin-right: 20px;
}

.profile-submit-area .pop_up {
  padding-left: 0;
  vertical-align: text-bottom;
}

.profile-submit-area .input_select {
  width: 210px;
  margin-right: 10px;
}

.profile-submit-area .btn-primary {
  line-height: 40px;
  margin-right: 13px;
  width: 190px;
  height: 40px;
}

.profile-submit-area .btn-default {
  line-height: 40px;
  min-width: initial;
  padding: 0 10px;
  width: 99px;
  height: 40px;
}

input.input_text {
  font-size: 13px;
  line-height: 14px;
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  padding: 10px;
  border: 1px solid #e5e8eb;
  background-color: #fff;
}

input.input_text:placeholder-shown {
  color: #bbb;
}

input.input_text::-webkit-input-placeholder {
  color: #bbb;
}

input.input_text:-moz-placeholder {
  color: #bbb;
  opacity: 1;
}

input.input_text::-moz-placeholder {
  color: #bbb;
  opacity: 1;
}

input.input_text:-ms-input-placeholder {
  color: #bbb;
}

input.input_text + .input_text {
  margin-top: 8px;
}

.input_select {
  font-size: 14px;
  width: 80px;
  padding: 8px 10px;
  color: #c4c4c4;
  border: 1px solid #e5e8eb;
  border-radius: 0;
  background: #fff url("../../img/setting/arrow_select.png") right 10px center no-repeat;
}

.input_select + .input_select {
  margin-left: 6px;
}

.input_select.size_m {
  width: 180px;
}

.input_select.size_l {
  width: 100%;
}

.mt8 {
  margin-top: 8px;
}

.pop_up {
  position: relative;
  display: inline-block;
  padding-left: 11px;
  cursor: pointer;
}

.pop_up .pop_message {
  font-size: 12px;
  line-height: 22px;
  position: absolute;
  z-index: 2;
  top: 32px;
  left: -50px;
  display: none;
  box-sizing: border-box;
  width: 220px;
  padding: 16px 20px;
  text-align: left;
  color: #fff;
  background: #66d7db;
}

.pop_up .pop_message:after {
  position: absolute;
  bottom: 100%;
  left: 22%;
  width: 0;
  height: 0;
  margin-left: -10px;
  content: ' ';
  pointer-events: none;
  border: solid transparent;
  border-width: 10px;
  border-color: rgba(102, 215, 219, 0);
  border-bottom-color: #66d7db;
}

.pop_up:hover .pop_message {
  display: block;
}

.btn-default {
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
  box-sizing: border-box;
  min-width: 120px;
  height: 30px;
  padding: 0 30px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #bbb;
}

.btn-default:hover {
  background: #a2a2a2;
}

.btn-primary {
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
  box-sizing: border-box;
  min-width: 120px;
  height: 30px;
  padding: 0 30px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #6adad9;
}

.btn-primary:hover {
  background: #2db47b;
}

.slide-tabs,
.slide-tabs2 {
  position: relative;
  padding: 20px 20px 10px;
}

.slide-tabs-inner,
.slide-tabs-inner2 {
  overflow: hidden;
  /*overflow-x: scroll;*/
  height: 48px;
}

.slide-tabs-inner::-webkit-scrollbar {
  display: none;
}

.slide-tabs ul,
.slide-tabs2 ul {
  display: table;
  table-layout: fixed;
}

.slide-tabs li,
.slide-tabs2 li {
  display: table-cell;
  font-weight: bold;
  line-height:1.2em;
  position: relative;
  width:101px;
  padding:0 2px;
  border-right:1px solid #ecf1f2;
  vertical-align: middle;
  height: 30px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  word-wrap: break-word;
  background: #bbb;
}

.slide-tabs li.selected,
.slide-tabs2 li.selected {
  cursor: auto;
  background: #22313d;
}

.slide-tabs li.selected:after,
.slide-tabs2 li.selected:after {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto;
  content: '';
  border: 6px solid transparent;
  border-top-color: #22313d;
}

.slide-tabs .slide-arrow-left,
.slide-tabs .slide-arrow-right,
.slide-tabs2 .slide-arrow-left,
.slide-tabs2 .slide-arrow-right {
  position: absolute;
  top: 20px;
  cursor: pointer;
  width: 20px;
  height: 30px;
}

.slide-tabs .slide-arrow-left:hover,
.slide-tabs .slide-arrow-right:hover,
.slide-tabs2 .slide-arrow-left:hover,
.slide-tabs2 .slide-arrow-right:hover {
  opacity: .7;
}

.slide-tabs .slide-arrow-left,
.slide-tabs2 .slide-arrow-left {
  left: 0;
  background: url(/img/profile/arrow_left.png) center center no-repeat;
}

.slide-tabs .slide-arrow-right,
.slide-tabs2 .slide-arrow-right {
  right: 0;
  background: url(/img/profile/arrow_right.png) center center no-repeat;
}

.slide-tab-content {
  display: none;
}

.slide-tab-content.selected {
  display: block;
}

.graph-box {
  width: 100%;
  min-height: 180px;
}

.graph-box02 {
  line-height: 20px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 32px;
  padding: 0 0 22px;
  border-bottom: 1px solid #eee;
}

.graph-box02 > div {
  width: 40%;
}

.graph-box02 > div:last-child {
  text-align: right;
}

.graph-box02 .graph-box-center {
  font-size: 13px;
  font-weight: bold;
  width: 140px;
  text-align: center;
}

.graph-box02 .graph-bar {
  font-size: 10.89px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  text-align: center;
  color: #fff;
}

.graph-box02 .graph-bar.left {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.graph-box02 .graph-bar .bar-color1 {
  background: #406175;
}

.graph-box02 .graph-bar .bar-color2 {
  background: #73afc0;
}

.graph-box02 .graph-bar .bar-color3 {
  background: #7fd396;
}

.graph-box02 .graph-bar span {
  font-size: 5.94px;
}

.graph-box02 .graph-box-specialty {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  text-align: center;
}

.profile-scroll-list {
  font-size: 11px;
}

.profile-scroll-list li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.profile-scroll-list .list-icon_circle {
  margin: 5px 7px 0 0;
  content: ' ';
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.profile-scroll-list .list-icon_circle.color-01 {
  background: #7fd396;
}

.profile-scroll-list .list-icon_circle.color-02 {
  background: #5e9574;
}

.profile-scroll-list .list-icon_circle.color-03 {
  background: #1d3e37;
}

.profile-scroll-list .list-icon_circle.color-04 {
  background: #000;
}

.profile-scroll-list .list-icon_circle.color-05 {
  background: #73afc0;
}

.profile-scroll-list .list-icon_circle.color-06 {
  background: #406175;
}

.profile-scroll-list .list-icon_circle.color-07 {
  background: #13253e;
}

.profile-scroll-list .list-icon_circle.color-08 {
  background: #000;
}

.txt_locate {
  margin-left: auto;
  padding: 0 0 0 20px;
  color: #bbb;
  background: url(/img/common/icon_locate.png) 0 0 no-repeat;
}

.profile-tab {
  float: left;
  width: 210px;
}

.profile-tab li {
  line-height: 30px;
  position: relative;
  float: left;
  width: 50%;
  height: 30px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #bbb;
}

.profile-tab li.selected {
  background: #22313d;
}

.profile-tab li.selected:after {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto;
  content: '';
  border: 6px solid transparent;
  border-top-color: #22313d;
}

.profile-tab + .fr {
  line-height: 30px;
}

.profile-tab-content {
  display: none;
}

.profile-tab-content.selected {
  display: block;
}

.txt_8 {
  font-size: 8px;
}

#all {
  display: block;
}

#all + #selected {
  display: none;
}

#all.view {
  display: none;
}

#all.view + #selected {
  display: block;
}

.lawyer-box {
  font-size: 16px;
  margin: 9px 0 19px;
  border: 1px solid #e5e8eb;
  background: #fff;
}

.lawyer-box + .clear {
  margin-bottom: 58px;
}

.lawyer-box .lawyer-item {
  position: relative;
  padding: 15px 33px;
  cursor: pointer;
}

.lawyer-box .lawyer-item:hover {
  background: #eee;
}

.lawyer-box .lawyer-item.selected {
  background: #edfbfc !important;
}

.lawyer-box .lawyer-item + .lawyer-item:before {
  position: absolute;
  top: 0;
  left: 20px;
  display: block;
  width: 582px;
  height: 1px;
  content: '';
  background: #e5e8eb;
}

.lawyer-box .lawyer-item .icon_circle {
  width: 100px;
  height: 100px;
}

.lawyer-box .lawyer-item .icon_circle img {
  min-width: 100%;
}

.lawyer-box .lawyer-item .lawyer-content {
  width: 440px;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head {
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e8eb;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr {
  text-align: right;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr span {
  line-height: 17px;
  display: inline-block;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-rec {
  padding-left: 17px;
  background: url(/img/common/icon_medal.png) left center no-repeat;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-credit {
  margin-left: 17px;
  padding-left: 18px;
  background: url(/img/common/icon_exp.png) left center no-repeat;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-head .fr .icon-com {
  margin-left: 13px;
  padding-left: 22px;
  background: url(/img/common/icon_team2.png) left center no-repeat;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body {
  position: relative;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body:before {
  position: absolute;
  top: 3px;
  left: 274px;
  width: 1px;
  height: 50px;
  content: '';
  background: #e5e8eb;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl {
  width: 255px;
  padding-right: 20px;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl p {
  line-height: 20px;
  overflow: hidden;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fl p.txt_gray {
  padding-left: 15px;
  background: url(/img/common/icon_locate.png) 1px center no-repeat;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fr {
  width: 145px;
  padding-left: 20px;
}

.lawyer-box .lawyer-item .lawyer-content .lawyer-body .fr .txt_11 + .txt_8.txt_gray {
  margin-top: 10px;
}

.profile-timeline {
  position: relative;
  overflow-x: scroll;
  box-sizing: border-box;
  height: 260px;
  margin: 0 0 30px;
  border: 1px solid #e5e8eb;
}

.profile-timeline-background {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2250px;
  height: 100%;
  background: linear-gradient(to right, rgba(221, 221, 221, 0.3) 1%, rgba(221, 221, 221, 0.3) 50%, rgba(221, 221, 221, 0.3) 50%, rgba(238, 238, 238, 0.3) 51%, rgba(238, 238, 238, 0.3) 100%);
  background-size: 180px 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-timeline-background > div {
  font-size: 11px;
  line-height: 20px;
  width: 90px;
  height: 20px;
  text-align: center;
  background: #ddd;
}

.profile-timeline-background > div:nth-child(odd) {
  background: #eee;
}

.profile-timeline-career > div {
  font-size: 9px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  width: 90px;
  height: 20px;
  text-align: center;
  color: #fff;
}

.profile-title-checkbox-area {
  padding: 15px 0 28px;
}

.profile-title-checkbox-area .input_checkbox + label {
  padding: 10px 0 10px 20px;
}

.profile-title-checkbox-area .horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-title-checkbox-area .btn-primary {
  line-height: 38px;
  width: 130px;
  height: 38px;
}

/*****左メニューアコーディオン******/
.bookmark-item {
  margin-bottom: 5px;
  color: #fff;
}

.bookmark-item.open .bookmark-head {
  background-image: url(/img/common/arrow_close.png);
}

.bookmark-item.open .bookmark-links {
  display: block;
}

.bookmark-item .bookmark-head {
  cursor: pointer;
  background: url(/img/common/arrow_open.png) right 9px center no-repeat;
}

.bookmark-item .bookmark-head:hover {
  opacity: .7;
}

.bookmark-item .bookmark-links {
  display: none;
}

.bookmark-item .bookmark-links a {
  display: inline-block;
}

.bookmark-item .bookmark-links a:hover {
  opacity: .7;
}



.his{
  position: relative;
}
.his .btn_delete{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width:11px;
  height:11px;
  background:url(/img/common/btn_delete.png) center center no-repeat;
  cursor: pointer;
}
.add_button{
  position: relative;
}
.add_button .btn_delete2 {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  margin: auto;
  width: 11px;
  height: 11px;
  background: url(/img/common/btn_delete.png) center center no-repeat;
  cursor: pointer;
}
.law_delate .btn_delete2 {
  top:5px;
  left: -8px;
}
.position_delate .btn_delete2 {
  top:0px;
  left: 50px;
}
.language_delate .btn_delete2 {
  top:3px;
  left: 65px;
}

.profile-submit-area label{
  font-weight: normal;
}



#label_range {
    display: block;
    float: left;
    width: 60px;
    height: 40px;
    line-height: 10px;
    padding-top:10px;
}

#edit_range {
    margin: 2.5px 0;
    width: 240px;
    height: 35px;
    float: left;
}
#btn_range .btn_arrow {
    z-index: 10 !important;
}

#edit_range #btn_range .btn_select {
    height: 35px;
}

#edit_range #btn_range ul {
    top: 3.5px;
}

#edit_range #btn_range > .chk-box {
    top: auto;
    bottom: 100%;
    border-top: 1px solid #e5e8eb;
    border-bottom: none;
}
#edit_range #btn_range > .chk-box>.chk-box{
  position:relative;
}

#edit_range + input {
    float: left;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: #44d095;
    color: #fff;
    text-align: center;
    margin-left: 10px;
}

#btn_cancell {
    float: left;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    margin-left: 10px;
    background: #bbb;
}

aside .sub-aside{
	    padding-top: 60px;
}

/******************
  profile  basic infomation
**********************/

.preview-btnarea{
  margin: 20px auto 0;
  width: 340px;
  padding-bottom: 20px;
}
.preview-btnarea p{
  font-size: 14px;
  font-weight: 600;
}
.preview-btnarea .btnarea{
  margin-top: 10px;
  display: table;
}
.preview-btnarea .btnarea .left,
.preview-btnarea .btnarea .right{
  padding-right: 15px;
  text-align: center;
  display: table-cell;
}


/******Basic info グラフ******/
.profile-wrap {
  width: 760px!important;
  margin: 0 auto 20px;
}
.clear{
	/*clear:both;*/
}
.box-column{
	overflow:hidden;
}
.box-column .expart_legeng{
	float:left;
	width:30%;
	margin-left:3%;
}
.box-column .expart_legeng .legent_title{
	color:#bbbbbb;
	font-size:12px;
	margin-top:30px;
	margin-bottom:10px;
}
.box-column .expart_legeng .legend_list{
	color:#333333;
	font-size:12px;
	line-height:25px;

}
.box-column .expart_legeng .circle{
	width: 15px;
	height: 15px;
	-webkit-border-radius: 7.5px;
	-moz-border-radius: 7.5px;
	border-radius: 7.5px;
	float:left;
	margin-right:5px;
	margin-top:4px;
}
.box-column .expart_graph{
	float:left;
	width:30%;
}
.graph_innner{
	/*margin-top:150px;
	margin-bottom:-150px;
	text-align:center;*/
	text-align:center;
	font-size:13px;
	line-height:15px;
	color:#bbbbbb;
	position:relative;
	top:140px;
	left:-20px;
}
#sample{
	z-index:1;
}

#profile_form select{
  color:#bbb;
}

#profile_form select option{
  color:#333!important;
}

#profile_form select option:first-child{
  color:#bbb;
}

.ttl_side {
  background-image: url(/img/knowledge/ttl_side_knowledge.png);
}
