
/******************
  profile  basic infomation
**********************/

.preview-btnarea{
  margin: 20px auto 0;
  width: 340px;
  padding-bottom: 20px;
}
.preview-btnarea p{
  font-size: 14px;
  font-weight: 600;
}
.preview-btnarea .btnarea{
  margin-top: 10px;
  display: table;
}
.preview-btnarea .btnarea .left,
.preview-btnarea .btnarea .right{
  padding-right: 15px;
  text-align: center;
  display: table-cell;
}


/******Basic info グラフ******/
.profile-wrap {
  width: 780px!important;
  margin: 0 auto 20px;
}
.clear{
	/*clear:both;*/
}
.box-column{
	overflow:hidden;
}
.box-column .expart_legeng{
	float:left;
	width:30%;
	margin-left:3%;
}
.box-column .expart_legeng .legent_title{
	color:#bbbbbb;
	font-size:12px;
	margin-top:30px;
	margin-bottom:10px;
}
.box-column .expart_legeng .legend_list{
	color:#333333;
	font-size:12px;
	line-height:25px;

}
.box-column .expart_legeng .circle{
	width: 15px;
	height: 15px;
	-webkit-border-radius: 7.5px;
	-moz-border-radius: 7.5px;
	border-radius: 7.5px;
	float:left;
	margin-right:5px;
	margin-top:4px;
}
.box-column .expart_graph{
	float:left;
	width:30%;
}
.graph_innner{
	/*margin-top:150px;
	margin-bottom:-150px;
	text-align:center;*/
	text-align:center;
	font-size:13px;
	line-height:15px;
	color:#bbbbbb;
	position:relative;
	top:255px;
	left:-20px;
	margin-top:-40px;
#sample{
	z-index:1;
}



